<!-- begin:: Content section 2 -->
<!-- <div class="row">
	<div class="col-lg-12 col-md-offset-2">
		<div class="kt-portlet portlet-3">
			<div class="kt-portlet__head kt-bg-portlet-4">
				<div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon">
						<i class="fas fa-info  kt-font-inverse-brand"></i>
					</span>
					<h3 class="kt-portlet__head-title kt-font-inverse-brand">
						{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.TITRE_SHOW' | translate }}
					</h3>
				</div> 
			</div>
			<div class="kt-portlet__body">
				<div class="row">
					<div class="col-md-12 show_port">
						<table class="table pj" width="100%">
							<tbody>
								<tr>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.OBJET' | translate }} :</th>
									<td colspan="4" class="donnee_show">
										{{consultation.objet}}
									</td>
								</tr>
								<tr>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.BUDGET_ESTIMATIF' | translate }} :
									</th>
									<td class="donnee_show">
										{{consultation.budgetGlobalPropose  | macurrency}} </td>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.DATE_DEBUT' | translate }} :</th>
									<td class="donnee_show">
										{{consultation.dateDebutConsultation |date: 'dd/MM/yyyy'}} </td>
								</tr>
								<tr>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.TYPE' | translate }} : </th>
									<td class="donnee_show">
										{{consultation.type.libelle }}
									</td>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.SEUIL_MINIMAL' | translate }} :
									</th>
									<td>
										{{consultation.seuilMinimal}} </td>
								</tr>
								<tr>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.DIVISION' | translate }} :</th>
									<td class="donnee_show">
										{{divisionLibelle}} </td>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.SERVICE' | translate }} :</th>
									<td>
										{{serviceLibelle}} </td>
								</tr>
								<tr>
									<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.DESCRIPTION' | translate }} :</th>
									<td colspan="4" class="donnee_show">
										{{consultation.description}} </td>
								</tr>
							</tbody>
						</table>
						<div class="espace_bloc"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-offset-2">
		<div class="kt-portlet portlet-3">
			<div class="kt-portlet__head kt-bg-portlet-1">
				<div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon">
						<i class="fas fa-trophy kt-font-inverse-brand"></i>
					</span>
					<h3 class="kt-portlet__head-title kt-font-inverse-brand">
						{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.LIBELLE' | translate }}
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<form class="kt-form" autocomplete="off" #form="ngForm">
					<div class="row">
						<div class="col-md-12 show_port">
							<table class="table pj" width="100%">
								<tbody>
									<tr>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.NOM_PRESTATAIRE' | translate }}
											:</th>
										<td class="donnee_show">
											{{OffreAdjucataire.prestataire.nom}} </td>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.NUM_RC' | translate }}
											:</th>
										<td>
											{{OffreAdjucataire.prestataire.rc}} </td>
									</tr>
									<tr>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.TEL' | translate }}
											:</th>
										<td>
											{{OffreAdjucataire.prestataire.tel}} </td>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.EMAIL' | translate }}
											:</th>
										<td colspan="2">
											{{OffreAdjucataire.prestataire.mail}}</td>
									</tr>
									<tr>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.ADRESSE' | translate }}
											:</th>
										<td colspan="4">
											{{OffreAdjucataire.prestataire.adresse}}</td>
									</tr>
									<tr>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.TVA' | translate }}
											:</th>
										<td colspan="4" class="donnee_show">
											% {{tva}}</td>
									</tr>
									<tr>
										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.MHT' | translate }}
											:</th>
										<td class="donnee_show" style="font: bold; color:blue">
											{{OffreAdjucataire.commande.mntTotal | macurrency}} </td>

										<th>{{ 'PAGES.MARCHE.CONSULTATION_ARCHITECTURALE.ADJUDICATAIRE.MTTC' | translate }}
											:</th>
										<td class="donnee_show" style="font: bold; color:blue">
											{{OffreAdjucataire.commande.mntTtc | macurrency}} </td>
									</tr>
								</tbody>
							</table>
							<div class="espace_bloc"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->

<form class="kt-form" autocomplete="off" #form="ngForm">
	<!-- begin:: Content section 2 -->
	<div class="row">
		<div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head kt-bg-portlet-3">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="fas fa-dolly-flatbed kt-font-inverse-brand"></i>
						</span>
						<h3 class="kt-portlet__head-title kt-font-inverse-brand">
							{{ 'PAGES.MARCHE.BC.BC' | translate }}
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="row">
						<!-- <div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Reference :</label>
									<input type="number" matInput class="form-control"  name="refDeBC"
										[(ngModel)]="bonCommande.refDeBC"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div> -->
						<div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
									<label> {{ 'PAGES.MARCHE.AO.TYPE_SERVICE' | translate }} :</label>
                                    <mat-select class="form-control" [value]="bonCommande.typePrestation.id" (selectionChange)="onChangeTypePrestationAo($event)" placeholder="" [compareWith]="selectedValuetypePrestation"  >
                                        <mat-option *ngFor="let item of lisTypePrestationAo" value="{{item.id}}">
                                            {{item.libelle}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
					
					<!-- </div>
					<div class="row"> -->
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.AO.OBJET' | translate }}</label>
									<input matInput  required type="text" class="form-control" name="objet" [(ngModel)]="bonCommande.objet"  placeholder="" >
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
	
									<!-- <mat-error *ngIf="(form.submitted && objet.invalid) ">
										<div>
											<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
										</div>
									</mat-error> -->
								</mat-form-field>
							</div>
						</div>
					<!-- </div>
					<div class="row"> -->
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.BC.DATE_DEVIS' | translate }} </label>
									<input matInput class="form-control" [matDatepicker]="picker1" name="dateDevis"
										[(ngModel)]="bonCommande.dateDevis"
										placeholder="">
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker touchUi="true" #picker1></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
					
						<!-- <div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.BC.LIEUX_DEVIS' | translate }}</label>
									<input matInput class="form-control" type="text" name="lieuxDevis"
										[(ngModel)]="bonCommande.lieuxDevis"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row"> -->
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>Délai de livraison :</label>
									<input matInput class="form-control"  name="delaiLivraison"
										[(ngModel)]="bonCommande.delaiLivraison" type="text"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
		
						<!-- <div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.BC.DATE_RECEPTION' | translate }}</label>
									<input matInput class="form-control" [matDatepicker]="picker" name="dateLivraison"
										[(ngModel)]="bonCommande.dateLivraison"
										placeholder="">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker touchUi="true" #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row"> -->
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Bordeureau de prix :</label>
									<input type="number" matInput class="form-control"  name="bordereauPrix"
										[(ngModel)]="bonCommande.bordereauPrix"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
					<!-- </div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Raison sociale :</label>
									<input type="text" matInput class="form-control"  name="raisonSociale"
										[(ngModel)]="bonCommande.raisonSociale"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div> -->
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Montant estimatif du bon de commande :</label>
									<input type="number" matInput class="form-control"  name="montantDeBC"
										[(ngModel)]="bonCommande.montantDeBC"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
					<!-- </div>
					<div class="row"> -->
						<div class="col-md-6" *ngxPermissionsOnly="['canEditBonCommande']">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Estimation :</label>
									<input type="number" matInput class="form-control"  name="estimation"
										[(ngModel)]="bonCommande.estimation"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6" *ngxPermissionsOnly="['canEditBonCommande']">
								<div class="form-group">
									<mat-form-field class="example-full-width">
										<label> Raison sociale :</label>
										<input type="text" matInput class="form-control"  name="raisonSociale"
											[(ngModel)]="bonCommande.raisonSociale"
											placeholder="">
											<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
	
									</mat-form-field>
								</div>
						</div>
						<div class="col-md-6" *ngxPermissionsOnly="['canEditBonCommande']">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.BC.DATE_RECEPTION' | translate }}</label>
									<input matInput class="form-control" [matDatepicker]="picker" name="dateLivraison"
										[(ngModel)]="bonCommande.dateLivraison"
										placeholder="">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker touchUi="true" #picker></mat-datepicker>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6" *ngxPermissionsOnly="['canEditBonCommande']">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label>{{ 'PAGES.MARCHE.BC.LIEUX_DEVIS' | translate }}</label>
									<input matInput class="form-control" type="text" name="lieuxDevis"
										[(ngModel)]="bonCommande.lieuxDevis"
										placeholder="">
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>

								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head kt-bg-portlet-4">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="far fa-folder kt-font-inverse-brand"></i>
						</span>
						<h3 class="kt-portlet__head-title kt-font-inverse-brand">
							{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
						</h3>
					</div>
				</div>
				<hr>
				<div class="kt-portlet__body">
					<form enctype="multipart/form-data" method="POST" [formGroup]="addFileForm">
						<div style="display: -webkit-box;">
							<div class="col-md-4 show_port input-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" name="pj" (selectionChange)="onChangeType($event)"
										[(ngModel)]="formData.type"
										placeholder="{{ 'PAGES.MARCHE.AO.PJ.TYPE' | translate }}" required>
										<mat-option [value]=null>--{{ 'PAGES.MARCHE.AO.PJ.TYPE' | translate }}--
										</mat-option>
										<mat-option *ngFor="let item of typePJ" [value]="item.libelle">{{item.libelle}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-8 show_port input-group" style="top: 26px;">
								<label class="input-group-btn">
									<span class="btn btn-info">
										{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}<input type="file" name="file"
											(change)="fileChange($event)" formControlName="_file" id="customFile"
											style="display: none;" multiple>
									</span>
								</label>
								<input type="text" #inputFile class="form-control" readonly>
							</div>
						</div>
					</form>
					<div style="margin: 25px 0px 0px 9px;display: flex;">
						<button class="btn btn-success btn-md btn-tall" [disabled]="activeBtn" (click)="onSubmit()"
							matTooltip="{{ 'PAGES.GENERAL.SAVE' | translate }}">{{ 'PAGES.GENERAL.SAVE' | translate }}
						</button>
						<button class="btn btn-danger btn-md btn-tall" (click)="resetFile()"
							matTooltip="{{ 'PAGES.GENERAL.RESET' | translate }}">{{ 'PAGES.GENERAL.RESET' | translate }}
						</button>
					</div>
					<div *ngIf="ShowSuccessShare" class="alert alert-success">
						<strong>{{ 'PAGES.GENERAL.MSG_SAVED_CONFIRMED' | translate }} !</strong>
					</div>

					<div *ngIf="isLoadingForShare" class="spinner-cercle">
						<mat-progress-spinner color="warning" mode="indeterminate" aria-label="Loading...">
						</mat-progress-spinner>
						<div class="spiner-style">Loading...</div>

					</div>
					<div _ngcontent-idd-c40="" class="kt-separator kt-separator--dashed"></div>
					<table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
						<ng-container matColumnDef="icon">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.ATTCHEMENTS.FORMAT' | translate }}</th>
							<td mat-cell *matCellDef="let row"><img class="file_icon"
									src="./assets/media/files/{{FileExtension(row.name)}}"
									matTooltip="{{FileName(row.name)}}"></td>
						</ng-container>
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.ATTCHEMENTS.FICHIER' | translate }}</th>
							<td mat-cell *matCellDef="let row">{{FileName(row.name)  | slice:0:20}}</td>
						</ng-container>
						<ng-container matColumnDef="type">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.MARCHE.AO.PJ.TYPE' | translate }}</th>
							<td mat-cell *matCellDef="let row">{{row.type}}</td>
						</ng-container>
						<ng-container matColumnDef="dateFile">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.ATTCHEMENTS.DATE_CREATION' | translate }}
							</th>
							<td mat-cell *matCellDef="let row">{{row.dateFile  | date:'dd/MM/yyyy HH:mm'}}</td>
						</ng-container>
						<ng-container matColumnDef="fSize">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.ATTCHEMENTS.TAILLE_FICHIER' | translate }}
							</th>
							<td mat-cell *matCellDef="let row"> {{row.fSize/1000}} ko</td>
						</ng-container>
						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
							<td mat-cell *matCellDef="let row">
								<button type="button" (click)="onClickPjName(row.idAlfresco,row.id)"
									class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download"
									matTooltip="{{FileName(row.name)}}"><i class="flaticon-download-1"></i></button>
								<button type="button" (click)="onDeleteFile(row.id)"
									class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
									matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
										class="icon la la-trash"></i></button>
							</td>
						</ng-container>
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<div *ngIf="dataSource.data.length == 0 && isLoading == false"
						style="display: flex;justify-content: center;padding: 2%;color: orangered;">
						{{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
					</div>
					<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
						<mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
						</mat-progress-spinner>
					</mat-card>
					<mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined " [length]="dataSource.data.length"  [pageSize]="5" [pageIndex]="0"
						[pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
					<hr>
				</div>
			</div>
		</div> -->
		<div class="col-lg-12 col-md-offset-2">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-12 show_port">
					<!-- start section::edit file form -->
					<div class="row">
						<div class="col-md-2 show_port input-group">
							<mat-form-field class="example-full-width">
								<label>{{ 'PAGES.MARCHE.AO.TAB_360.AO.PJ.TYPE' | translate }} :</label>
								<mat-select class="form-control" name="unite" (selectionChange)="selectedTypePJ($event.value)"  [(ngModel)]="formPj.type" placeholder="">
									<mat-option *ngFor="let item of unites" [value]="item">{{item.libelle}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-2" *ngIf="isVisible13==true">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<label> Label:
									</label>
									<input matInput type="text" class="form-control" name="label"    [(ngModel)]="formPj.label" placeholder="" >
		
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6 show_port input-group">
							<form style="display: -webkit-inline-box;margin-inline-start: 98px;padding-top: 27px;">
								<label class="input-group-btn">
									<span class="btn btn-info">
										{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}<input type="file" (change)="save($event)" id="customFile" style="display: none;" multiple>
									</span>
								</label>
								<input id="test" type="text" class="form-control" readonly>
							</form>
						</div>
						<div class="col-md-2" style="padding-top: 27px;">
							<button class="btn btn-primary" type="button" (click)="validerPj()" style="position: absolute;right: 0px;">
								{{ 'PAGES.GENERAL.SAVE' | translate }}
							</button>
						</div>
					</div>
					
					<!-- end section::edit file form -->
					<hr>
					<!-- begin::file datasource -->
					<div *ngIf="dataSource" class="example-container mat-elevation-z8">

						<mat-table [dataSource]="dataSource" matSort>
							<!-- type Column -->
						<ng-container matColumnDef="type">
							<mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
								{{ 'PAGES.MARCHE.AO.TAB_360.AO.PJ.TYPE' | translate }}</mat-header-cell>
							<mat-cell *matCellDef="let row" class="chikaya_td"> {{row.type.libelle}} </mat-cell>
						</ng-container>
						<!-- label Column -->
						<ng-container matColumnDef="label">
							<mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
								Label</mat-header-cell>
							<mat-cell *matCellDef="let row" class="chikaya_td"> {{row.label?row.label:"-"}} </mat-cell>
						</ng-container>
							<!-- file name Column -->
							<ng-container matColumnDef="nomDoc">
								<mat-header-cell *matHeaderCellDef mat-sort-header>
									{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}</mat-header-cell>
								<mat-cell *matCellDef="let row"> <span *ngIf="row.idAlfresco == null ">{{row.selecetedFile[0].name}}</span>
									<span *ngIf="row.idAlfresco !== null "> {{row.name}}</span> </mat-cell>
							</ng-container>
							<ng-container matColumnDef="actions">
								<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
								<td mat-cell *matCellDef="let row">
									<button type="button" (click)="onClickPjName(row.idAlfresco,row.id)" [disabled]="!row.idAlfresco"
										class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download"
										><i class="flaticon-download-1"></i></button>
									<button type="button" (click)="onDeleteFile(row)"
										class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
										matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
											class="icon la la-trash"></i></button>
								</td>
							</ng-container>

							<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns1;">
							</mat-row>
						</mat-table>

					</div>
					<!-- end::file datasource -->
				</div>
			</div>
		</div>
		</div>
	</div>
	<!--Action Section :: begin-->
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label" align="right">
			<button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="submit"
				(click)="onEditBC()">
				<i class="icon la la-floppy-o"></i>
				{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
			<!-- <button class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
				(click)="backList()">
				<i class="icon la la-list"></i>
				{{ 'PAGES.GENERAL.EXIT' | translate }}</button> -->
		</div>
		<div class="espace_bloc"></div>
	</div>
	<!--Action Section :: end-->
</form>
