<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Programmer une visite:
				</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>Liste des établissements: </label>
					<mat-select [formControl]="etabControl" multiple class="form-control">
						<mat-option *ngFor="let type of etabliste" [value]="type.id"> 
							{{ type.libelle }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Agent:</mat-label>
					<mat-select [formControl]="agentControl" multiple class="form-control">
						<mat-option *ngFor="let type of agent" [value]="type.id"> 
							{{ type.prenom}} {{ type.nom }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<!-- <div class="fv-plugins-message-container"></div> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Date:</mat-label>
					<input [(ngModel)]="date"
						type="date"
						class="form-control-solid form-control-lg"
						name="address1"
						matInput
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<!-- <div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Heure:</mat-label>
					<input
						type="time"
						class="form-control-solid form-control-lg"
						name="address1"
						matInput
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div> -->
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Type:</mat-label>
					<mat-select [formControl]="typeControl" class="form-control">
							<mat-option *ngFor="let typec of type" [value]="typec.id"> 
								{{ typec.libelle }}
							</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>
	<div class="row">

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Sous-type:</mat-label>
					<mat-select [formControl]="stypeControl" class="form-control">
						<mat-option *ngFor="let typec of stype" [value]="typec.id"> 
							{{ typec.libelle }}
						</mat-option>
				</mat-select>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<mat-form-field class="example-full-width">
					<mat-select [formControl]="conventionControl"
						class="form-control-lg"
						placeholder="Convention"
					>
					<mat-option *ngFor="let typec of convention" [value]="typec.id"> 
						{{ typec.libelle }}
					</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<mat-label>Motif de visite:</mat-label>
					<input
				        [(ngModel)]="motifVisite"
						type="text"
						class="form-control-solid form-control-lg"
						name="address1"
						matInput
					/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	
	</div>

	<!-- <div class="m-6 text-center purple">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<mat-form-field class="example-full-width">
						<mat-select
							class="form-control-lg"
							placeholder="Convention"
						>
							<mat-option [value]="null">Convention A</mat-option>
							<mat-option [value]="''">Convention B</mat-option>
							<mat-option [value]="''">Convention C</mat-option>
							<mat-option [value]="''">Convention D </mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>
	</div> -->

	<div class="kt-portlet__heads">
		<div class="kt-portlet__head-label text-right">
			<button
				href="javascript:; "
				(click)="RetourEmbalages()"
				_ngcontent-dkp-c41=""
				class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			>
				<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
				Retour
			</button>
			<button
			     (click)="saveProgramme()"
				_ngcontent-dkp-c41=""
				class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				type="reset"
			>
				<i _ngcontent-dlp-c41 class="icon la la-floppy-o"></i>
				Enregistrer
			</button>
		</div>
	</div>
</div>
