<div class="modal fade bd-modifier-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5>
          <ng-content select=".modal-title">

          </ng-content>
        </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      
      <ng-content select=".modal-body">

      </ng-content>

      <ng-content select=".modal-footer">

      </ng-content>
    </div>
  </div>
</div>
