<div novalidate autocomplete="off">

	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					{{ "PAGES.PRODUIT.AJOUT" | translate }}
				</h2>
			</div>
		</div>
	</div>
<form  [formGroup]="ProduitForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container" >
				<mat-form-field class="example-full-width">
					<label> {{ "PAGES.PRODUIT.REFPROD" | translate }}:</label>
					<input matInput type="number" class="form-control form-control-solid form-control-lg" formControlName="refProduit"/>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container" >
				<mat-form-field class="example-full-width">
					<label> {{ "PAGES.PRODUIT.LIB" | translate }}:</label>
					<input matInput type="text" class="form-control form-control-solid form-control-lg" formControlName="lib"/>
				</mat-form-field>
			</div>
		</div>



	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container" formGroupName="typeProduit">
				<mat-form-field class="example-full-width">
					<label> {{ "PAGES.PRODUIT.TYPEPROD" | translate }} :</label>
					<mat-select class="form-control" placeholder=""  formControlName="id">
						<mat-option *ngFor="let type of type" [value]="type.id">{{type.nomArticleProduit}}
						</mat-option>
					</mat-select>
				</mat-form-field>
	 			<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container" >
				<mat-form-field class="example-full-width">
					<label> {{ "PAGES.PRODUIT.TARIF" | translate }}:</label>
					<input matInput type="number" class="form-control form-control-solid form-control-lg" formControlName="tarif"/>

				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
			<div class="col-md-6"></div>
		</div>
		
	</div>
	<div class="row">

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label> {{ "PAGES.PRODUIT.DESCR" | translate }}:</label>
					<textarea matInput type="text" class="form-control form-control-solid form-control-lg" row="5"  formControlName="description"
						name="address1" ></textarea>

				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<div class="kt-portlet__heads">
		<div class="kt-portlet__head-label text-right">
			<button href="javascript:; " (click)="Retour()" _ngcontent-dkp-c41=""
				class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
				<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
				{{ "PAGES.GENERAL.RETOUR" | translate }}
			</button>
			<button _ngcontent-dkp-c41="" (click)="Ajouter()"
				class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset">
				<i _ngcontent-dlp-c41 class="icon la la-floppy-o"></i>
				{{ "PAGES.GENERAL.SAVE" | translate }}
			</button>
		</div>
	</div>
	</form>
</div>
