<!-- begin:: Content -->
<div class="kt-portlet portlet-1 col-md-12">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			&nbsp;
			<h2 class="kt-portlet__head-title kt-font-inverse-brand">
				Détails de la visite N°:
			</h2>
		</div>

		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<a
						href="javascript:; "
						class="btn btn-outline-success btn-elevate btn-icon-sm"
					>
						<i class="la la-plus"></i> Ajouter
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center">
	<div class="kt-portlet portlet-1 col-md-5">
		<div class="kt-portlet__head kt-bg-portlet-2">
			<div class="kt-portlet__head-label">
				&nbsp;
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					Informations de la visite
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="espace_bloc"></div>
				<div class="col-md-12 show_port">
					<table class="table">
						<tbody>
							<tr>
								<th>Date :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Heure :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Type :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Sous-Type :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Nom de l'établissement :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Nom & Prénom gérant :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>Motif de la visite :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr></tr>
							<tr>
								<th>Statut/Decision :</th>
								<td class="donnee_show">aaaa</td>
							</tr>
							<tr>
								<th>P.V :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
							<tr>
								<th>P.J :</th>
								<td class="donnee_show text-danger">
									<mat-icon>picture_as_pdf</mat-icon>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="kt-portlet__heads">
	<div class="kt-portlet__head-label" align="right">
		<button
			href="javascript:;"
			(click)="prelevement()"
			_ngcontent-dkp-c41=""
			class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u active"
		>
			Prélévement
		</button>
		<button
			href="javascript:;"
			(click)="saisie()"
			_ngcontent-dkp-c41=""
			class="btn btn-danger btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u active"
		>
			Saisie
		</button>
	</div>
</div>
<div class="espace_bloc"></div>
<!-- end:: Content -->
