<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				{{ "PAGES.ACQUISITION.LISTE_AUTORISATIONS" | translate }}
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<button (click)="exportTable()" type="button" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}&nbsp;{{ 'PAGES.ACQUISITION.TITRE_INDEX' | translate }}">
						<i class="flaticon2-download text-success"></i>
					</button>
					<a href="javascript:; " (click)="addLAcquisition()" *ngxPermissionsOnly="['canCreateAssociation']" class="btn btn-success btn-elevate btn-icon-sm"> <i class="la la-plus"></i> {{ "PAGES.ACQUISITION.ADD_ACQ" | translate }} </a>
				</div>
			</div>
		</div>
	</div>
	<div class="example-header col-md-4">
		<i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}" />
		</mat-form-field>
	</div>
	<table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
		<!-- nom Column -->
		<ng-container matColumnDef="numSubvention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="numSubvention">
				{{ "PAGES.ACTIVITE.NUM_AUTORISATION" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="num">{{ row.numAcquisition }}</td>
		</ng-container>

		<!-- nom Column -->
		<ng-container matColumnDef="anneeSubvention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="natureActivite">{{ "PAGES.ACTIVITE.TYPE_ACTIVITE" | translate }}</th>
			<td mat-cell *matCellDef="let row" class="natureActivite">
				<!-- {{ row.nom ? (row.nom.length > 25 ? (row.nom | slice : 0 : 25) + "..." : row.nom) : "-" }} -->
				<a href="javascript:void(0);" matTooltip="{{ row.natureActivite }}"><i class="fas fa-info-circle"></i></a>{{ row.natureActivite }}
			</td>
		</ng-container>

		<!-- email  Column -->
		<ng-container matColumnDef="champActivite">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="champActivite">
				{{ "PAGES.LOGISTIQUE.CHAMPACT" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="mail">
				<!-- {{ row.email ? (row.email.length > 20 ? (row.email | slice : 0 : 17) + "..." : row.email) : "-" }} -->
				<a href="javascript:void(0);" matTooltip="{{ row.champActivite }}"><i class="fas fa-info-circle"></i></a>{{ row.champActivite }}
			</td>
		</ng-container>

		<!-- typeActiviteAssociation  Column -->
		<ng-container matColumnDef="montantSubvention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="montantSubvention">
				{{ "PAGES.LOGISTIQUE.MONTANT_T" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="montantSubvention">
				{{ row?.montantDemande ? row.montantDemande : "-" }}
			</td>
		</ng-container>

		<!-- Adresse local Column -->

		<!-- Fax / Num Tel Column -->
		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="DATE">{{ "PAGES.LOGISTIQUE.CIBLE" | translate }}</th>
			<td mat-cell *matCellDef="let row" class="date">{{ row?.cible ? row.cible : "-" }}</td>
		</ng-container>

		<!-- President Column -->
		<ng-container matColumnDef="natureSubvention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="natureSubvention">
				{{ "PAGES.ACQUISITION.RAYONNEMENT" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="natureSubvention">
				<!-- {{ row.nomPresident ? (row.nomPresident.length > 10 ? (row.nomPresident | slice : 0 : 15) + "..." : row.nomPresident) : "-" }} -->
				<a href="javascript:void(0);" matTooltip="{{ row.activite_de_rayonnement }}"><i class="fas fa-info-circle"></i></a>{{ row.activite_de_rayonnement }}
			</td>
		</ng-container>
		<!-- President Column -->
		<ng-container matColumnDef="nomProjet">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="nomProjet">
				{{ "PAGES.SUBVENTION.NOM_ACTIVITE" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="nomProjet">
				<!-- {{ row.nomPresident ? (row.nomPresident.length > 10 ? (row.nomPresident | slice : 0 : 15) + "..." : row.nomPresident) : "-" }} -->
				<a href="javascript:void(0);" matTooltip="{{ row.nomProjet }}"><i class="fas fa-info-circle"></i></a>{{ row.nomProjet }}
			</td>
		</ng-container>

		<!-- pour exporter excel -->
		<ng-container matColumnDef="dateCreation">
			<th hidden mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ التأسيس</th>
			<td hidden mat-cell *matCellDef="let row">{{ row.dateCreation | date : "dd/MM/yyyy" }}</td>
		</ng-container>
		<ng-container matColumnDef="datePvChangementBureau">
			<th hidden mat-header-cell *matHeaderCellDef mat-sort-header>إنتهاء صلاحية المكتب</th>
			<td hidden mat-cell *matCellDef="let row">{{ row.datePvChangementBureau | date : "dd/MM/yyyy" }}</td>
		</ng-container>
		<ng-container matColumnDef="annexeAdministratif">
			<th hidden mat-header-cell *matHeaderCellDef mat-sort-header>الملحقة</th>
			<td hidden mat-cell *matCellDef="let row">{{ row.annexeAdministratif }}</td>
		</ng-container>
		<!-- pour exporter excel -->

		<!-- Action Column -->
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="action"></th>
			<td mat-cell *matCellDef="let row" class="actionsBtn action">
				<button type="button" routerLink="/acquisition/show-acquisition/{{ row.id }}" *ngxPermissionsOnly="['canShowAssociation']" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i class="icon la la-search-plus"></i></button>
				<button type="button" routerLink="/acquisition/edit-acquisition/{{ row.id }}" *ngxPermissionsOnly="['canUpdateAssociation']" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="icon la la-edit"></i></button>
				<button type="button" (click)="deleteAcquisition(row.id)" *ngxPermissionsOnly="['canDeleteAssociation']" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		<!-- footer data -->
	</table>
	<div *ngIf="dataSize == 0 && isLoading == false" style="display: flex; justify-content: center; padding: 2%; color: orangered">
		{{ "PAGES.GENERAL.NO_RECORDS" | translate }}
	</div>
	<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
		<mat-progress-spinner color="primary" mode="indeterminate" diameter="50"> </mat-progress-spinner>
	</mat-card>
	<mat-paginator [length]="dataSize" [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
	<hr />
</div>
