<div class="kt-portlet__body">
    <div class="kt-section">
        <div class="example-header">
            <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>
                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.ATTESTATION.TYPE' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        {{row.type?.libelle}}
                    </mat-cell>
                </ng-container>
                <!-- delai Column -->
                <ng-container matColumnDef="delai">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.GENERAL.DELAI' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.type?.delai}} </mat-cell>
                </ng-container>

                <!-- statut Column -->
                <ng-container matColumnDef="statut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.GENERAL.STATUT_DEMANDE' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.statut?.libelle}} </mat-cell>
                </ng-container>
                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngxPermissionsOnly="['canShowAttestation']" (click)="show(row.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"><i class="icon la la-search-plus"></i></button>

                    </mat-cell>
                </ng-container>




                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>