.pj th {
    width: 14% !important;
}


/* EXPORT OPTIONS */

.fixe {
    text-align: right !important;
}

.btn-export {
    color: #ffffff !important;
    background-color: #3875e7 !important;
    padding: 5px 20px !important;
}

.export-align {
    margin-left: 2% !important;
}