<!-- begin:: Content section 2 -->
<div class="kt-portlet portlet-3">
	<div class="kt-portlet__head kt-bg-portlet-3">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="fas fa-bullhorn"></i>
			</span>
			&nbsp;
			<h3 class="kt-portlet__head-title kt-font-inverse-brand">
				{{ 'PAGES.INSERT_PUB.TITRE_EDIT' | translate }}
			</h3>
		</div>
	</div>
	<!-- (ngSubmit)="onSubmit()" -->
	<form novalidate [formGroup]="editForm" autocomplete="off">
		<div class="kt-portlet__body">
			<!-- **************************** -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="numEdition" matInput type="text" class="form-control"
								name="numEdition" placeholder="{{ 'PAGES.INSERT_PUB.NUM_EDITION' | translate }} * ">
							<mat-error *ngIf="isControlHasError('numEdition','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
							<mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- **************************** -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group date">
							<mat-form-field class="example-full-width">
								<input formControlName="dateEdition" matInput class="form-control" name="dateEdition"
									[matDatepicker]="picker2" (dateChange)="dateDebutchange()"
									placeholder="{{ 'PAGES.INSERT_PUB.DATE_EDITION' | translate }} * ">
								<mat-error *ngIf="isControlHasError('dateEdition','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
								</mat-error>
								<mat-datepicker-toggle matSuffix [for]="picker2">
									<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i>
									</mat-icon>
								</mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #picker2></mat-datepicker>
							</mat-form-field>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group date">
							<mat-form-field class="example-full-width">
								<input formControlName="datePublication" matInput class="form-control"
									name="datePublication" [matDatepicker]="picker1"
									placeholder="{{ 'PAGES.INSERT_PUB.DATE_PUBLICATION' | translate }} * ">
								<mat-error *ngIf="isControlHasError('datePublication','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
								</mat-error>
								<mat-datepicker-toggle matSuffix [for]="picker1">
									<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i>
									</mat-icon>
								</mat-datepicker-toggle>
								<mat-datepicker touchUi="true" #picker1></mat-datepicker>
							</mat-form-field>
						</div>

					</div>
				</div>

			</div>
			<!-- **************************** -->
			<div class="row" formGroupName="media">
				<div class="col-md-6" formGroupName="supportPublicitaire">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<mat-select matNativeControl formControlName="id" (selectionChange)="supportChanged($event)"
								class="form-control" placeholder="{{ 'PAGES.INSERT_PUB.SUPPORT' | translate }} * ">
								<mat-option *ngFor="let support of supports" [value]="support.id">
									{{support.nomSupport}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('supportPublicitaire','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<mat-select matNativeControl formControlName="id" class="form-control"
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIAS' | translate }} * ">
								<mat-option *ngFor="let media of medias" [value]="media.id">
									{{media.nom}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('media','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- **************************** -->
			<div class="row">
				<!-- DIVISION -->
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<mat-select matNativeControl class="form-control"
								(selectionChange)="selectionChanged($event)" formControlName="idDivision"
								placeholder="{{ 'PAGES.ORGANISATION.DIVISION' | translate }} * ">
								<mat-option *ngFor="let div of divisions" [value]="div.id">
									{{div.libelle}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('idDivision','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<!-- SERVICE -->
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<mat-select matNativeControl class="form-control" formControlName="idService"
								placeholder="{{ 'PAGES.ORGANISATION.SERVICE' | translate }} * ">
								<mat-option *ngFor="let serv of services" [value]="serv.id">
									{{serv.libelle}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('idService','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- **************************** -->

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<mat-form-field hintLabel="{{ 'PAGES.GENERAL.COMMENTAIRE' | translate }}" class="form-control"
							class="example-full-width">
							<textarea rows="4" #input maxlength="255" class="form-control" name="objet" matInput
								formControlName="objet" placeholder="{{ 'PAGES.INSERT_PUB.OBJET' | translate }}"
								required></textarea>
							<mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
							<mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
							<mat-error *ngIf="isControlHasError('objet','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>

				</div>
			</div>

			<!-- End field section-->
			<div class="row" formGroupName="factureInsertionPublicitaire">
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="numeroFacture" matInput type="number" class="form-control"
								name="numeroFacture" placeholder="{{ 'PAGES.INSERT_PUB.FACTURE.NUM' | translate }} * ">
							<mat-icon matSuffix><i class="fas fa-money-bill-alt"></i></mat-icon>
							<mat-error *ngIf="isControlHasError('numeroFacture','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group" formGroupName="statutFacturel">
						<mat-form-field class="example-full-width">
							<mat-select matNativeControl class="form-control" formControlName="id"
								placeholder="{{ 'PAGES.INSERT_PUB.FACTURE.STATUT' | translate }} * ">
								<mat-option *ngFor="let statut of statuts" [value]="statut.id">
									{{statut.libelle}}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="isControlHasError('statutFacturel','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="montantHT" matInput type="number" class="form-control" name=""
								placeholder="{{ 'PAGES.INSERT_PUB.FACTURE.MTHT' | translate }} * ">
							<mat-icon matSuffix><i class="fas fa-money-bill-alt"></i></mat-icon>
							<mat-error *ngIf="isControlHasError('montantHT','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="montantTtc" matInput type="number" class="form-control" name=""
								placeholder="{{ 'PAGES.INSERT_PUB.FACTURE.MTTTC' | translate }} * ">
							<mat-icon matSuffix><i class="fas fa-money-bill-alt"></i></mat-icon>
							<mat-error *ngIf="isControlHasError('montantTtc','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }} * </strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- Action section-->
		</div>
	</form>
</div>
<!-- end::content form -->

<!-- begin:: Content -->
<div class="kt-portlet">
	<div class="kt-portlet__head kt-bg-portlet-5">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-attachment"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			<div class="col-md-12 show_port">
				<!-- start section::edit file form -->
				<div class="row">
					<div class="col-md-6 show_port input-group">
						<form enctype="multipart/form-data" method="POST" [formGroup]="editFileForm"
							style="display: -webkit-inline-box;margin-inline-start: 98px;">
							<label class="input-group-btn">
								<span class="btn btn-info">
									{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}<input type="file" name="file"
										(change)="fileChange($event)" formControlName="_file" id="customFile"
										style="display: none;" multiple>
								</span>
							</label>
							<input type="text" class="form-control" readonly>
						</form>
					</div>
					<!-- <button type="button"
									class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md"
									matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
										class="flaticon-refresh"></i></button> -->

				</div>
				<!-- end section::edit file form -->
				<hr>
				<table *ngIf="files" class="table pj" width="100%">
					<thead>
						<tr>
							<td class="title_td">{{ 'PAGES.ATTCHEMENTS.TYPE' | translate }}</td>
							<td class="title_td" width="25%">{{ 'PAGES.ATTCHEMENTS.FICHIER' | translate }}
							</td>
							<td class="title_td">{{ 'PAGES.ATTCHEMENTS.DATE_CREATION' | translate }}</td>
							<td class="title_td">{{ 'PAGES.ATTCHEMENTS.TAILLE_FICHIER' | translate }}</td>
							<td class="title_td"></td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of files | async">
							<td><img class="file_icon" src="./assets/media/files/{{FileExtension(item.name)}}"
									matTooltip="{{FileName(item.name)}}"></td>
							<td> {{FileName(item.name)  | slice:0:20}}</td>
							<td>{{item.dateFile  | date:'dd/MM/yyyy HH:mm'}}</td>
							<td>{{item.fSize/1000}} ko</td>
							<td>
								<button type="button" (click)="onClickPjName(item.idAlfresco,item.id)"
									class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download"
									matTooltip="{{FileName(item.name)}}"><i class="flaticon-download-1"></i></button>
								<button type="button" (click)="onDeleteFile(item.id)"
									class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
									matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
										class="icon la la-trash"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="start">
					<p class="wait_text_bar">{{ 'PAGES.ATTCHEMENTS.WAIT_MSG' | translate }}</p>
					<mat-progress-bar class="progress_bar" mode='query'></mat-progress-bar>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:: Content -->

<!--Action Section :: begin-->
<div class="kt-portlet__head">
	<div class="kt-portlet__head-label" align="right">
		<div class="kt-form__actions">
			<button _ngcontent-dkp-c41=""
				class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" (click)="onSubmit()"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i _ngcontent-dkp-c41="" class="icon la la-floppy-o"></i>
				{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
			<button _ngcontent-dkp-c41="" class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				type="reset" (click)="back()">
				<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
				{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
		</div>
	</div>
	<div class="espace_bloc"></div>
</div>
<!--Action Section :: end-->
