<!-- begin:: Content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="">
                            {{ 'PAGES.GENERAL.EDITER_MVMT' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- begin:: Content section 2 -->
 <!--begin::Form-->
 <form [formGroup]="mvmtForm" (submit)="onSubmit()" class="kt-form">
    <div class="row">
        <div class="col-lg-12 col-md-offset-2">
            <div class="kt-portlet portlet-3">
                <div class="kt-portlet__head kt-bg-portlet-3">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="fas fa-address-card kt-font-inverse-brand"></i>
                        </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                                {{ 'PAGES.GENERAL.FORM_MVMT' | translate }}
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" formControlName="numMouvement" placeholder="{{ 'PAGES.GENERAL.NUM_MVM' | translate }} :" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                    <mat-error *ngIf="isControlHasError('numMouvement','required')">
                                            <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <mat-form-field class="example-full-width">
                                            <input matInput class="form-control" [matDatepicker]="picker"
                                                placeholder="{{ 'PAGES.GENERAL.DATE_MVM' | translate }} :"  formControlName="dateMouvement"   >
                                            <mat-datepicker-toggle matSuffix matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i>
                                                </mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                            <mat-error *ngIf="isControlHasError('dateMouvement','required')">
                                                    <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                                </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" formControlName="benificiaireTransaction" 
                                    placeholder="{{ 'PAGES.GENERAL.BENIFCI_TRANSACT' | translate }} :"  >
                                    <mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
                                    <mat-error *ngIf="isControlHasError('benificiaireTransaction','required')">
                                        <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                   
                            <!-- <div class="col-md-6">
                                    <div class="form-group">
                                            <mat-form-field class="example-full-width">
                                                <mat-select class="form-control"  placeholder="{{ 'PAGES.GENERAL.TYPE' | translate }} :" formControlName="type" >
                                                        <mat-option [value]=null>---{{ 'PAGES.GENERAL.VIDE' | translate }}---</mat-option>
                                                        <mat-option *ngFor="let t of types" [value]="t">
                                                                {{t.libelle}}
                                                        </mat-option>
                                                </mat-select>
                                               
                                            </mat-form-field>
                                        </div>
                            </div> -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" class="form-control"
                                             formControlName="prixTransaction" placeholder="{{ 'PAGES.GENERAL.PRIX' | translate }} :" >
                                            <mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
                                            <mat-error *ngIf="isControlHasError('prixTransaction','required')">
                                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" class="form-control" formControlName="notaireNom" placeholder="{{ 'PAGES.GENERAL.NOTAIRE_NOM' | translate }} :"   >
                                            <mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" class="form-control" formControlName="notairePrenom" placeholder="{{ 'PAGES.GENERAL.NOTAIRE_RRENOM' | translate }} :"   >
                                            <mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                   
                    
                      
                            <div class="row">
                           
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" class="form-control" formControlName="remarque" placeholder="{{ 'PAGES.GENERAL.REMARQUE' | translate }} :"   >
                                                <mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                        
                                    </div>
                    
                           
                            <div class="kt-portlet__body">
                   
                                <div class="kt-form__actions">
                                    <button type="submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" class="btn btn-success btn-md btn-tall btn-wide">
                                        {{ 'PAGES.GENERAL.SAVE' | translate }} <i class="far fa-save"></i>
                                </button>
                                <button type="button" *ngxPermissionsOnly="['accessToIndexPatrimoine']" (click)="back()" class="btn btn-brand btn-md btn-tall btn-wide">
                                        {{ 'PAGES.GENERAL.EXIT' | translate }} <i class="fas fa-undo-alt"></i>
                                </button>
                                </div>
                            </div>
                        
                </div>
            </div>
        </div>
   
        
    </div>
</form>
