<div novalidate autocomplete="off">
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">Ajouter Carte sanitaire:</h2>
			</div>
		</div>
	</div>

	<mat-horizontal-stepper #stepper>
		<mat-step label="Employeur">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Raison social:</mat-label>
							<input [(ngModel)]="rs" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>IF:</mat-label>
							<input [(ngModel)]="ifiscal" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>RC:</mat-label>
							<input
								type="text"
								class="form-control-solid form-control-lg"
								name="address1"
								matInput
							/>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Ville:</mat-label>
							<mat-select matNativeControl class="form-control">
								<mat-option value="">Salé</mat-option>
								<mat-option value="">Rabat</mat-option>
								<mat-option value="">Casablanca</mat-option>
								<mat-option value="">Marrakech</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Nombre d'employés:</mat-label>
							<input [(ngModel)]="nbremploye" type="number" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>ICE:</mat-label>
							<input [(ngModel)]="ice" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Tél:</mat-label>
							<input [(ngModel)]="tel" type="tel" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Fax:</mat-label>
							<input [(ngModel)]="fax" type="tel" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group date">
							<mat-form-field class="example-full-width">
								<mat-label> Taxe professionnelle: </mat-label>
								<input [(ngModel)]="taxe" matInput type="text" class="form-control-lg" placeholder="" />
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Numéro d'autorisation:</mat-label>
							<input [(ngModel)]="numauto" type="number" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Email:</mat-label>
							<input [(ngModel)]="email" type="email" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Adresse:</mat-label>
							<input [(ngModel)]="adresse" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<div class="matPanelSceneSymbol"><i class="fas fa-address-card "></i></div>
						&nbsp;&nbsp;
						<h4 class="kt-portlet__head-title ">
							{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
						</h4>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="kt-portlet__body">
					<div class="row">
						<div class="col-md-12 show_port">
							<!-- start section::edit file form -->
							<div class="row">
								
								<div class="col-md-2" >
									<div class="form-group">
										<mat-form-field class="example-full-width">
											<label> Label:
											</label>
											<input id="cc" matInput type="text" class="form-control" (change)="labelDeclarant($event)" name="LabelPj"  [(ngModel)]="labelDeclar" placeholder="" >
				
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6 show_port input-group">
									<form  style="align-items: center; margin-inline-start: 98px; padding-top: 27px;" [formGroup]="ajoutForm">
										<div formGroupName="pj" style="display: flex; ">
											<label class="input-group-btn col-md-6" style="margin-right: 10px;">
												<span class="btn btn-info">
													{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}
													<input type="file" (change)="saveDec($event)" id="customFile" style="display: none;" multiple>
												</span>
											</label>
											<input id="testd" type="text" formControlName="pcfileDeclar" class="form-control" readonly>
										</div>
									</form>
								</div>
								<div class="col-md-2" style="padding-top: 27px;">
									<button class="btn btn-primary" type="button" (click)="validerPjDec()" style="position: absolute;right: 0px;">
										{{ 'PAGES.GENERAL.SAVE' | translate }}
									</button>
								</div>
							</div>
							
							<!-- end section::edit file form -->
							<hr>
							<!-- begin::file datasource -->
							<div   
							 *ngIf="dataSource3" class="example-container mat-elevation-z8">
		
								<mat-table [dataSource]="dataSource3" matSort>
									<ng-container matColumnDef="label">
										<mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
											Label</mat-header-cell>
										<mat-cell *matCellDef="let row" class="chikaya_td"> {{row.LabelPj?row.LabelPj:"-"}} </mat-cell>
									</ng-container>
									<!-- file name Column -->
									<ng-container matColumnDef="nomDoc">
										<mat-header-cell *matHeaderCellDef mat-sort-header>
											{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}</mat-header-cell>
										<mat-cell *matCellDef="let row"> {{row.selecetedFile.name}} </mat-cell>
									</ng-container>
									<ng-container matColumnDef="actions">
										<mat-header-cell *matHeaderCellDef mat-sort-header>
											{{ "PAGES.PROGRAMME.ACTIONS" | translate }}
										</mat-header-cell>
										<mat-cell *matCellDef="let row; let i=index">
											<button type="button" (click)="onDeletePjDec(i)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}">
												<i class="icon la la-trash"></i>
											</button>
										</mat-cell>
									</ng-container>
		
									<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
									<mat-row *matRowDef="let row; columns: displayedColumns1;">
									</mat-row>
								</mat-table>
		
							</div>
							<!-- end::file datasource -->
						</div>
					</div>
				</div>
			</mat-expansion-panel>
			<div class="kt-portlet__heads">
				<div class="kt-portlet__head-label text-right">
					<button href="javascript:; " _ngcontent-dkp-c41="" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" (click)="RetourEmbalages()">
						<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
						Retour
					</button>
					<button _ngcontent-dkp-c41="" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u active" matStepperNext>
						<i _ngcontent-dlp-c41 class="icon la la-plus-circle"></i>
						Suivant
					</button>
				</div>
			</div>
			<div class="espace_bloc"></div>
		</mat-step>

		<mat-step label="Employé">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Nom:</mat-label>
							<input [(ngModel)]="nom" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Prénom:</mat-label>
							<input [(ngModel)]="prenom" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>C.I.N:</mat-label>
							<input [(ngModel)]="cin" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Sexe:</mat-label>
							<mat-select [formControl]="sexeControl" class="form-control">
								<mat-option value="Homme"> Homme </mat-option>
								<mat-option value="Femme"> Femme </mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>N° CNSS:</mat-label>
							<input [(ngModel)]="numcnss" type="number" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date de naissance:</mat-label>
							<input [(ngModel)]="datenaissance" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Tél:</mat-label>
							<input [(ngModel)]="telemploye" type="tel" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Durée de validité de la carte:</mat-label>
							<input [(ngModel)]="duree" type="number" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Email:</mat-label>
							<input [(ngModel)]="emailemploye" type="email" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Fonction:</mat-label>
							<input [(ngModel)]="fonctionemploye" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date de recrutement:</mat-label>
							<input [(ngModel)]="daterecrutement" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date demande de la carte:</mat-label>
							<input [(ngModel)]="datedemandecarte" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date du prochain contrôle:</mat-label>
							<input [(ngModel)]="dateprocontrol" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group date">
							<mat-form-field class="example-full-width">
								<label> Statut de la demande de la carte: </label>
								<mat-select [formControl]="statutControl" matNativeControl class="form-control">
									<mat-option value="En cours de traitement">En cours de traitement</mat-option>
									<mat-option value="Expirée">Expirée</mat-option>
									<mat-option value="Valide">Valide</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<label>Type d'analyse demandé: </label>
							<mat-select [formControl]="typeControl" class="form-control" >
								<mat-option value="type1"> Type1 </mat-option>
								<mat-option value="type2"> Type2 </mat-option>
							</mat-select>
						</mat-form-field>
						<div class="fv-plugins-message-container"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<label>Décision: </label>
							<mat-select [formControl]="decisionControl" class="form-control">
								<mat-option value="Accepté"> Décision1 </mat-option>
								<mat-option value="Refusé"> Décision2 </mat-option>
							</mat-select>
						</mat-form-field>
						<div class="fv-plugins-message-container"></div>
					</div>
				</div>
				<!-- <div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Résultat de l'analyse:</mat-label>
							<input type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div> -->
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date de résultat:</mat-label>
							<input [(ngModel)]="dateresultat" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date de la quittance:</mat-label>
							<input [(ngModel)]="datequittance" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group date">
							<mat-form-field class="example-full-width">
								<label> N° quittance: </label>
								<input [(ngModel)]="numquitance"  type="number" name="address1" class="form-control" placeholder="" matInput/>
								<!-- input [(ngModel)]="duree" type="number" class="form-control-solid form-control-lg"  matInput -->
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Date de la délivrance de la carte:</mat-label>
							<input [(ngModel)]="datedelivrance" type="date" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group fv-plugins-icon-container">
						<mat-form-field class="example-full-width">
							<mat-label>Addresse:</mat-label>
							<input [(ngModel)]="adresseemploye" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
						</mat-form-field>
						<div class="fv-plugins-message-container"></div>

						<div class="fv-plugins-message-container"></div>
					</div>
				</div>
			</div>
		
			
			<div class="row">
				<div class="kt-portlet portlet-1 col-md-12">
					<div class="kt-portlet__head kt-bg-portlet-2">
						<div class="kt-portlet__head-label">
							&nbsp;
							<h2 class="kt-portlet__head-title kt-font-inverse-brand">Piéces jointes</h2>
						</div>
					</div>
				
					<div *ngIf="dataSource2" class="example-container mat-elevation-z8">
			
						<mat-table [dataSource]="dataSource2" matSort>
							<!-- file name Column -->
							<ng-container matColumnDef="nomDoc">
								<mat-header-cell *matHeaderCellDef mat-sort-header>
									Nom</mat-header-cell>
								<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
							</ng-container>
							<ng-container matColumnDef="titre">
								<mat-header-cell *matHeaderCellDef mat-sort-header>
									Sous Module</mat-header-cell>
								<mat-cell *matCellDef="let row"> {{row.sousModule}} </mat-cell>
							</ng-container>
							<ng-container matColumnDef="label">
								<mat-header-cell *matHeaderCellDef mat-sort-header>
									Libelle</mat-header-cell>
								<mat-cell *matCellDef="let row"> {{row.label}} </mat-cell>
							</ng-container>
							<ng-container matColumnDef="dow">
								<mat-header-cell *matHeaderCellDef mat-sort-header>
									{{ "PAGES.PROGRAMME.ACTIONS" | translate }}
								</mat-header-cell>
									<mat-cell *matCellDef="let row; let i=index">
										<button type="button" (click)="onClickPj(row.idAlfresco,row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}">
											<i class="icon la la-trash"></i>
										</button>
									</mat-cell>
							</ng-container>
			
							<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns2;">
							</mat-row>
						</mat-table>
					</div>
				</div>
			</div>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<div class="matPanelSceneSymbol"><i class="fas fa-address-card "></i></div>
						&nbsp;&nbsp;
						<h4 class="kt-portlet__head-title ">
							{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
						</h4>
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="kt-portlet__body">
					<div class="row">
						<div class="col-md-12 show_port">
							<!-- start section::edit file form -->
							<div class="row">
								
								<div class="col-md-2" >
									<div class="form-group">
										<mat-form-field class="example-full-width">
											<label> Label:
											</label>
											<input id="cc" matInput type="text" class="form-control" (change)="labelEmploye($event)" name="LabelEmpPj"  [(ngModel)]="labelEmp" placeholder="" >
				
										</mat-form-field>
									</div>
								</div>
								<div class="col-md-6 show_port input-group">
									<form  style="align-items: center; margin-inline-start: 98px; padding-top: 27px;" [formGroup]="ajoutFormEmp">
										<div formGroupName="pjemp" style="display: flex; ">
											<label class="input-group-btn col-md-6" style="margin-right: 10px;">
												<span class="btn btn-info">
													{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}
													<input type="file" (change)="saveEmp($event)" id="customFile" style="display: none;" multiple>
												</span>
											</label>
											<input id="teste" type="text" formControlName="pcfileEmp" class="form-control" readonly>
										</div>
									</form>
								</div>
								<div class="col-md-2" style="padding-top: 27px;">
									<button class="btn btn-primary" type="button" (click)="validerPjEmp()" style="position: absolute;right: 0px;">
										{{ 'PAGES.GENERAL.SAVE' | translate }}
									</button>
								</div>
							</div>
							
							<!-- end section::edit file form -->
							<hr>
							<!-- begin::file datasource -->
							<div   
							 *ngIf="dataSource4" class="example-container mat-elevation-z8">
		
								<mat-table [dataSource]="dataSource4" matSort>
								
									<ng-container matColumnDef="label">
										<mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
											Label</mat-header-cell>
										<mat-cell *matCellDef="let row" class="chikaya_td"> {{row.LabelPj?row.LabelPj:"-"}} </mat-cell>
									</ng-container>
									<!-- file name Column -->
									<ng-container matColumnDef="nomDoc">
										<mat-header-cell *matHeaderCellDef mat-sort-header>
											{{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}</mat-header-cell>
										<mat-cell *matCellDef="let row"> {{row.selecetedFile.name}} </mat-cell>
									</ng-container>
									<ng-container matColumnDef="actions">
										<mat-header-cell *matHeaderCellDef mat-sort-header>
											{{ "PAGES.PROGRAMME.ACTIONS" | translate }}
										</mat-header-cell>
										<mat-cell *matCellDef="let row; let i=index">
											<button type="button" (click)="onDeletePjEmp(i)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}">
												<i class="icon la la-trash"></i>
											</button>
										</mat-cell>
									</ng-container>
		
									<mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
									<mat-row *matRowDef="let row; columns: displayedColumns1;">
									</mat-row>
								</mat-table>
		
							</div>
							<!-- end::file datasource -->
						</div>
					</div>
				</div>
			</mat-expansion-panel>


			<div class="pb-5" data-wizard-type="step-content">
				<div class="kt-portlet">
					<div class="kt-portlet__heads">
						<div class="kt-portlet__head-label text-right">
							<button href="javascript:; " matStepperPrevious _ngcontent-dkp-c41="" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
								<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
								Retour
							</button>
							<button (click)="createCarte()" _ngcontent-dkp-c41="" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
								<i _ngcontent-dlp-c41 class="icon la la-floppy-o"></i>
								ENREGISTRER
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="espace_bloc"></div>
		</mat-step>
	</mat-horizontal-stepper>
</div>












