<!-- begin:: Content -->
<div class="row">
	<div class="col-lg-12">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="">
						{{ 'PAGES.PERSONNEL.TITRE_NEW' | translate }}
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- begin:: Content section 2 -->
<!--begin::Form-->
<form [formGroup]="personnelForm" (submit)="onSubmit()" class="kt-form">
	<div class="row">
		<div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="fas fa-address-card"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							{{ 'PAGES.PERSONNEL.CARTEID' | translate }}
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<!--  <mat-card *ngIf="notLoading, else fullLoading" style="display: flex; justify-content: center; align-items: center">
                                <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                                </mat-progress-spinner>
                            </mat-card>
                            <ng-template #fullLoading> -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" id="nom" class="form-control" formControlName="nom"
										placeholder="{{ 'PAGES.PERSONNEL.NOM' | translate }} :" required>
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
									<mat-error *ngIf="isControlHasError('nom','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" class="form-control" formControlName="prenom"
										placeholder="{{ 'PAGES.PERSONNEL.PRENOM' | translate }} :" required>
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
									<mat-error *ngIf="isControlHasError('prenom','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" class="form-control" formControlName="cin"
										placeholder="{{ 'PAGES.PERSONNEL.CIN' | translate }} :" required>
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
									<mat-error *ngIf="isControlHasError('cin','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="tel" class="form-control" formControlName="telephonefix"
										placeholder="{{ 'PAGES.PERSONNEL.TEL_FIX' | translate }} :">
									<mat-icon matSuffix><i class="fas fa-phone-alt"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="tel" class="form-control" formControlName="telephoneGsm"
										placeholder="{{ 'PAGES.PERSONNEL.TEL_GSM' | translate }} :">
									<mat-icon matSuffix><i class="fas fa-phone-alt"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">

									<input matInput type="email" class="form-control" formControlName="email"
										placeholder="{{ 'PAGES.PERSONNEL.EMAIL' | translate }} :">
									<mat-icon matSuffix><i class="fas fa-at"></i></mat-icon>
									<mat-error *ngIf="isControlHasError('email','email')">
										<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
									</mat-error>
									<mat-error *ngIf="isControlHasError('email','minlength')">
										<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="sex"
										placeholder="{{ 'PAGES.PERSONNEL.SEX' | translate }} :" required>
										<mat-option [value]=null>---{{ 'PAGES.PERSONNEL.SEX' | translate }}---
										</mat-option>
										<mat-option *ngFor="let s of sex" [value]="s">
											{{s.libelle}}
										</mat-option>

									</mat-select>
									<mat-error *ngIf="isControlHasError('sex','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="situationFamiliale"
										placeholder="{{ 'PAGES.PERSONNEL.SITUATIONF' | translate }} :" required>
										<mat-option [value]=null>---{{ 'PAGES.PERSONNEL.SITUATIONF' | translate }}---
										</mat-option>
										<mat-option *ngFor="let s of situationFamilials" [value]="s">
											{{s.libelle}}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="isControlHasError('situationFamiliale','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="number" class="form-control" formControlName="nbEnfantsM"
										placeholder="{{ 'PAGES.PERSONNEL.NBENFANTM' | translate }} :">
									<mat-icon matSuffix><i class="fas fa-users"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="number" class="form-control" formControlName="nbEnfantsF"
										placeholder="{{ 'PAGES.PERSONNEL.NBENFANTF' | translate }} :">
									<mat-icon matSuffix><i class="fas fa-users"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
					</div>
					<!--  </ng-template> -->
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="flaticon-map"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							{{ 'PAGES.PERSONNEL.INFOADM' | translate }}
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" class="form-control" (change)="checkMatricule()"
										formControlName="matricule"
										placeholder="{{ 'PAGES.PERSONNEL.MATRICULE' | translate }} :" required>
									<mat-icon matSuffix><i class="far fa-address-card"></i></mat-icon>
									<mat-error *ngIf="isControlHasError('matricule','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>

								</mat-form-field>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="idDivision"
										(selectionChange)=getServices($event)>
										<mat-option [value]=0>---{{ 'PAGES.ORGANISATION.DIVISION' | translate }}---
										</mat-option>
										<mat-option *ngFor="let division of divisions " value={{division.id}}>
											{{division.libelle}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="idService">
										<mat-option [value]=0>---{{ 'PAGES.ORGANISATION.SERVICE' | translate }}---
										</mat-option>
										<mat-option *ngFor="let service of services" value={{service.id}}>
											{{service.libelle}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="number" class="form-control" formControlName="grade"
										placeholder="{{ 'PAGES.PERSONNEL.GRADE' | translate }} :">
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="number" class="form-control" formControlName="echelle"
										placeholder="{{ 'PAGES.PERSONNEL.ECHELLE' | translate }} :">
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="number" class="form-control" formControlName="echlon"
										placeholder="{{ 'PAGES.PERSONNEL.ECHLON' | translate }} :">
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class="input-group date">
									<mat-form-field class="example-full-width">
										<input matInput class="form-control" [matDatepicker]="picker"
											placeholder="{{ 'PAGES.PERSONNEL.DATE_EMBAUCHE' | translate }} :"
											formControlName="dateEmbauche">
										<mat-datepicker-toggle matSuffix matSuffix [for]="picker">
											<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i>
											</mat-icon>
										</mat-datepicker-toggle>
										<mat-datepicker touchUi="true" #picker></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="typePersonnel"
										placeholder="{{ 'PAGES.PERSONNEL.TYPE' | translate }} :" required>
										<mat-option [value]=null>---{{ 'PAGES.PERSONNEL.TYPE' | translate }}---
										</mat-option>
										<mat-option *ngFor="let type of typePersonnels" [value]="type">
											{{type.libelle}}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="isControlHasError('typePersonnel','required')">
										<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<mat-select class="form-control" formControlName="niveauAcademique"
										placeholder="{{ 'PAGES.PERSONNEL.NIVEAU_AC' | translate }} :">
										<mat-option [value]=null>---{{ 'PAGES.PERSONNEL.NIVEAU_AC' | translate }}---
										</mat-option>
										<mat-option *ngFor="let niveau of niveauAcademiques" [value]="niveau">
											{{niveau.libelle}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="fas fa-graduation-cap"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							{{ 'PAGES.PERSONNEL.CONGES' | translate }}
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">

					<div class="row">

						<div class="col-md-6">
							<div class="form-group">

								<mat-form-field class="example-full-width">
									<mat-select class="form-control"
										placeholder="{{ 'PAGES.PERSONNEL.CONGES' | translate }}"
										formControlName="typesConges" multiple>
										<mat-option *ngFor="let type of typeConges" [value]="type">{{type.libelle}}
										</mat-option>
									</mat-select>

								</mat-form-field>
							</div>
						</div>
					</div>
					<!-- <div class="kt-form__actions">
                            <button type="submit" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" class="btn btn-success btn-md btn-tall btn-wide">
                                    {{ 'PAGES.GENERAL.SAVE' | translate }} <i class="far fa-save"></i>
                            </button>
                            <button type="reset" class="btn btn-secondary btn-md btn-tall btn-wide">
                                    {{ 'PAGES.GENERAL.RESET' | translate }} <i class="fas fa-times"></i>
                            </button>
                            <button type="button" *ngxPermissionsOnly="['canReadIndexPersonnel']" class="btn btn-brand btn-md btn-tall btn-wide">
                                    {{ 'PAGES.GENERAL.EXIT' | translate }} <i class="fas fa-undo-alt"></i>
                            </button>

                    </div> -->
				</div>
			</div>

		</div>
	</div>
	<!--Action Section :: begin-->
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label" align="right">
			<button type="submit" _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.SAVE' | translate }}"
				class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
				<i _ngcontent-dkp-c41="" class="icon la la-floppy-o"></i>
				{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
			<button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.RESET' | translate }}"
				class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
				(click)="onReset()">
				<i _ngcontent-dlp-c41 class="la la-recycle"></i>
				{{ 'PAGES.GENERAL.RESET' | translate }}</button>
			<button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.EXIT' | translate }}"
				class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
				(click)="backList()">
				<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
				{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
		</div>
		<div class="espace_bloc"></div>
	</div>
	<!--Action Section :: end-->
</form>
