<div class="desktop">
  <div class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="fas fa-address-card text-white"></i>
        </span>
        <h2 class="kt-portlet__head-title">
          Liste des planning prévisionnel
        </h2>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">

            <a href="javascript:; " (click)="add()" class="btn btn-success btn-elevate btn-icon-sm"
              *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']">
              <i class="la la-plus"></i>
              Ajout planning prévisionnel
            </a>

          </div>

        </div>
      </div>
    </div>
    <br>
    <div>
      <mat-accordion *ngIf="isPresident==true">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="background: linear-gradient(to right, #5d72b4, white);
              ">
            <mat-panel-title style="color: white;">
              Recherche
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="filterForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Filtre par catégorie:</mat-label>
                    <mat-select multiple class="form-control" name="typePrestation" formControlName="typePrestation"
                      placeholder="" (selectionChange)="addItemCategorie($event.value)"
                      [(ngModel)]="selectedOptionsCategorie">
                      <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                      <mat-option *ngFor="let item of lisTypePrestationAo" [value]="item">
                        {{item.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Filtre par date d'ouverture des plis:</mat-label>
                    <div class="date-filter-inputs">
                      <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>Start Date:</mat-label>
                        <input matInput type="date" id="startDate" formControlName="startDate" />
                      </mat-form-field>

                      <mat-form-field appearance="fill" class="example-full-width">
                        <mat-label>End Date:</mat-label>
                        <input matInput type="date" id="endDate" formControlName="endDate" />
                      </mat-form-field>
                    </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-3"></div>
              <div class="col-md-3" style="margin-top: 15px;">
                <button (click)="onSubmit()"
                  class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                  <i class="la la-search-plus"></i>
                  {{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
                </button>
              </div>
              <div class="col-md-3" style="margin-top: 15px;">
                <button (click)="reset()"
                  class="btn btn-warning btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                  <i class="icon la "></i>
                  {{ "PAGES.PROGRAMME.REINITIALISER" | translate }}
                </button>
              </div>
              <div class="col-md-3" style="margin-top: 15px;">
                <button style="background-color: #7174cc;" (click)="Recu()" type="button" class="btn btn-export"
                  matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }} ">
                  <i style="color: #ffffff;" class="icon la la-file-excel-o"></i><span style="color: #ffffff;">{{
                    'PAGES.GENERAL.DOWNLOAD' | translate }}</span>
                </button>
              </div>
            </div>
          </form>
        </mat-expansion-panel>

      </mat-accordion>

      <form [formGroup]="filterForm" *ngIf="isPresident==false">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Filtre par coordonnées du service concerné:</mat-label>
                <mat-select multiple class="form-control" name="CoordonneServiceConcerne"
                  (selectionChange)="addItemDivision($event.value)" formControlName="coordonneServiceConcerne"
                  placeholder="" [(ngModel)]="selectedOptionsDivision">
                  <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                  <mat-option *ngFor="let item of ServiceConcerne" value="{{item}}">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Filtre par président:</mat-label>
                <mat-select multiple class="form-control" name="president" formControlName="idPresident"
                  [disabled]="isPresident==true" placeholder="" (selectionChange)="addItemPresident($event.value)"
                  [(ngModel)]="selectedOptionsPresident">
                  <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                  <mat-option *ngFor="let item of president" value="{{item.id}}">
                    {{item.fullname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Filtre par catégorie:</mat-label>
                <mat-select multiple class="form-control" name="typePrestation" formControlName="typePrestation"
                  placeholder="" (selectionChange)="addItemCategorie($event.value)"
                  [(ngModel)]="selectedOptionsCategorie">
                  <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                  <mat-option *ngFor="let item of lisTypePrestationAo" [value]="item">
                    {{item.libelle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Filtre par date d'ouverture des plis:</mat-label>
                <div class="date-filter-inputs">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Start Date:</mat-label>
                    <input matInput type="date" id="startDate" formControlName="startDate" />
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>End Date:</mat-label>
                    <input matInput type="date" id="endDate" formControlName="endDate" />
                  </mat-form-field>
                </div>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3" style="margin-top: 15px;">
            <button (click)="onSubmit()"
              class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
              <i class="la la-search-plus"></i>
              {{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
            </button>
          </div>
          <div class="col-md-3" style="margin-top: 15px;">
            <button (click)="reset()" class="btn btn-warning btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
              <i class="icon la "></i>
              {{ "PAGES.PROGRAMME.REINITIALISER" | translate }}
            </button>
          </div>
          <div class="col-md-3" style="margin-top: 15px;">
            <button style="background-color: #7174cc;" (click)="Recu()" type="button" class="btn btn-export"
              matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }} ">
              <i style="color: #ffffff;" class="icon la la-file-excel-o"></i><span style="color: #ffffff;">{{
                'PAGES.GENERAL.DOWNLOAD' | translate }}</span>
            </button>
          </div>
        </div>
      </form>

    </div>
    <table *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']" id="exportData" mat-table
      [dataSource]="dataSourceTraveaux" class="mat-elevation-z8" matSort style="width: 100%;">

      <ng-container matColumnDef="objet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
          {{
          "PAGES.MARCHE.AO.OBJET" | translate
          }}
        </th>
        <td mat-cell class="objet" *matCellDef="let row">
          {{
          row.objet
          ? row.objet?.length > 80
          ? (row.objet | slice: 0:80) +
          "..."
          : row.objet
          : "-"
          }}
          <a href="javascript:void(0);" *ngIf="row.objet?.length > 80" matTooltip="{{ row.objet }}"><i
              class="fas fa-info-circle"></i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
          Numero de référence
        </th>
        <td mat-cell class="objet" *matCellDef="let row">
          {{
          row.numRef
          ? row.numRef?.length > 80
          ? (row.numRef | slice: 0:80) +
          "..."
          : row.numRef
          : "-"
          }}
          <a href="javascript:void(0);" *ngIf="row.numRef?.length > 80" matTooltip="{{ row.numRef }}"><i
              class="fas fa-info-circle"></i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="dateOuverturePlis">
        <th mat-header-cell *matHeaderCellDef>
          Date ouverture plis
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateOuverturePlis ? row.dateOuverturePlis : "-" }}

        </td>
      </ng-container>
      <ng-container matColumnDef="typePrestation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="typePrestation">
          Catégorie
        </th>
        <td mat-cell class="typePrestation" *matCellDef="let row">
          {{
          row.typePrestation.libelle
          ? (row.typePrestation.libelle )
          : '-'
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="natureAo">
        <th mat-header-cell *matHeaderCellDef>
          Nature appel d'offre
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.natureAo?.libelle ? row.natureAo?.libelle : "-" }}
        </td>
      </ng-container>





      <ng-container matColumnDef="CoordonneServiceConcerne">
        <th mat-header-cell *matHeaderCellDef>
          Service gestionnaire
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.coordonneServiceConcerne ? row.coordonneServiceConcerne : "-" }}

        </td>
      </ng-container>



      <ng-container matColumnDef="actions">
        <th class="actions" mat-header-cell *matHeaderCellDef>{{
          "PAGES.PROGRAMME.ACTIONS" | translate }}</th>
        <td class="actions" mat-cell *matCellDef="let row">
          <a href="javascript:;" (click)="show(row.id)" class="
                        btn
                        btn-sm
                        btn-clean
                        btn-icon
                        btn-success
                        btn-icon-md
                        btn_table_show
                    " matTooltip="{{
                        'PAGES.GENERAL.DETAILS'
                            | translate
                    }}"><i class="la la-search-plus"></i></a>
          <span>
            <a href="javascript:;" *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']"
              (click)="edit(row.id)" class="
                            btn
                            btn-sm
                            btn-clean
                            btn-icon
                            btn-warning
                            btn-icon-md
                            btn_table_edit
                        " matTooltip="{{
                            'PAGES.MARCHE.AO.UPDATE_EB'
                                | translate
                        }}"><i class="la la-edit"></i></a>
          </span>
          <span>
            <a href="javascript:;" (click)="delete(row.id)" class="
                    btn
                    btn-sm
                    btn-clean
                    btn-icon
                    btn-danger
                    btn-icon-md
                    btn_table_delete
                " matTooltip="{{
                    'PAGES.GENERAL.DELETE'
                        | translate
                }}"><i class="la la-trash"></i></a>
          </span>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="
                let row;
                columns: displayedColumns
            "></tr>
    </table>
    <mat-paginator *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']" [length]="sizeData"
      [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5, 10, 50]" (page)="handlePageEvent($event)"
      showFirstLastButtons></mat-paginator>
    <table *ngxPermissionsOnly="['accessToShowDownloadProgrammePrevisionnelModule']" id="exportData" mat-table
      [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width: 100%;">

      <ng-container matColumnDef="objet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
          {{
          "PAGES.MARCHE.AO.OBJET" | translate
          }}
        </th>
        <td mat-cell class="objet" *matCellDef="let row">
          {{
          row.objet
          ? row.objet?.length > 80
          ? (row.objet | slice: 0:80) +
          "..."
          : row.objet
          : "-"
          }}
          <a href="javascript:void(0);" *ngIf="row.objet?.length > 80" matTooltip="{{ row.objet }}"><i
              class="fas fa-info-circle"></i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
          Numero de référence
        </th>
        <td mat-cell class="objet" *matCellDef="let row">
          {{
          row.numRef
          ? row.numRef?.length > 80
          ? (row.numRef | slice: 0:80) +
          "..."
          : row.numRef
          : "-"
          }}
          <a href="javascript:void(0);" *ngIf="row.numRef?.length > 80" matTooltip="{{ row.numRef }}"><i
              class="fas fa-info-circle"></i></a>
        </td>
      </ng-container>
      <ng-container matColumnDef="typePrestation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="typePrestation">
          Catégorie
        </th>
        <td mat-cell class="typePrestation" *matCellDef="let row">
          {{
          row.typePrestation.libelle
          ? (row.typePrestation.libelle )
          : '-'
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="natureAo">
        <th mat-header-cell *matHeaderCellDef>
          Nature appel d'offre
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.natureAo?.libelle ? row.natureAo?.libelle : "-" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dateOuverturePlis">
        <th mat-header-cell *matHeaderCellDef>
          Date ouverture plis
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateOuverturePlisFormated ? row.dateOuverturePlisFormated : "-" }}

        </td>
      </ng-container>

      <ng-container matColumnDef="CoordonneServiceConcerne">
        <th mat-header-cell *matHeaderCellDef>
          Service gestionnaire
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.coordonneServiceConcerne ? row.coordonneServiceConcerne : "-" }}

        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="actions" mat-header-cell *matHeaderCellDef>{{
          "PAGES.PROGRAMME.ACTIONS" | translate }}</th>
        <td class="actions" mat-cell *matCellDef="let row">
          <a href="javascript:;" (click)="show(row.id)" class="
                    btn
                    btn-sm
                    btn-clean
                    btn-icon
                    btn-success
                    btn-icon-md
                    btn_table_show
                " matTooltip="{{
                    'PAGES.GENERAL.DETAILS'
                        | translate
                }}"><i class="la la-search-plus"></i></a>
          <span>
            <a href="javascript:;" *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']"
              (click)="edit(row.id)" class="
                        btn
                        btn-sm
                        btn-clean
                        btn-icon
                        btn-warning
                        btn-icon-md
                        btn_table_edit
                    " matTooltip="{{
                        'PAGES.MARCHE.AO.UPDATE_EB'
                            | translate
                    }}"><i class="la la-edit"></i></a>
          </span>
          <span>

          </span>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="
            let row;
            columns: displayedColumns
        "></tr>
    </table>

    <mat-paginator [length]="sizeData2" *ngxPermissionsOnly="['accessToShowDownloadProgrammePrevisionnelModule']"
      [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5, 10, 50]" (page)="handlePageEvent2($event)"
      showFirstLastButtons></mat-paginator>
  </div>
  <div style="overflow: hidden; height: 0">
    <div id="htmlData">
      <div class="toprint">
        <div class="row" style="width: 80%;margin: 20px auto;text-align: center;">
          <div class="col-md-3">
            <img style="width:500px;" alt="logo" src="./assets/media/logos/logo_comM.png">
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <img style="width:200px;" alt="logo" src="./assets/media/logos/logo_cum.png">
          </div>
        </div><br><br>
        <div class="row">
          <table class="table" style="width: 70%;margin: 20px auto;text-align: center;font-size: 30px;">
            <tr>
              <th style="border: none;"></th>
              <th>
              </th>
              <th style="border: none;font-size: 80px; font-weight: bold;">PROGRAMME PREVISIONNEL 2023</th>
              <th></th>
            </tr>

          </table>
        </div><br>
        <div class="row">
          <table class="table table-bordered"
            style="border:5px solid black;width: 80%;margin: 20px auto;text-align: center;font-size: 30px;">
            <tr *ngIf="toPrintTraveaux.length!=0 && toPrintTraveaux!=undefined"
              style="background-color: red;border:5px solid black">
              <th colspan="2" class="blackSolidBorder">Objet du marché</th>
              <th colspan="2" class="blackSolidBorder">Mode de passation</th>
              <th class="blackSolidBorder">Coordonnée du service concerné</th>
            </tr>
            <tr *ngIf="toPrintTraveaux.length!=0 && toPrintTraveaux!=undefined">
              <th colspan="5" style="background-color: red;border:5px solid black">TRAVAUX</th>
            </tr>
            <ng-container *ngIf="toPrintTraveaux.length!=0 && toPrintTraveaux!=undefined">
              <tr *ngFor="let item of toPrintTraveaux" style="border:5px solid black">
                <td colspan="2" class="blackSolidBorder">{{item?.objet ? item?.objet : '-'}}</td>
                <td colspan="2" class="blackSolidBorder">{{item?.natureAo?.libelle ? item?.natureAo?.libelle : '-'}}
                </td>
                <td class="blackSolidBorder" style="background-color: green;border:5px solid black">
                  {{item?.coordonneServiceConcerne ?
                  item?.coordonneServiceConcerne :
                  '-'}}</td>
              </tr>
            </ng-container>
            <tr *ngIf="toPrintFournitures.length!=0 && toPrintFournitures!=undefined"
              style="background-color: red;border:5px solid black">
              <th class="blackSolidBorder">Objet des services</th>
              <th class="blackSolidBorder">Quantité</th>
              <th class="blackSolidBorder">Lieu de livraison</th>
              <th class="blackSolidBorder">Mode de passation</th>
              <th class="blackSolidBorder">Coordonnée du service concerné</th>
            </tr>
            <tr *ngIf="toPrintFournitures.length!=0 && toPrintFournitures!=undefined">
              <th colspan="5" style="background-color: red;border:5px solid black">FOURNITURES</th>
            </tr>
            <ng-container *ngIf="toPrintFournitures.length!=0 && toPrintFournitures!=undefined">
              <tr *ngFor="let item of toPrintFournitures" style="border:5px solid black">
                <td class="blackSolidBorder">{{item?.objet ? item?.objet : '-'}}</td>
                <td class="blackSolidBorder">{{item?.quantite ? item?.quantite : '-'}}</td>
                <td class="blackSolidBorder">{{item?.lieuLivraison ? item?.lieuLivraison : '-'}}</td>
                <td class="blackSolidBorder">{{item?.natureAo?.libelle ? item?.natureAo?.libelle : '-'}}</td>
                <td style="background-color: green;border:5px solid black">{{item?.coordonneServiceConcerne ?
                  item?.coordonneServiceConcerne :
                  '-'}}</td>
              </tr>
            </ng-container>
            <tr *ngIf="toPrintServices.length!=0 && toPrintServices!=undefined"
              style="background-color: red;border:5px solid black">
              <th colspan="2" class="blackSolidBorder">Objet des services</th>
              <th colspan="2" class="blackSolidBorder">Mode de passation</th>
              <th class="blackSolidBorder">Coordonnée du service concerné</th>
            </tr>
            <tr *ngIf="toPrintServices.length!=0 && toPrintServices!=undefined">
              <th colspan="5" style="background-color: red;border:5px solid black">SERVICES</th>
            </tr>
            <ng-container *ngIf="toPrintServices.length!=0 && toPrintServices!=undefined">
              <tr *ngFor="let item of toPrintServices" style="border:5px solid black">
                <td colspan="2" class="blackSolidBorder">{{item?.objet ? item?.objet : '-'}}</td>
                <td colspan="2" class="blackSolidBorder">{{item?.natureAo?.libelle ? item?.natureAo?.libelle : '-'}}
                </td>
                <td style="background-color: green;border:5px solid black">{{item?.coordonneServiceConcerne
                  ?
                  item?.coordonneServiceConcerne :
                  '-'}}</td>
              </tr>
            </ng-container>
          </table>
        </div><br>

      </div>
    </div>
  </div>
</div>
<div class="mobile">



  <div class="m-5">
    <h1 class=" text-center p-2 font-weight-bolder">
      Planning prévisionnel de la commande publique de la commune de <span class="text-center"
        style="color:#7B362E">Marrakech</span>
    </h1>
  </div>

  <div class="card card-centent pt-3 pb-3 ">
    <div class="card-body d-flex justify-content-between">
      <h5 class="card-title">Liste des programmes previsionnell</h5>

      <a href="javascript:;" (click)="add()" class="btn ajout-button btn-elevate btn-icon-sm d-flex align-items-center"
        *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']">
        <i class="la la-plus"></i>
        <span class="ml-2"> Programme prévisionnel </span>
      </a>


      <button style="margin-left: 2px;" (click)="Recu()" type="button" class="btn btn-export d-flex align-items-center"
        matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}">
        <i class="fas fa-file-excel" style="color: white;"></i>
        <span style="color: white; margin-left: 5px;">{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}</span>
      </button>

    </div>


    <hr>
    <div class="container-fluid mt-3 ">

      <div class="container-fluid">

        <mat-accordion *ngIf="isPresident==true">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background: linear-gradient(to right, #5d72b4, white);
              ">
              <mat-panel-title style="color: white;">
                Recherche
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="filterForm" id="search-form">
              <div class="row">

                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <mat-label class="label-form">Président:</mat-label>
                      <mat-form-field appearance="none" class="example-full-width feild">

                        <mat-select multiple class="form-control" name="president" formControlName="idPresident"
                          [disabled]="isPresident==true" placeholder=""
                          (selectionChange)="addItemPresident($event.value)" [(ngModel)]="selectedOptionsPresident">
                          <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                          <mat-option *ngFor="let item of president" value="{{item.id}}">
                            {{item.fullname}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-6 col-sm-6">

                    <div class="form-group">
                      <mat-label class="label-form">Catégorie:</mat-label>
                      <mat-form-field appearance="none" class="example-full-width feild">

                        <mat-select multiple class="form-control" name="typePrestation" formControlName="typePrestation"
                          placeholder="" (selectionChange)="addItemCategorie($event.value)"
                          [(ngModel)]="selectedOptionsCategorie">
                          <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                          <mat-option *ngFor="let item of lisTypePrestationAo" [value]="item">
                            {{item.libelle}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--  col-md-6   -->
                </div>
                <fieldset class="border p-2">
                  <legend class="w-auto label-form"> Date d'ouverture des plis</legend>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">

                        <mat-form-field appearance="fill" class="example-full-width feild">
                          <mat-label>Start Date:</mat-label>
                          <input matInput type="date" id="startDate" formControlName="startDate" />
                        </mat-form-field>



                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">


                        <mat-form-field appearance="fill" class="example-full-width feild">
                          <mat-label>End Date:</mat-label>
                          <input matInput type="date" id="endDate" formControlName="endDate" />
                        </mat-form-field>

                      </div>
                    </div>
                  </div>
                </fieldset>

                <button (click)="onSubmit()" class="btn submit-button btn-block   kt-font-bold kt-font-transform-u p-3">
                  <i class="la la-search-plus"></i>
                  {{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
                </button>
              </div>
            </form>
          </mat-expansion-panel>

        </mat-accordion>

        <form [formGroup]="filterForm" id="search-form" *ngIf="isPresident==false">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Filtre par coordonnées du service concerné:</mat-label>
                  <mat-select multiple class="form-control" name="CoordonneServiceConcerne"
                    (selectionChange)="addItemDivision($event.value)" formControlName="coordonneServiceConcerne"
                    placeholder="" [(ngModel)]="selectedOptionsDivision">
                    <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                    <mat-option *ngFor="let item of ServiceConcerne" value="{{item}}">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <mat-label class="label-form">Président:</mat-label>
                  <mat-form-field appearance="none" class="example-full-width feild">

                    <mat-select multiple class="form-control" name="president" formControlName="idPresident"
                      [disabled]="isPresident==true" placeholder="" (selectionChange)="addItemPresident($event.value)"
                      [(ngModel)]="selectedOptionsPresident">
                      <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                      <mat-option *ngFor="let item of president" value="{{item.id}}">
                        {{item.fullname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
              <!--  col-md-6   -->

              <div class="col-md-6 col-sm-6">

                <div class="form-group">
                  <mat-label class="label-form">Catégorie:</mat-label>
                  <mat-form-field appearance="none" class="example-full-width feild">

                    <mat-select multiple class="form-control" name="typePrestation" formControlName="typePrestation"
                      placeholder="" (selectionChange)="addItemCategorie($event.value)"
                      [(ngModel)]="selectedOptionsCategorie">
                      <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                      <mat-option *ngFor="let item of lisTypePrestationAo" [value]="item">
                        {{item.libelle}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!--  col-md-6   -->
            </div>
            <fieldset class="border p-2">
              <legend class="w-auto label-form"> Date d'ouverture des plis</legend>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">

                    <mat-form-field appearance="fill" class="example-full-width feild">
                      <mat-label>Start Date:</mat-label>
                      <input matInput type="date" id="startDate" formControlName="startDate" />
                    </mat-form-field>



                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="form-group">


                    <mat-form-field appearance="fill" class="example-full-width feild">
                      <mat-label>End Date:</mat-label>
                      <input matInput type="date" id="endDate" formControlName="endDate" />
                    </mat-form-field>

                  </div>
                </div>
              </div>
            </fieldset>

            <button (click)="onSubmit()" class="btn submit-button btn-block   kt-font-bold kt-font-transform-u p-3">
              <i class="la la-search-plus"></i>
              {{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
            </button>
          </div>
        </form>

        <!--  col-md-6   -->
      </div>
      <div class="mt-4 mb-4">
      </div>
      <div class="row ">
        <div class="col-12">
          <div class="card " *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']">

            <div class="table-responsive ">
              <table id="exportData" mat-table [dataSource]="dataSourceTraveaux" class="mat-elevation-z8" matSort
                style="width: 100%">
                <ng-container matColumnDef="objet">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
                    {{ "PAGES.MARCHE.AO.OBJET" | translate }}
                  </th>
                  <td mat-cell class="objet" *matCellDef="let row">
                    {{ row.objet ? (row.objet?.length > 80 ? (row.objet | slice : 0 : 80) + "..." : row.objet) : "-" }}
                    <a href="javascript:void(0);" *ngIf="row.objet?.length > 80" matTooltip="{{ row.objet }}"><i
                        class="fas fa-info-circle"></i></a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="num">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
                    Numero de référence
                  </th>
                  <td mat-cell class="objet" *matCellDef="let row">
                    {{
                    row.numRef
                    ? row.numRef?.length > 80
                    ? (row.numRef | slice: 0:80) +
                    "..."
                    : row.numRef
                    : "-"
                    }}
                    <a href="javascript:void(0);" *ngIf="row.numRef?.length > 80" matTooltip="{{ row.numRef }}"><i
                        class="fas fa-info-circle"></i></a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="typePrestation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="typePrestation">Catégorie</th>
                  <td mat-cell class="typePrestation" *matCellDef="let row">
                    {{ row.typePrestation.libelle ? row.typePrestation.libelle : "-" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="natureAo">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nature appel d'offre</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.natureAo?.libelle ? row.natureAo?.libelle : "-" }}
                  </td>
                </ng-container>



                <ng-container matColumnDef="CoordonneServiceConcerne">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Service gestionnaire</th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.coordonneServiceConcerne ? row.coordonneServiceConcerne : "-" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="dateOuverturePlis">
                  <th mat-header-cell *matHeaderCellDef>
                    Date ouverture plis
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.dateOuverturePlisFormated ? row.dateOuverturePlisFormated : "-" }}

                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th class="actions" mat-header-cell *matHeaderCellDef>{{ "PAGES.PROGRAMME.ACTIONS" | translate }}</th>
                  <td class="actions" mat-cell *matCellDef="let row">
                    <a href="javascript:;" (click)="show(row.id)"
                      class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
                      matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i class="la la-search-plus"></i></a>
                    <span>
                      <a href="javascript:;" *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']"
                        (click)="edit(row.id)"
                        class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"
                        matTooltip="{{ 'PAGES.MARCHE.AO.UPDATE_EB' | translate }}"><i class="la la-edit"></i></a>
                    </span>
                    <span>
                      <a href="javascript:;" (click)="delete(row.id)" class="
                                    btn
                                    btn-sm
                                    btn-clean
                                    btn-icon
                                    btn-danger
                                    btn-icon-md
                                    btn_table_delete
                                " matTooltip="{{
                                    'PAGES.GENERAL.DELETE'
                                        | translate
                                }}"><i class="la la-trash"></i></a>
                    </span>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>

          </div>
          <mat-paginator [length]="sizeData" [pageSize]="5" [pageIndex]="0"
            *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']" [pageSizeOptions]="[5, 10, 50]"
            (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
          <div class="card " *ngxPermissionsOnly="['accessToShowDownloadProgrammePrevisionnelModule']">
            <div class="table-responsive ">

              <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                style="width: 100%;">

                <ng-container matColumnDef="objet">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
                    {{
                    "PAGES.MARCHE.AO.OBJET" | translate
                    }}
                  </th>
                  <td mat-cell class="objet" *matCellDef="let row">
                    {{
                    row.objet
                    ? row.objet?.length > 80
                    ? (row.objet | slice: 0:80) +
                    "..."
                    : row.objet
                    : "-"
                    }}
                    <a href="javascript:void(0);" *ngIf="row.objet?.length > 80" matTooltip="{{ row.objet }}"><i
                        class="fas fa-info-circle"></i></a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="num">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
                    Numero de référence
                  </th>
                  <td mat-cell class="objet" *matCellDef="let row">
                    {{
                    row.numRef
                    ? row.numRef?.length > 80
                    ? (row.numRef | slice: 0:80) +
                    "..."
                    : row.numRef
                    : "-"
                    }}
                    <a href="javascript:void(0);" *ngIf="row.numRef?.length > 80" matTooltip="{{ row.numRef }}"><i
                        class="fas fa-info-circle"></i></a>
                  </td>
                </ng-container>
                <ng-container matColumnDef="typePrestation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="typePrestation">
                    Catégorie
                  </th>
                  <td mat-cell class="typePrestation" *matCellDef="let row">
                    {{
                    row.typePrestation.libelle
                    ? (row.typePrestation.libelle )
                    : '-'
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="natureAo">
                  <th mat-header-cell *matHeaderCellDef>
                    Nature appel d'offre
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.natureAo?.libelle ? row.natureAo?.libelle : "-" }}
                  </td>
                </ng-container>


                <ng-container matColumnDef="dateOuverturePlis">
                  <th mat-header-cell *matHeaderCellDef>
                    Date ouverture plis
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.dateOuverturePlisFormated ? row.dateOuverturePlisFormated : "-" }}

                  </td>
                </ng-container>


                <ng-container matColumnDef="CoordonneServiceConcerne">
                  <th mat-header-cell *matHeaderCellDef>
                    Service gestionnaire
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.coordonneServiceConcerne ? row.coordonneServiceConcerne : "-" }}

                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th class="actions" mat-header-cell *matHeaderCellDef>{{
                    "PAGES.PROGRAMME.ACTIONS" | translate }}</th>
                  <td class="actions" mat-cell *matCellDef="let row">
                    <a href="javascript:;" (click)="show(row.id)" class="
                        btn
                        btn-sm
                        btn-clean
                        btn-icon
                        btn-success
                        btn-icon-md
                        btn_table_show
                    " matTooltip="{{
                        'PAGES.GENERAL.DETAILS'
                            | translate
                    }}"><i class="la la-search-plus"></i></a>
                    <span>
                      <a href="javascript:;" *ngxPermissionsOnly="['accessToAddEditProgrammePrevisionnelModule']"
                        (click)="edit(row.id)" class="
                            btn
                            btn-sm
                            btn-clean
                            btn-icon
                            btn-warning
                            btn-icon-md
                            btn_table_edit
                        " matTooltip="{{
                            'PAGES.MARCHE.AO.UPDATE_EB'
                                | translate
                        }}"><i class="la la-edit"></i></a>
                    </span>
                    <span>

                    </span>

                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="
                let row;
                columns: displayedColumns
            "></tr>
              </table>
            </div>
          </div>
          <mat-paginator [length]="sizeData2" *ngxPermissionsOnly="['accessToShowDownloadProgrammePrevisionnelModule']"
            [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5, 10, 50]" (page)="handlePageEvent2($event)"
            showFirstLastButtons></mat-paginator>





        </div>
      </div>

    </div>
  </div>

</div>