<div class="row">
    <div class="col-lg-12 col-md-offset-2">
        <div class="kt-portlet portlet-3">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
            <i class="fas fa-flag-checkered kt-font-inverse-brand"></i>
          </span>
                    <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                        {{ 'PAGES.MARCHE.MARCHE.TAB_360.TAB_MISE_EN_DEMEURE_RESILIATION' | translate }}
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <div class="kt-portlet__head-actions">
                                    <a href="javascript:; " (click)="miseEnDemeureForm()" class="btn btn-success btn-elevate btn-icon-sm"><i class="la la-plus"></i>
                    {{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.TITRE_NEW' | translate }}
                  </a>
                                    <a href="javascript:; " (click)="resiliationForm()" class="btn btn-success btn-elevate btn-icon-sm"><i
                      class="la la-plus"></i>
                    {{ 'PAGES.MARCHE.MARCHE.RESILIATION.TITRE_NEW' | translate }}
                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div *ngIf="med">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input type="text" matInput class="form-control" name="numMiseEnDemeure" [(ngModel)]="misendemeure.numMiseEnDemeure" placeholder="{{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.NUM' | translate }}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="form-control" [matDatepicker]="picker" name="dateMiseEnDemeure" [(ngModel)]="misendemeure.dateMiseEnDemeure" placeholder="{{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.DATE' | translate }}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary  " type="button" (click)="valideMed()">{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
                </div>
                <div *ngIf="rez">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput class="form-control" [matDatepicker]="picker" name="dateResiliation" [(ngModel)]="resiliationData.dateResiliation" placeholder="{{ 'PAGES.MARCHE.MARCHE.RESILIATION.DATE' | translate }}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary  " type="button" (click)="valideRes()">{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
                </div>
                <div class="espace_bloc"></div>
                <!-- ************************* Mise en demeure ***************************** -->
                <div *ngIf="showMed">
                    <div *ngxPermissionsOnly="['accessToIndexOrdreServiceMarche']" class="kt-portlet__body kt-portlet__body--fit">
                        <h4 class="title-style">
                            {{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.TITRE_NEW' | translate }}
                        </h4>
                        <div class="example-container mat-elevation-z8">
                            <mat-table [dataSource]="dataSourceMed" matSort>

                                <!-- numMiseEnDemeure -->
                                <ng-container matColumnDef="numMiseEnDemeure">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.NUM' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row?.numMiseEnDemeure?row.numMiseEnDemeure:"-"}} </mat-cell>
                                </ng-container>

                                <!-- dateMiseEnDemeure -->
                                <ng-container matColumnDef="dateMiseEnDemeure">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'PAGES.MARCHE.MARCHE.MISE_EN_DEMEURE.DATE' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{ (row.dateMiseEnDemeure !== null) ? (row.dateMiseEnDemeure | date: 'dd/MM/yyyy') : "-" }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <a href="javascript:;" (click)="EditmiseEnDemeure(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
                                        <a href="javascript:;" (click)="deleteMed(row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="la la-trash"></i></a>
                                        <a (click)="generateMiseEnDemeure(row.id)"  type="button" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="Mise En Demeure">
                                            <i class="flaticon2-download text-success"></i>
                                        </a>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsMed"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsMed;">
                                </mat-row>
                            </mat-table>
                            <div *ngIf="sizeDataMed == 0 && isLoadingMed == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
                                {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
                            </div>
                            <mat-card *ngIf="isLoadingMed" style="display: flex; justify-content: center; align-items: center">
                                <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                                </mat-progress-spinner>
                            </mat-card>
                            <mat-paginator [length]="sizeDataMed" [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
                <!-- *************************** Resiliatio data ************************** -->
                <div *ngIf="showRes">
                    <div *ngxPermissionsOnly="['accessToIndexOrdreServiceMarche']" class="kt-portlet__body kt-portlet__body--fit">
                        <h4 class="title-style">
                            {{ 'PAGES.MARCHE.MARCHE.RESILIATION.TITRE_NEW' | translate }}
                        </h4>
                        <div class="example-container mat-elevation-z8">
                            <mat-table [dataSource]="dataSourceRes" matSort>

                                <!-- dateResiliation -->
                                <ng-container matColumnDef="dateResiliation">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{ 'PAGES.MARCHE.MARCHE.RESILIATION.DATE' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        {{ (row.dateResiliation !== null) ? (row.dateResiliation | date: 'dd/MM/yyyy') : "-" }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <a href="javascript:;" (click)="Editresiliation(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
                                        <a href="javascript:;" (click)="deleteRes(row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="la la-trash"></i></a>
                                        <a (click)="generateResiliation(row.id)"  type="button" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="Résiliation">
                                            <i class="flaticon2-download text-success"></i>
                                         </a>  
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsRes"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsRes;">
                                </mat-row>
                            </mat-table>
                            <div *ngIf="sizeDataRes == 0 && isLoadingRes == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
                                {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
                            </div>
                            <mat-card *ngIf="isLoadingRes" style="display: flex; justify-content: center; align-items: center">
                                <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                                </mat-progress-spinner>
                            </mat-card>
                            <mat-paginator [length]="sizeDataRes" [pageSize]="3" [pageIndex]="0" [pageSizeOptions]="[3,5,10]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>