<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="kt-portlet">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="">
                إضافة اجتماع اللجنة     
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin:: Content section 2 -->
  <div class="kt-container">
    <div class="row">
      <div class="col-lg-12 col-md-offset-2">
        <div class="kt-portlet portlet-3">
          <div class="kt-portlet__head kt-bg-portlet-3">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="fas fa-book-open kt-font-inverse-brand"></i>
              </span>
              <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                اجتماع اللجنة 
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <form class="kt-form" autocomplete="off" #form="ngForm" >
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <mat-select  class="form-control"  name ="idsession"  [(ngModel)]="formData.session.id" placeholder="  الدورة:">
                      <mat-option  *ngFor="let item of sessionIds" [value]="item.id">{{item.nomSession}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <mat-select  class="form-control"  name ="idcommission"  [(ngModel)]="formData.commission.id" placeholder=" اللجنة:">
                      <mat-option  *ngFor="let item of commissions" [value]="item.id">{{item.nomCommission}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" class="form-control" placeholder="إسم الاجتماع  :" [(ngModel)]="formData.libelleReunion" name="nompp"  required>
                      <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                    <!--- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput class="form-control" [matDatepicker]="picker" name="dateRealisation" [(ngModel)]="formData.dateReunion" placeholder=" تاريخ الاجتماع :    ">
                        {{formData.dateReunion | date:"dd/MM/yyyy"}}
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-3"><label style="margin-top: 30px;">ساعة بدء الاجتماع   : </label></div>
                          <div class="col-md-9">
                              <div class="example-full-width">
                                  <ngb-timepicker name="timeDebutReunion" [(ngModel)]="timeDebutReunion"></ngb-timepicker>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-3"><label style="margin-top: 30px;">ساعة نهاية الاجتماع   : </label></div>
                          <div class="col-md-9">
                              <div class="example-full-width">
                                  <ngb-timepicker name="timeFinReunion" [(ngModel)]="timeFinReunion"></ngb-timepicker>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
              
        <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                  <button type="button" (click)="send()" class="btn btn-success btn-md btn-tall btn-wide">
                    حفظ 
                    <i class="far fa-save"></i> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    
  