.date-visite{
	width: 12%;
    padding-right: 7px;
}
.lieu{
	width: 15%;
    padding-right: 7px;
}
.division{
    width: 15%;
    padding-right: 7px;
}
.service{
    width: 15%;
    padding-right: 7px;
}
.responsable{
    width: 15%;
    padding-right: 7px;
}
.observation{
	width: 10%;
    padding-right: 7px;
}
.action{
	width: 16%;
}