<div class="kt-portlet__body">
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            <div *ngxPermissionsOnly="['canCreateCommissionAo']" class="kt-portlet__head-actions">
                &nbsp;
                <a href="javascript:;" *ngIf="AddCommissionShow" (click)="nouvelleLigne()" class="btn btn-success btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>Ajouter une séance
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="commissionShowForm">
        <div class="espace_bloc"></div>
        <form autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-select class="form-control" name="prepp" [(ngModel)]="formDataCommssion.typeCommission" placeholder="Seance :" required>
								<mat-option *ngFor="let type of typeCommissionAll" [value]="type">
									{{ type.libelle }}
								</mat-option>
							</mat-select>
                            <!-- <input matInput type="text" class="form-control" name="prepp" [(ngModel)]="formDataCommssion.typeCommission.libelle" placeholder="{{ 'PAGES.MARCHE.COMMISSIONS.COMMISSION' | translate }} :" required> -->
                        </mat-form-field>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" [matDatepicker]="picker2" name="dateCommission" [(ngModel)]="formDataCommssion.dateOuveture" placeholder="{{ 'PAGES.MARCHE.COMMISSIONS.DATE_DEBUT' | translate }} :">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- <div class="espace_bloc"></div> -->
        
        </form>
    </div>
    <!-- ------------------------------------------------------------------------- -->
    <!-- BEGIN :: TABLE COMMISSION -->
    <div *ngxPermissionsOnly="['accessToIndexCommissionAo']" class="kt-portlet__body kt-portlet__body--fit">
        <div class="espace_bloc"></div>
        <div *ngIf="ds1Size!=0">

            <h4 class="title-style-LC">
                La liste des séances
            </h4>
            <div class="example-container mat-elevation-z8">
                <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>
                            Séance</th>
                        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="dateOuverture">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ 'PAGES.MARCHE.COMMISSIONS.DATE_DEBUT' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row.dateOuverture | date: 'dd/MM/yyyy '}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <a href="javascript:;" *ngxPermissionsOnly="['canShowCommissionAo']" (click)="showCommission(row.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
                                    class="la la-search-plus"></i></a>
                            <a href="javascript:;" (click)="editCommission(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
                            <a href="javascript:;" (click)="printPVCommission(row.id,row.type)" class="btn btn-sm btn-clean btn-icon btn-primary btn-icon-md btn_table_send" matTooltip="PV_Commission"><i class="la la-print"></i></a>
                            <a *ngIf="row.type=='Séance financière'" href="javascript:;" (click)="printLettreComplement(row.id,row.type)" class="btn btn-sm btn-clean btn-icon btn-primary btn-icon-md btn_table_send" matTooltip="Lettre de complément"><span class="material-icons">print</span></a>
                            <span class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show">
                                <a type="button" (click)="getUpdatedUrl()" target="_blank"  matTooltip="Feuille de presence">
                                    <i class="la la-download"></i></a> </span>
                        
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
            </div>
            <div class="espace_bloc"></div>
        </div>
        <div class="espace_bloc"></div>
    </div>
    <!-- END :: TABLE COMMISSION -->
</div>

<!-- ------------------------------------------------------------------------- -->
<!-- BEGIN :: TABLE ADJUDICATAIRE -->
<div *ngIf="adjucataire">
    <div class="espace_bloc"></div>
    <div class="row">
        <div class="col-lg-12 col-md-offset-2">
            <div class="kt-portlet portlet-3">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="fas fa-trophy kt-font-inverse-brand"></i>
                        </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            {{ 'PAGES.MARCHE.COMMISSIONS.ADJUCATAIRE' | translate }}
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-md-12 show_port">
                                    <table class="table pj" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>{{ 'PAGES.MARCHE.PRESTATAIRE.NOM_PRESTATAIRE' | translate }} :</th>
                                                <td class="donnee_show"> {{OffreAdjucataire.prestataire.nom}}</td>
                                                <th>{{ 'PAGES.MARCHE.PRESTATAIRE.RC' | translate }} :</th>
                                                <td class="donnee_show">
                                                    {{OffreAdjucataire.prestataire.rc}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>{{ 'PAGES.MARCHE.PRESTATAIRE.TEL' | translate }} :</th>
                                                <td class="donnee_show">{{OffreAdjucataire.prestataire.tel}}</td>
                                                <th>{{ 'PAGES.MARCHE.PRESTATAIRE.ADRESSE' | translate }} :</th>
                                                <td class="donnee_show">
                                                    {{OffreAdjucataire.prestataire.adresse}}
                                                </td>
                                            </tr>
                                            <tr>

                                            </tr>
                                            <tr>
                                                <th>{{ 'PAGES.MARCHE.COMMISSIONS.NOTE_FINANCIERE' | translate }}:</th>
                                                <td class="donnee_show">{{OffreAdjucataire.noteFinanciere}}</td>
                                                <th>{{ 'PAGES.MARCHE.COMMISSIONS.NOTE_FINAL' | translate }}:</th>
                                                <td class="donnee_show">
                                                    {{OffreAdjucataire.noteFinale}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="espace_bloc"></div>

                        <div *ngxPermissionsOnly="['canChangeAdjucataire']" align="right">
                            <button *ngIf="showSwitch" class="btn btn-outline-success" type="button" (click)="ChangeAdjucataireAo()">{{ 'PAGES.MARCHE.COMMISSIONS.PASSE_PRESTATAIRE' |
                                translate }}</button>
                        </div>
                        <div *ngxPermissionsOnly="['canTransformAoToMarche']">
                            <button class="btn btn-primary" type="button" (click)="AddMarche()">{{
                                'PAGES.MARCHE.COMMISSIONS.AJOUTER_MARCHE' | translate }}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END :: TABLE ADJUDICATAIRE -->
<!-- ------------------------------------------------------------------------- -->
<hr>
<!-- BEGIN :: ACTION SECTION -->
<div class="kt-portlet__head-label" align="right">
    <button type="button" (click)="onSubmit()"  class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
        <i class="icon la la-floppy-o"></i>{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
    <button _ngcontent-dkp-c41="" class="btn btn-info btn-md" type="reset" (click)="back()">
        <i _ngcontent-dkp-c41="" class="icon la la-list"></i>
        {{ 'PAGES.GENERAL.EXIT' | translate }}</button>
</div>
<!-- END :: ACTION SECTION -->