<!-- begin:: Content section 2 -->
<div class="row">
    <div class="col-lg-12 col-md-offset-2">
        <div class="kt-portlet portlet-3">
            <div class="kt-portlet__head kt-bg-portlet-1">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="flaticon2-size"></i>
                    </span>
                    <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                        المتنافسين
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            &nbsp;
                            <a href="javascript:; " *ngxPermissionsOnly="['canAddPrestataireConsultation']" (click)="nouvelleLigne()" class="btn btn-success btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i> إضافة متنافس </a>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div *ngIf="showArticleRef" class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-select class="form-control" name="typelll" (selectionChange)="onChangeofOptions1($event)" placeholder="رقم السجل التجاري">
                                        <div class="cursor">
                                            <input class="form-control" name="srch" (keyup)="onKey($event.target.value)" autofocus>
                                            <i></i>
                                        </div>
                                        <mat-option *ngFor="let item of dataArray" value="{{item.id}}">
                                            {{item.rc}} ---- {{item.nom}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showArticleRef" class="col-md-4"><button style="margin-top: 24px !important; width: 100px !important;" class="btn btn-outline-primary" (click)="send()"> {{ 'PAGES.GENERAL.SAVE' | translate }}
                        </button></div>
                </div>

                <div class="kt-portlet__body kt-portlet__body--fit">

                    <div class="example-header">
                        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
                        </mat-form-field>
                    </div>

                    <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <!-- <ng-container matColumnDef="id">
									<mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
										رقم المتنافس </mat-header-cell>
									<mat-cell *matCellDef="let row" class="chikaya_td"> {{row.id}} </mat-cell>
								</ng-container> -->

                            <!-- Progress Column -->
                            <ng-container matColumnDef="rc">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> السجل التجاري
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.prestataire.rc}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="nom">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> اسم الهيئة
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.prestataire.nom}}</mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="adresse">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> العنوان
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.prestataire.adresse}}</mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <!---   <ng-container matColumnDef="isForfait">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>  جزافي؟ </mat-header-cell>
                      <mat-cell *matCellDef="let row" > {{row.isForfait}} </mat-cell>
                    </ng-container>-->


                            <ng-container matColumnDef="mail">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    البريد الإلكتروني </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.prestataire.mail}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="prenom">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    الهاتف </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.prestataire.tel}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <a href="javascript:;" *ngxPermissionsOnly="['canDeletePrestataireConsultation']" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
                                            class="la la-trash"></i></a>
                                </mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[3,5, 10, 25]"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>