<div class="form-group">

    <!-- begin:: Content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="">
                            {{ 'PAGES.GENERAL.MVMT_FICHE' | translate }}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">

                            <a *ngxPermissionsOnly="['canUpdateMvMtransaction']" (click)="update(mvmtransaction?.id)" class="btn btn-warning btn-sm btn-bold">
                                <i class="fas fa-edit"></i> {{ 'PAGES.GENERAL.EDIT' | translate }}
                            </a>
                            <a *ngxPermissionsOnly="['canDeleteMvMtransaction']" (click)="delete(mvmtransaction?.id)" class="btn btn-danger btn-sm btn-bold">
                                <i class="fas fa-times"></i> {{ 'PAGES.GENERAL.DELETE' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- begin:: Content section  -->
    <div *ngIf="mvmtransaction">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head kt-bg-portlet-1">
                        <div class="kt-portlet__head-label">

                            <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                                {{ 'PAGES.GENERAL.MVMT_ID' | translate }} {{mvmtransaction.id}}
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <div class="row">

                            <div class="col-md-12 show_port">
                                <table class="table pj" width="100%">
                                    <tbody>
                                        <tr>
                                            <th># :</th>
                                            <td>{{mvmtransaction.id}}</td>
                                            <th>{{ 'PAGES.GENERAL.NUM_MVM' | translate }} :</th>
                                            <td>{{mvmtransaction.numMouvement}}</td>
                                        </tr>
                                        <tr>
                                            <th>{{ 'PAGES.GENERAL.DATE_MVM' | translate }} :</th>
                                            <td>{{mvmtransaction.dateMouvement|date:'yyyy-MM-dd'}}</td>
                                            <th> {{ 'PAGES.GENERAL.PRIX' | translate }} :</th>
                                            <td>{{mvmtransaction.prixTransaction|macurrency}}</td>
                                        </tr>
                                        <tr>

                                            <th>{{ 'PAGES.GENERAL.BENIFCI_TRANSACT' | translate }} :</th>
                                            <td>{{mvmtransaction.benificiaireTransaction}}</td>
                                            <th>{{ 'PAGES.GENERAL.REMARQUE' | translate }} :</th>
                                            <td colspan="3">{{mvmtransaction.remarque}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="espace_bloc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" align="right">
                        <button type="button" (click)="showPatrimoine(mvmtransaction.patrimoine?.id)" class="btn btn-brand btn-md btn-tall btn-wide">
                                            {{ 'PAGES.GENERAL.EXIT' | translate }} <i class="fas fa-undo-alt"></i>
                                    </button>
                    </div>
                    <div class="espace_bloc"></div>
                </div>
            </div>
        </div>
    </div>