<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{ "PAGES.DEMANDE.TITRE_DEMANDE_LOGISTIQUE" | translate }}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">


                </div>
            </div>
        </div>
    </div>

    <!-- tabs for is it in association or personnes morales -->
    <ng-container *ngIf="(asyncTabs | async) === null">
        {{ 'PAGES.GENERAL.LOADING' | translate }}
    </ng-container>
    <mat-tab-group dynamicHeight [selectedIndex]="selected2.value" (selectedIndexChange)="selected2.setValue($event)"
        (selectedIndexChange)="setSelectedValue2($event)">
        <mat-tab *ngFor="let tab of asyncTabs2 | async">
            <ng-template mat-tab-label><mat-icon matSuffix><i class="flaticon-mail-1"></i></mat-icon>&nbsp;{{tab.label |
                translate }}</ng-template>
            <!-- EN COURS TAB -->
            <div *ngIf="tab.content == 'ASSOCIATION'">
                <div *ngIf="selected2.value==0">
                    <!-- <div>ASSOCIATION</div> -->
                    <!-- <template *ngTemplateOutlet="demandes"></template> -->
                </div>
            </div>
            <!-- Accepter TAB -->
            <div *ngIf="tab.content == 'PMSource'">
                <div *ngIf="selected2.value==1">
                    <!-- <div>PMSOURCE</div> -->
                    <!-- <template *ngTemplateOutlet="demandes"></template> -->
                </div>
            </div>


        </mat-tab>
    </mat-tab-group>
    <!-- end::tabs -->
    <!-- start::tabs -->
    <ng-container *ngIf="(asyncTabs | async) === null">
        {{ 'PAGES.GENERAL.LOADING' | translate }}
    </ng-container>
    <mat-tab-group dynamicHeight [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
        (selectedIndexChange)="setSelectedValue($event)">
        <mat-tab *ngFor="let tab of asyncTabs | async">
            <ng-template mat-tab-label><mat-icon matSuffix><i class="flaticon-mail-1"></i></mat-icon>&nbsp;{{tab.label |
                translate }}</ng-template>
            <!-- EN COURS TAB -->
            <div *ngIf="tab.content == 'EN_COURS'">
                <div *ngIf="selected.value==0">
                    <!-- <template *ngTemplateOutlet="demandes"></template> -->
                </div>
            </div>
            <!-- Accepter TAB -->
            <div *ngIf="tab.content == 'ACCEPTEE'">
                <div *ngIf="selected.value==1">
                    <!-- <template *ngTemplateOutlet="demandes"></template> -->
                </div>
            </div>
            <!-- REFUSEE TAB -->
            <div *ngIf="tab.content == 'REFUSEE'">
                <div *ngIf="selected.value==2">
                    <!-- <template *ngTemplateOutlet="demandes"></template> -->
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>
    <!-- end::tabs -->
    <!-- <ng-template #demandes class="example-header col-md-4"> -->
    <div class="example-header col-md-4">
        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
        <mat-form-field>
            <input matInput (keyup)="applyFilterByStatus($event.target.value)"
                placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}" />
        </mat-form-field>
    </div>
    <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- prioriter Column or Personne Morale -->
        <ng-container matColumnDef="prioriter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="prioriter">
                {{ "PAGES.DEMANDE.prioriter" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="num">
                {{ row.association.prioriter ? row.association.prioriter : '-'}}
            </td>
        </ng-container>


        <!-- uniqueCode Column -->
        <ng-container matColumnDef="uniqueCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uniqueCode">
                {{ "PAGES.DEMANDE.uniqueCode" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="num">{{ row.uniqueCode }}</td>
        </ng-container>



        <!-- submissionDate Column -->
        <ng-container matColumnDef="submissionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="submissionDate">
                {{ "PAGES.DEMANDE.submissionDate" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="num">{{ row.submissionDate | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="status">
                {{ "PAGES.DEMANDE.status" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="num">{{ row.status }}</td>
        </ng-container>
        <!-- nom Column -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nom">{{ "PAGES.ASSOCIATION.NOM" | translate
                }}
            </th>
            <td mat-cell *matCellDef="let row" class="nom">
                {{ row.association.nom ? (row.association.nom.length > 25 ? (row.association.nom | slice : 0 : 25) +
                "..." : row.association.nom) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.association.nom.length > 25"
                    matTooltip="{{ row.association.nom }}"><i class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>
        <!-- nom personne morale  pmsBean.nom -->
        <ng-container matColumnDef="nomPM">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nomPM">{{ "PAGES.DEMANDE.PMNOM" |
                translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="nomPM">
                {{ row.pmsBean && row.pmsBean.nom ? (row.pmsBean.nom.length > 25 ? (row.pmsBean.nom | slice : 0 : 25) + "..." : row.pmsBean.nom) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.pmsBean && row.pmsBean.nom && row.pmsBean.nom.length > 25" matTooltip="{{ row.pmsBean.nom }}"><i class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        <!-- rc personne morale pmsBean.rc -->
        <ng-container matColumnDef="rc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="rc">{{ "PAGES.DEMANDE.RC" |
                translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="rc">
                {{ row.pmsBean && row.pmsBean.rc ? (row.pmsBean.rc.length > 25 ? (row.pmsBean.rc | slice : 0 : 25) + "..." : row.pmsBean.rc) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.pmsBean && row.pmsBean.rc && row.pmsBean.rc.length > 25" matTooltip="{{ row.pmsBean.rc }}"><i class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        <!-- identifiantfiscal morale pmsBean.identifiantFiscal -->
        <ng-container matColumnDef="identifiantFiscal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="identifiantFiscal">{{
                "PAGES.DEMANDE.IDENTIFIANT_FISCAL" |
                translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="identifiantFiscal">
                {{ row.pmsBean && row.pmsBean.identifiantFiscal ? (row.pmsBean.identifiantFiscal.length > 25 ? (row.pmsBean.identifiantFiscal | slice : 0 : 25) + "..." : row.pmsBean.identifiantFiscal) : "-" }}
                <a href="javascript:void(0);" *ngIf="row.pmsBean && row.pmsBean.identifiantFiscal && row.pmsBean.identifiantFiscal.length > 25" matTooltip="{{ row.pmsBean.identifiantFiscal }}"><i class="fas fa-info-circle"></i></a>
            </td>
        </ng-container>

        <!-- action for change status as a select input Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="action">
                {{ "PAGES.DEMANDE.action" | translate }}
            </th>
            <td mat-cell *matCellDef="let row" class="action">
                <!-- <button mat-raised-button color="primary" (click)="openDialog(row)"
                        [disabled]="row.status == 'ACCEPTEE' || row.status == 'REFUSEE'"> -->
                <button mat-raised-button [color]="getRowButtonColor(row.status)" (click)="openDialog(row)">
                    {{ "PAGES.DEMANDE.CHANGE_STATUS" | translate }}
                </button>
            </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="action"></th>
            <td mat-cell *matCellDef="let row" class="actionsBtn action">
                <button type="button" routerLink="/demandes/show-demandesSoutienLogistique/{{ row.id }}"
                    class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
                    matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
                        class="icon la la-search-plus"></i></button>

            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- footer data -->
    </table>
    <div *ngIf="sizeData == 0 && isLoading == false"
        style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>

    <kt-custom-pagination [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()"
        (pageSizeEvent)="getPageInNewSize($event)">
    </kt-custom-pagination>
    <!-- </ng-template> -->
</div>