<div class="kt-portlet">
	<div class="kt-portlet__head w-b-5">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">{{ 'PAGES.VEHICULE.EDIT' | translate }}</h2>
		</div>
	</div>

</div>
<form name="editForm" [formGroup]="editForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.REF_TRANSPORT' | translate }} :
					</label>
					<input matInput type="number" name="ref" id="refId" class="form-control"
						formControlName="refTransport" placeholder="" class="form-control" disabled readonly />
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>

		<div class="col-md-6" style="margin-top: 20px;">
			<div class="form-group fv-plugins-icon-container">
				<div class="input-group date">
					<label class="title1">{{ 'PAGES.VEHICULE.IMM' | translate }} :</label>
					<div class="input-group">
						<!-- First subfield for numbers -->
						<input id="numerOrderVehicule" type="text" class="form-control requird"
							formControlName="numVehiculeNumbers" placeholder="xxxxx" maxlength="5" required>

						<!-- Second subfield for Arabic alphabet selection -->
						<select id="imm" lang="ar" class="custom-select form-control"
							formControlName="numVehiculeAlphabet" required>
							<option *ngFor="let Cit of series" [value]="Cit.name">{{ Cit.name }}</option>
						</select>

						<input type="text" class="form-control subfield subfield-two-numbers"
							formControlName="numVehiculeTwoNumbers" maxlength="2" required />
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.CARTE_GRISE' | translate }} :
					</label>
					<input matInput type="number" name="ref" id="refId" class="form-control"
						formControlName="numCarteGrise" placeholder="" class="form-control" />
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.CIN' | translate }} :</label>
					<!-- Render the existing N° de CNIE field -->
					<input matInput type="text" class="form-control" placeholder="" formControlName="numCnie" />
				</mat-form-field>
				<button mat-raised-button color="primary" type="button" (click)="addNumCnieField()">{{
					'PAGES.VEHICULE.AJOUTCIN' | translate }}</button>
			</div>
		</div>

		<!-- Render the additional N° de CNIE fields dynamically using *ngFor -->
		<div *ngFor="let cnieField of numCniesArray.controls; let i = index" class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.CIN' | translate }} :</label>
					<input matInput type="text" class="form-control" placeholder="" [formControl]="cnieField" />
				</mat-form-field>
				<!-- Add a button to remove the specific N° de CNIE field -->
				<button mat-icon-button color="warn" (click)="removeNumCnieField(i)">
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<div class="row">


		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.PERMIS' | translate }} :</label>
					<!-- Render the existing N° Permis de Conduire field -->
					<input matInput type="text" class="form-control" placeholder="" formControlName="numPermi" />
				</mat-form-field>
				<button mat-raised-button color="primary" type="button" (click)="addNumPermisField()">{{
					'PAGES.VEHICULE.AJOUTPERMIS' | translate }}:</button>
			</div>
		</div>

		<!-- Render the additional N° Permis de Conduire fields dynamically using *ngFor -->
		<div *ngFor="let numPermisField of numPermisArray.controls; let i = index" class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.PERMIS' | translate }} :</label>
					<input matInput type="text" class="form-control" placeholder="" [formControl]="numPermisField" />
				</mat-form-field>
				<!-- Add a button to remove the specific N° Permis de Conduire field -->
				<button mat-icon-button color="warn" (click)="removeNumPermisField(i)">
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.NOM' | translate }} :
					</label>
					<input matInput type="text" class="form-control" placeholder="" formControlName="nomConducteur" />
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>
	<div class="row">


		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.TARRA' | translate }} :
					</label>
					<input matInput type="number" class="form-control" placeholder="" id="tarra" formControlName="tarra"
						(mouseout)="onSelectionChangeTarra($event.target.value )" />
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container date">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.GENRE' | translate }} :
					</label>

					<mat-select class="form-control" id="genre" formControlName="genre" disabled readonly>
						<mat-option value="Pick-up">Pick-up</mat-option>
						<mat-option value="Camion">Camion</mat-option>
						<mat-option value="Canter">Canter</mat-option>
						<mat-option value="Autre">Autre</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
	</div>



	<div class="row">

		<div class="col-md-6">
			<div class="form-group fv-plugins-icon-container date">
				<mat-form-field class="example-full-width">
					<label>{{ 'PAGES.VEHICULE.TEL' | translate }} :
					</label>
					<input matInput type="tel" class="form-control" id="phone" name="phone" formControlName="tel" />
					<!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" /> -->
				</mat-form-field>

				<div class="fv-plugins-message-container"></div>
			</div>
		</div>
		<div class="col-md-6">
			<section>
				<mat-form-field>
					<mat-label>{{ 'PAGES.VEHICULE.MESSAGE' | translate }} : </mat-label>
					<textarea matInput rows="5" placeholder="message " formControlName="message">
						  </textarea>
				</mat-form-field>

			</section>

		</div>

	</div>

	<div class="row mb-3" align="right">
		<div class="col-md-12">

			<div class="kt-portlet__heads">
				<div class="kt-portlet__head-label">
					<button mat-button type="button" (click)="  back()
	" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
						<i class="la la-recycle"></i>
						{{ 'PAGES.GENERAL.RETOUR' | translate }}
					</button>
					<button mat-button (click)=" edit()"
						class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
						<i class="icon la la-floppy-o"></i>
						{{ 'PAGES.GENERAL.SAVE' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>