<!-- begin:: Content section 2 -->
<div class="kt-portlet portlet-3">
	<div class="kt-portlet__head kt-bg-portlet-1">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="fas fa-newspaper"></i>
			</span>
			&nbsp;
			<h3 class="kt-portlet__head-title kt-font-inverse-brand">
				{{ 'PAGES.INSERT_PUB.MEDIA.TITRE_NEW' | translate }}
			</h3>
		</div>
	</div>
	<!-- (ngSubmit)="onSubmit()" -->
	<form novalidate [formGroup]="addForm" autocomplete="off">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="nom" class="form-control" matInput
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.NOM' | translate }}" required>
							<mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
							<mat-error *ngIf="isControlHasError('nom','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="contact" class="form-control" matInput
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.CONTACT' | translate }}" required>
							<mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
							<mat-error *ngIf="isControlHasError('contact','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

			</div>

			<!-- End field section-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input matInput type="text" class="form-control" formControlName="mail"
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.MAIL' | translate }}" required>
							<mat-error *ngIf="isControlHasError('mail','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
							<mat-icon matSuffix><i class="fas fa-at"></i></mat-icon>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width" hintLabel="10 ارقام في الاقصى">
							<span matPrefix>+212 &nbsp;</span>
							<input formControlName="tel" class="form-control" matInput #input maxlength="10"
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.TEL' | translate }}" required>
							<mat-error *ngIf="isControlHasError('tel','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
							<mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
							<mat-icon matSuffix><i class="fas fa-phone-alt"></i></mat-icon>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- End field section-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<input formControlName="site" class="form-control" matInput
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.SITE' | translate }}" required>
							<mat-error *ngIf="isControlHasError('site','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mat-error>
							<mat-icon matSuffix><i class="fas fa-keyboard"></i></mat-icon>
						</mat-form-field>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<mat-form-field class="example-full-width">
							<mat-select formControlName="supportPublicitaire" class="form-control"
								placeholder="{{ 'PAGES.INSERT_PUB.MEDIA.TYPE' | translate }}" required>
								<mat-option>-- {{ 'PAGES.INSERT_PUB.MEDIA.TYPE' | translate }} --</mat-option>
								<mat-option *ngFor="let supp of supports" [value]="supp">
									{{supp.nomSupport}}
								</mat-option>
								<mat-error *ngIf="isControlHasError('supportPublicitaire','required')">
									<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
								</mat-error>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- Action section-->
		</div>
	</form>
</div>
<!-- end::content form -->
<!--Action Section :: begin-->
<div class="kt-portlet__head">
	<div class="kt-portlet__head-label" align="right">
		<button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.SAVE' | translate }}"
			class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			[disabled]="addForm.invalid" (click)="onSubmit()"
			[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
			<i _ngcontent-dkp-c41="" class="icon la la-floppy-o"></i>
			{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
		<button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.RESET' | translate }}"
			class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
			(click)="onReset()">
			<i _ngcontent-dlp-c41 class="la la-recycle"></i>
			{{ 'PAGES.GENERAL.RESET' | translate }}</button>
		<button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.EXIT' | translate }}"
			class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
			(click)="backList()">
			<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
			{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
	</div>
	<div class="espace_bloc"></div>
</div>
<!--Action Section :: end-->
