<!-- begin:: Content -->
<div *ngIf="details" class="kt-portlet portlet-1">
	<div class="kt-portlet__head kt-bg-portlet-2">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-open-box"></i>
			</span>
			&nbsp;
			<h3 class="kt-portlet__head-title kt-font-inverse-brand">
				{{ 'PAGES.IMMOBILISATION.TITRE_SHOW' | translate }}
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					&nbsp;
					<a href="javascript:; " (click)="editImmobilisation()"
						class="btn btn-warning btn-elevate btn-icon-sm">
						<i class="la la-edit"></i>
						{{ 'PAGES.GENERAL.EDIT' | translate }}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			<div class="col-md-12 show_port">
				<table class="table pj" width="100%">
					<tbody>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.REFERENCE' | translate }} :</th>
							<td class="donnee_show">{{details.reference}}</td>
							<th>{{ 'PAGES.IMMOBILISATION.DESIGNATION' | translate }} :</th>
							<td class="donnee_show">{{details.designation}}</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.MODE_ACQUSITION' | translate }} :</th>
							<td class="donnee_show">
								<span *ngIf="details?.modeAcquisition=='marche'">
									{{ 'PAGES.IMMOBILISATION.MARCHE' | translate }}
								</span>
								<span *ngIf="details?.modeAcquisition=='bc'">
									{{ 'PAGES.IMMOBILISATION.BC' | translate }}
								</span>
							</td>
							<span *ngIf="details?.modeAcquisition=='marche'">
								<th>{{ 'PAGES.IMMOBILISATION.NUM_MARCHE' | translate }} :</th>
							</span>
							<span *ngIf="details?.modeAcquisition=='bc'">
								<th>{{ 'PAGES.IMMOBILISATION.NUM_BC' | translate }} :</th>
							</span>
							<td class="donnee_show">
								{{details.modeAcquisition=='marche'?details.numMarche : details.numBC}}
							</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.DATE_ACQUSITION' | translate }} :</th>
							<td colspan="4" class="donnee_show">
								{{details.dateAcquisition | date:'dd/MM/yyyy'}}</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.TYPE' | translate }} :</th>
							<td class="donnee_show">
								{{details.sousTypeImmobilisation.typeImmobilisation.typeImmobilisation}}
							</td>
							<th>{{ 'PAGES.IMMOBILISATION.SOUS_TYPE' | translate }} :</th>
							<td class="donnee_show">{{details.sousTypeImmobilisation.libelle}}</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.EMPLACEMENT' | translate }} :</th>
							<td class="donnee_show">{{details.emplacement.designation}}</td>
							<th>{{ 'PAGES.IMMOBILISATION.STATUT' | translate }} :</th>
							<td class="donnee_show">{{details.statutImmobilisation.libelle}}</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.MARQUE' | translate }} :</th>
							<td class="donnee_show">{{details.marque}}</td>
							<th>{{ 'PAGES.IMMOBILISATION.PRIX_ACHAT' | translate }} :</th>
							<td class="donnee_show">{{details.prixAchat  | macurrency}}</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.LONGUEUR' | translate }} :</th>
							<td class="donnee_show">{{details.longueur}} m</td>
							<th>{{ 'PAGES.IMMOBILISATION.LARGEUR' | translate }} :</th>
							<td class="donnee_show">{{details.largeur}} m</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.POIDS' | translate }} :</th>
							<td class="donnee_show">{{details.poids}} kg</td>
							<th>{{ 'PAGES.IMMOBILISATION.COULEUR' | translate }} :</th>
							<td class="donnee_show">
								{{details.couleur}}
							</td>
						</tr>
						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.REFORME.DATE_REFORME_PRE' | translate }}:</th>
							<td class="donnee_show date_reforme">{{details.dateReforme | date:'dd/MM/yyyy'}}
							</td>
							<th>{{ 'PAGES.IMMOBILISATION.REFORME.DUREE_VIE_PRE' | translate }} :</th>
							<td class="donnee_show">
								{{details.dureeVie}}&nbsp;{{ 'PAGES.IMMOBILISATION.REFORME.JOURS' | translate }}
							</td>
						</tr>

						<tr>
							<th>{{ 'PAGES.IMMOBILISATION.DESCRIPTIF' | translate }} :</th>
							<td class="donnee_show" colspan="4">{{details.descriptif}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- end:: Content -->
<!-- begin:: Content -->
<div class="kt-portlet">
	<div class="kt-portlet__head kt-bg-portlet-4">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-time kt-font-inverse-brand"></i>
			</span>
			&nbsp;
			<h3 class="kt-portlet__head-title kt-font-inverse-brand">
				{{ 'PAGES.IMMOBILISATION.REFORME.TITRE_NEW' | translate }}
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			<div class="col-md-12 show_port">
				<form [formGroup]="addForm">
					<div class="kt-portlet__body">
						<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group date">
										<mat-form-field class="example-full-width">
											<input formControlName="dateReformeFinal" matInput class="form-control"
												name="dateReformeFinal" [matDatepicker]="picker" [min]="details?.dateAcquisition"
												(dateChange)="dateChanged('change', $event)"
												placeholder="{{ 'PAGES.IMMOBILISATION.REFORME.DATE_REFOMR_REE' | translate }}">
											<mat-datepicker-toggle matSuffix [for]="picker">
												<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i>
												</mat-icon>
											</mat-datepicker-toggle>
											<mat-datepicker touchUi="true" #picker></mat-datepicker>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<mat-form-field class="example-full-width">
										<input readonly formControlName="dureeVieFinal" matInput type="number"
											class="form-control" name="dureeVieFinal"
											placeholder="{{ 'PAGES.IMMOBILISATION.REFORME.DUREE_VIE_REE' | translate }}">
									</mat-form-field>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" formGroupName="motifReforme">
									<mat-form-field class="example-full-width">
										<mat-select matNativeControl class="form-control"
											placeholder="{{ 'PAGES.IMMOBILISATION.REFORME.MOTIF' | translate }}"
											formControlName="id">
											<mat-option>
												--{{ 'PAGES.IMMOBILISATION.REFORME.MOTIF' | translate }}--
											</mat-option>
											<mat-option *ngFor="let motif of motifs" [value]="motif.id">
												{{motif.motifReforme}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
						<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++ -->
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<mat-form-field hintLabel="{{ 'PAGES.GENERAL.COMMENTAIRE' | translate }}"
										class="form-control" class="example-full-width">
										<textarea rows="4" #input maxlength="255" class="form-control"
											formControlName="descriptionReforme" name="descriptionReforme" matInput
											placeholder="{{ 'PAGES.IMMOBILISATION.REFORME.DESCRIPTION' | translate }}"
											required></textarea>
										<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
										<mat-hint align="end">{{input.value?.length || 0}}/255</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end:: Content -->
<!-- begin :: Action -->
<div class="kt-portlet__head">
	<div class="kt-portlet__head-label" align="right">
		<button _ngcontent-dkp-c41="" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			(click)="onSubmit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
			<i _ngcontent-dkp-c41="" class="icon la la-floppy-o"></i>
			{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
		<button _ngcontent-dkp-c41="" class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			type="reset" (click)="back()">
			<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
			{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
	</div>
	<div class="espace_bloc"></div>
</div>
<!-- End:: action -->
