<!-- begin:: Content -->
<div *ngIf="details" class="kt-portlet portlet-1">
    <div class="kt-portlet__head kt-bg-portlet-2">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
				<i class="flaticon-home-2"></i>
			</span>
            <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                {{ 'PAGES.ACTIVITE.TITRE_SHOW' | translate }}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="javascript:; " (click)="editActivities()" *ngxPermissionsOnly="['canUpdateActivite']" class="btn btn-warning btn-elevate btn-icon-sm" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}">
                        <i class="la la-edit"></i> {{ 'PAGES.GENERAL.EDIT' | translate }}
                    </a>
                    <a href="javascript:; " (click)="showHitory()" matTooltip="{{ 'PAGES.GENERAL.INFO' | translate }}" class="btn btn-info btn-elevate btn-icon-sm">
                        <i class="fas fa-info-circle"></i> {{ 'PAGES.GENERAL.INFO' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div *ngIf="history" class="col-md-12 show_port history">
                <table class="table pj" width="100%">
                    <tbody>
                        <tr>
                            <th style="font-size: 10px; color: #0a447d;border-top:none;">
                                {{ 'TRANSLATOR.CREATOR' | translate }} :</th>
                            <td style="font-size: 10px; border-top:none;" class="donnee_show">{{details.createurUser}}
                            </td>
                            <th style="font-size: 10px; color: #0a447d;border-top:none;">
                                {{ 'TRANSLATOR.CREATION_DATE' | translate }} :</th>
                            <td style="font-size: 10px;border-top:none;" class="donnee_show">
                                {{details.creationDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            <th style="font-size: 10px; color: #0a447d;border-top:none;">
                                {{ 'TRANSLATOR.UPDATE_DATE' | translate }} :</th>
                            <td style="font-size: 10px;border-top:none;" class="donnee_show">
                                {{details.updateDate | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="history" class="espace_bloc"></div>
            <div class="col-md-12 show_port">
                <table class="table pj" width="100%">
                    <tbody>
                        <tr>
                            <th>{{ 'PAGES.ACTIVITE.NUM_AUTORISATION' | translate }} :</th>
                            <td class="donnee_show">{{details.numAutorisation}}</td>
                            <th>{{ 'PAGES.ACTIVITE.DATE_ACTIV' | translate }} :</th>
                            <td class="donnee_show">{{details.dateActivite | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.ACTIVITE.OBJET' | translate }} :</th>
                            <td class="donnee_show" colspan="4">{{details.objet}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.ACTIVITE.TYPE_ACTIVITE' | translate }} :</th>
                            <td class="donnee_show">{{details.typeActivites.libelle}}</td>
                            <th>{{ 'PAGES.ACTIVITE.POPULATION' | translate }} :</th>
                            <td class="donnee_show">{{details.populationImpactee}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.INTERVENTION_RAPIDE.ARRONDISSEMENT' | translate }} :</th>
                            <td class="donnee_show" colspan="4">
                                <ul class="list-group">
                                    <li *ngFor="let row of details.listArrondissement">
                                        {{ row }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.ACTIVITE.NOTE' | translate }} :</th>
                            <td class="donnee_show" colspan="4">{{details.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- begin:: Content -->
<div *ngIf="details" class="kt-portlet">
    <div class="kt-portlet__head kt-bg-portlet-5">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
				<i class="flaticon-attachment"></i>
			</span>
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12 show_port">
                <table *ngIf="files" class="table pj" width="100%">
                    <thead>
                        <tr>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TYPE' | translate }}</td>
                            <td class="title_td" width="25%">{{ 'PAGES.ATTCHEMENTS.FICHIER' | translate }}
                            </td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.DATE_CREATION' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TAILLE_FICHIER' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TELECHARGER' | translate }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of files | async">
                            <td><img class="file_icon" src="./assets/media/files/{{FileExtension(item.name)}}" matTooltip="{{FileName(item.name)}}"></td>
                            <td> {{FileName(item.name) | slice:0:20}}</td>
                            <td>{{item.dateFile | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{item.fSize/1000}} ko</td>
                            <td>
                                <button type="button" (click)="onClickPjName(item.idAlfresco,item.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download" matTooltip="{{FileName(item.name)}}"><i class="flaticon-download-1"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="start">
                    <p class="wait_text_bar">{{ 'PAGES.ATTCHEMENTS.WAIT_MSG' | translate }}</p>
                    <mat-progress-bar class="progress_bar" mode='query'></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!--Action Section :: begin-->
<div class="kt-portlet__head">
    <div class="kt-portlet__head-label" align="right">
        <button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.EXIT' | translate }}" class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset" (click)="back()">
			<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
			{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
    </div>
    <div class="espace_bloc"></div>
</div>
<!--Action Section :: end-->