/* EXPORT OPTIONS */

.fixe {
    text-align: right !important;
}

.btn-export {
    color: #ffffff !important;
    background-color: #3875e7 !important;
    padding: 5px 20px !important;
}

.export-align {
    margin-left: 2% !important;
}

.agence {
    width: 15% !important;
}

.actionsBtn {
    width: 15% !important;
    padding: 0 10px 0 0;
}


/* Pading row table*/

.num {
    width: 1% !important;
    padding-right: 15px !important;
}

.nom {
    width: 14% !important;
}

.president {
    width: 10% !important;
}

.tel {
    width: 6% !important;
}

.mail {
    width: 10% !important;
}

.local {
    width: 13% !important;
}

.spec {
    width: 5% !important;
}

.action {
    width: 12% !important;
}