<div class="main-content container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="p-3">

            <div class="row">
              <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 mb-4 h4">Journal Centralisateur (Reparation)</div>
            </div>

            <div class="tab-pane fade show active" id="profileIcon" role="tabpanel" aria-labelledby="profile-icon-tab">
              <div class="p-4 background-color-light border-grey br-10-bl br-10-br">
                <div class="table-responsive">
                  <table class="table text-center">
                    <thead>
                      <tr class="no-border">
                        <th scope="col">N°véhicule</th>
                        <th scope="col">Janvier</th>
                        <th scope="col">Février</th>
                        <th scope="col">Mars</th>
                        <th scope="col">Avril</th>
                        <th scope="col">Mai</th>
                        <th scope="col">Juin</th>
                        <th scope="col">Juillet</th>
                        <th scope="col">Aout</th>
                        <th scope="col">Sept</th>
                        <th scope="col">Oct</th>
                        <th scope="col">Nov</th>
                        <th scope="col">Déc</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>PEUGEOT M-102030</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>100</td>
                          <td>200</td>
                          <td>0</td>
                          <td>0</td>
                          <td>100</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>100</td>
                          <td>500</td>
                      </tr>
                      <tr>
                          <td>DACIA M-102030</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>1000</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <td>500</td>
                          <td>1500</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


