<div class="main-content container">
  <div class="breadcrumb">
    <h1 class="mr-2">Affectation des véhicules</h1>
  </div>
  <!-- card of depot -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card text-left">
        <div class="card-body">
          <div class="tab-content" id="myIconTabContent">

            <div class="mr-6 ml-6 mt-3 mb-4 p-4 background-color-light border-grey br-10">
              <div class="body">
                <div class="form-group row justify-content-center mb-1">
                  <div class="col-md-3 form-group ">
                    <label>N° de la demande :</label>
                    <input class="form-control" type="text" placeholder="Numéro de la demande">
                  </div>
                  <div class="col-md-2 col-lg-2 form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary font-weight-bold btn-block" type="submit"><i class="nav-icon i-Magnifi-Glass1 mr-2 font-weight-bold"></i>Rechercher</button>
                  </div>
                </div>
              </div>
            </div>

            <data-table 
                            [datasource]="listAffectationVehicule" 
                            [headers]="headerData" 
                            [actions]="actions" 
                            [titleTable]="'Liste affectation des véhicules'"
                            [titleButton]="' Affecter véhicule'"
                            [currentPage]="currentPage"
                            [totalPages]="totalPages"
                            (page)="pageCurrentChange($event)"
                            (size)="sizeCurrentChange($event)"
                            (ajouterElement)="modalAjouterAffectationVehicule(ajouterAffectationVehicule)"
                            (detail)="modalDetailAffectationVehicule(detailAffectationVehicule,$event)"
                            (selectUpdateElement)="modalModifierAffectationVehicule(modifierAffectationVehicule,$event)"
                            (deleteElement)="supprimerAffectationVehicule($event)">
            </data-table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modifierAffectationVehicule let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modifier dotation </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="close()"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formAffectionVehicule" (ngSubmit)="modifierInfoVehiculeFonction(formAffectionVehicule.value)">
        <div class="form-group row mb-1">
      <div class="col-md-4 form-group ">
        <label>Date debut :</label>
        <input class="form-control" type="date" placeholder="dd-mm-yyyy">
      </div>

      <div class="col-md-4 form-group " formGroupName="vehicule">
        <label>Véhicules :</label>
        <select class="form-control" fromControleName="id">
          <option value="" selected disabled>Selectionner véhicule</option>
          <option *ngFor="let v of listVehiculeDisponible" [value]="v.id">{{v.matricule}}</option>
      
        </select>
      </div>

      <div class="col-md-4 form-group ">
        <label>Directeur :</label>
        <select class="form-control" fromControleName="fonctionnaire_id"> 
          <option value="" selected disabled>Selectiner Directeur </option>
          <option *ngFor="let f of listFonctionnaire" [value]="f.id">{{f.nom}}</option>
        </select>
      </div> 

      <div class="col-md-4 form-group">
        <label>Compteur :</label>
        <input class="form-control" type="text" placeholder="compteur" fromControleName="compteur"> 
      </div>
      <div class="col-md-4 form-group">
        <label>Montant :</label>
        <input class="form-control" type="text" placeholder="montant" fromControleName="montant">
      </div>
    </div>

  <div class="modal-footer">
    <button class="btn btn-primary ml-2" type="submit" ><i class="nav-icon i-Add font-weight-bold"></i> Modifier</button>
  </div>
  
      </form>
    </div>
  </ng-template>


    <ng-template #ajouterAffectationVehicule let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">affectation vehicule fonction</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="close()"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form   [formGroup]="formAffectionVehicule" (ngSubmit)="affectationVehiculeFonction(formAffectionVehicule.value)">
            <div class="form-group row mb-1">
          <div class="col-md-4 form-group ">
            <label>Date debut :</label>
            <input class="form-control" type="date" placeholder="dd-mm-yyyy" formControlName="date">
          </div>

          <div class="col-md-4 form-group " formGroupName="vehicule">
            <label>Véhicules :</label>
            <select class="form-control" formControlName="id">
              <option value="" selected disabled>Selectionner véhicule</option>
              <option *ngFor="let v of listVehiculeDisponible" [value]="v.id">{{v.matricule}}</option>
          
            </select>
          </div>

          <div class="col-md-4 form-group ">
            <label>Directeur :</label>
            <select class="form-control" formControlName="fonctionnaire_id"> 
              <option value="" selected disabled>Selectiner Directeur </option>
              <option *ngFor="let f of listFonctionnaire" [value]="f.id">{{f.nom}}</option>
            </select>
          </div> 

         <!--  <div class="col-md-4 form-group">
            <label>Compteur :</label>
            <input class="form-control" type="text" placeholder="compteur" formControlName="compteur"> 
          </div> -->
          <div class="col-md-4 form-group">
            <label>Montant :</label>
            <input class="form-control" type="number" placeholder="montant" formControlName="montant">
          </div>
        </div>
    
      <div class="modal-footer">
        <button class="btn btn-primary ml-2" type="submit" ><i class="nav-icon i-Add font-weight-bold"></i> Ajouter</button>
      </div>
      
          </form>
        
      </div>

    </ng-template>


   <ng-template #detailAffectationVehicule let-c="close" let-d="dismiss">
    <div class="modal-body">
        <form class="pl-4 pt-3 pr-0 pb-2 border-grey br-10 mb-0 mt-2 background-color-light">
            <div class="form-group row mb-0">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Nom :</label>
                        <label class="col-sm-3 col-form-label f-s-13">{{fonctionnaire.nom}}</label>

                        <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Prénom :</label>
                        <label class="col-sm-3 col-form-label f-s-13">{{fonctionnaire.prenom}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Date de départ :</label>
                        <label class="col-sm-3 col-form-label f-s-13">{{vehiculeFoncion.date | date :"yyyy/MM/dd"}}</label>

                        <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Véhicule:</label>
                        <label class="col-sm-3 col-form-label f-s-13">{{vehiculeFoncion.vehicule.matricule}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Montant :</label>
                        <label class="col-sm-3 col-form-label f-s-13">{{vehiculeFoncion.montant}}</label>

                       
                    </div>
                </div>
            </div>
          
           
  
    
        </form>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="close()">Close</button>
<!--         <button class="btn btn-outline-success ml-2" type="button"><i class="nav-icon i-Download font-weight-bold"></i>&nbsp;Télécharger</button>
 -->    </div>
   </ng-template>


</div>


