<div [dir]="'AUTH.GENERAL.dir' | translate">
	<div style="text-align: center; margin-bottom: 20px;">
		<h4>
			{{ "PAGES.CALENDRIER.INFORMATION_AO_TODAY" | translate }} {{dateDayNow |date: myDateFormat}}
		</h4>
	</div>

	<table id="exportDataPrint" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width: 100%;">
		<ng-container matColumnDef="ref">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Réference du bon de commande
			</th>
			<td mat-cell *matCellDef="let row">{{ row.refDeBC ? row.refDeBC:'-'}}</td>
		</ng-container>
		<ng-container matColumnDef="Objet">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Objet
			</th>
			<td mat-cell *matCellDef="let row">
				{{ row.objet ?row.objet:'-'}}

			</td>
		</ng-container>
	
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "PAGES.GENERAL.ACTIONS" | translate }}</th>
			<td mat-cell *matCellDef="let row">
				<button type="button" (click)="show(row)"
					class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
					matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}">
					<i class="icon la la-search-plus"></i>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<div *ngIf="dataSource.data.length == 0 && isLoading == false"
		style="display: flex; justify-content: center; padding: 2%; color: orangered">
		{{ "PAGES.GENERAL.NO_RECORDS" | translate }}
	</div>
	<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
		<mat-progress-spinner color="primary" mode="indeterminate" diameter="50"> </mat-progress-spinner>
	</mat-card>
	<mat-paginator *ngIf="dataSource != undefined && dataSource.data != undefined" [length]="totalItems"
		[pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true"
		(page)="pageChanged($event)"></mat-paginator>
	<hr />
	<br />
	<div class="row">
		<div class="col-lg-12 form-group">
			<button type="submit" class="btn btn-lg btn-default pull-right" (click)="onNoClick()">
				{{ "PAGES.GENERAL.EXIT" | translate }}
			</button>
		</div>
	</div>
</div>
