.btn_table_send i {
	color: #3d94fb !important;
}

.btn_table_dispatching i {
	color: hsl(120, 97%, 59%) !important;
	pointer-events: none !important;
	cursor: not-allowed !important;
}
.fixe {
	text-align: right !important;
}
.btn-export {
	color: #ffffff !important;
	background-color: #3875e7 !important;
	padding: 5px 20px !important;
}
.export-align {
	margin-left: 2% !important;
}

.numAo {
	width: 12% !important;
}

.objet {
	width: 20% !important;
	padding: 0 10px 0 10px !important;
}

.typeAo {
	width: 12% !important;
}

.dateOuvertureplis {
	width: 10% !important;
}
.statuAo {
	width: 15% !important;
	padding: 0 5px 0 5px !important;
}

.maintienOffre {
	color: red;
	width: 13% !important;
}

.actionAO {
	width: 18% !important;
}
