<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
				<i class="flaticon2-digital-marketing"></i>
			</span> &nbsp;
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.INSERT_PUB.TITRE_INDEX' | translate }}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    &nbsp;
                    <a href="javascript:; " (click)="addPublicite()" *ngxPermissionsOnly="['canCreateInsertPub']" class="btn btn-success btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i> {{ 'PAGES.INSERT_PUB.TITRE_NEW' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="export-align">
        <div class="kt-portlet__head-actions">
            <button (click)="exportTable()" type="button" class="btn btn-export" matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}&nbsp;{{ 'PAGES.BUREAU_ORDRE.COURRIER_ENTRANT.TITRE_INDEX' | translate }}">
				<i _ngcontent-clk-c12="" class="icon la la-file-excel-o"></i>{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}
			</button>
        </div>
    </div>
    <div class="example-header">
        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
        </mat-form-field>
    </div>
    <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- numero Column -->
        <ng-container matColumnDef="numEdition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.NUM_EDITION' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{row.numEdition}} </td>
        </ng-container>
        <!-- date Column -->
        <ng-container matColumnDef="dateEdition">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.DATE_EDITION' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{row.dateEdition | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- date Column -->
        <ng-container matColumnDef="datePublication">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.DATE_PUBLICATION' | translate }}
            </th>
            <td mat-cell *matCellDef="let row"> {{row.datePublication | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- journal Column -->
        <ng-container matColumnDef="media">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.MEDIAS' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{row.media.nom}} </td>
        </ng-container>

        <!-- recommande Column -->
        <ng-container matColumnDef="nomSupport">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.SUPPORT' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{row.media.supportPublicitaire.nomSupport}} </td>
        </ng-container>
        <!-- aPresident Column -->
        <ng-container matColumnDef="statutFacturel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.FACTURE.STATUT' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{row.factureInsertionPublicitaire.statutFacturel.libelle}} </td>
        </ng-container>
        <!-- dateSortie Column -->
        <ng-container matColumnDef="numeroFacture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.FACTURE.NUM' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{row.factureInsertionPublicitaire.numeroFacture}} </td>
        </ng-container>
        <!-- criticiteEntr Column -->
        <ng-container matColumnDef="montantHT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.FACTURE.MTHT' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{row.factureInsertionPublicitaire.montantHT | macurrency}} </td>
        </ng-container>

        <!-- idDispatching Column -->
        /*
        <ng-container matColumnDef="montantTtc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.INSERT_PUB.FACTURE.MTTTC' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{row.factureInsertionPublicitaire.montantTtc | macurrency}} </td>
        </ng-container> */

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" (click)="detailsPublicite(row)" *ngxPermissionsOnly="['canShowInsertPub']" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
						class="icon la la-search-plus"></i></button>
                <button type="button" (click)="editPublicite(row)" *ngxPermissionsOnly="['canUpdateInsertPub']" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="icon la la-edit"></i></button>
                <button type="button" (click)="deletePublicite(row.id)" *ngxPermissionsOnly="['canDeleteInsertPub']" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource.data.length == 0 && isLoading == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
        </mat-progress-spinner>
    </mat-card>
    <mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined " [length]="dataSource.data.length"  [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    <hr>
</div>
