:host {
	width: 100%;

	.kt-header-menu-wrapper {
		height: 100%;
	}
}
.hiddencanvas {
	display: none;
}

.kt-menu__submenu {
	margin-left: 20% !important;
}
.kt-menu__submenu-ar {
	margin-right: 20% !important;
}
