<div class="main-content container">
  <div class="breadcrumb">
    <h1 class="mr-2">Mise à jour de la comptabilite (montant et calcul)</h1>
  </div>
  <!-- card of depot -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card text-left">
        <div class="card-body">
          <div class="tab-content" id="myIconTabContent">
            <div class="row justify-content-center">

              <div class="col-md-12 col-lg-12 col-sm-12 my-4">
                <div class="border-grey br-10 p-3">
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-left h6 br-10 p-3 alert-info line-height-1_5">
                      Registre Carburant :
                      <div class="text-right w-50 float-right">
                        <button class="btn btn-primary font-weight-bold" type="submit"><i class="nav-icon i-Repeat-3 mr-2 font-weight-bold"></i>Mise à jour</button>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                      <form class="pl-3 pr-3 pt-3">
                        <div class="form-group row mb-0">
                          
                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Conventions :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Dotations :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>

                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Factures :</label>
                              <label class="col-sm-1 col-form-label f-s-13">1</label>
                            </div>
                          </div>

                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Missions :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                            </div>
                          </div>

                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="border-grey br-10 p-3">
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-left h6 br-10 p-3  alert-info line-height-1_5">
                      Registre Réparation :
                      <div class="text-right w-50 float-right">
                        <button class="btn btn-primary font-weight-bold" type="submit"><i class="nav-icon i-Repeat-3 mr-2 font-weight-bold"></i>Mise à jour</button>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                      <form class="pl-3 pr-3 pt-3">
                        <div class="form-group row justify-content-center mb-0">

                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Avance Sur Convention :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Dotation Avance Caissier :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>

                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Subvention FOSE :</label>
                              <label class="col-sm-1 col-form-label f-s-13">1</label>
                            </div>
                          </div>

                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Factures :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>

                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Reparations :</label>
                              <label class="col-sm-1 col-form-label f-s-13">1</label>
                            </div>
                          </div>

                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 col-lg-12 col-sm-12 my-4">
                <div class="border-grey br-10 p-3">
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-left h6 br-10 p-3 alert-info line-height-1_5">
                      Registre VTT :
                      <div class="text-right w-50 float-right">
                        <button class="btn btn-primary font-weight-bold" type="submit"><i class="nav-icon i-Repeat-3 mr-2 font-weight-bold"></i>Mise à jour</button>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                      <form class="pl-3 pr-3 pt-3">
                        <div class="form-group row justify-content-center mb-0">

                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Dotation Avance Caissier :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Factures :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="border-grey br-10 p-3">

                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 text-left h6 br-10 p-3  alert-info line-height-1_5">
                      Registre VTA :
                      <div class="text-right w-50 float-right">
                        <button class="btn btn-primary font-weight-bold" type="submit"><i class="nav-icon i-Repeat-3 mr-2 font-weight-bold"></i>Mise à jour</button>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-center pl-3 pr-3">
                    <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                      <form class="pl-3 pr-3 pt-3">
                        <div class="form-group row justify-content-center mb-0">

                          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Dotation Avance Caissier :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>
                
                              <label class="col-sm-3 col-form-label text-dark font-weight-bold f-s-13">Factures :</label>
                              <label class="col-sm-1 col-form-label f-s-13">0</label>

                            </div>
                          </div>
                          
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>