<!-- begin:: Content -->
<div *ngIf="detailscourrier" class="kt-portlet portlet-1">
    <div class="kt-portlet__head kt-bg-portlet-2">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-multimedia-2"></i>
            </span> &nbsp;
            <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                {{ 'PAGES.BUREAU_ORDRE.COURRIER_ENTRANT.TITRE_SHOW' | translate }}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button (click)="cloture()" type="button"
                        class="btn btn-info tn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        *ngxPermissionsOnly="['canDispatchingCE']">
                        <i _ngcontent-dkp-c41="" class="icon la la-plus"></i>
                        cloturé
                    </button>
                    &nbsp;
                    <button (click)="historique()" type="button"
                        class="btn btn-sm btn-clean btn-icon btn_table_print btn-icon-md"
                        matTooltip="{{ 'PAGES.GENERAL.INFO' | translate }}">
                        <i class="fas fa-info-circle text-primary"></i>
                    </button>
                    <button _ngcontent-dkp-c41="" (click)="editCourrierEntrant()"
                        *ngxPermissionsOnly="['canUpdateCourrierEntrant']"
                        matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"
                        class="btn btn-warning tn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                        <i _ngcontent-dkp-c41="" class="icon la la-edit"></i>
                        {{ 'PAGES.GENERAL.EDIT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12 show_port">
                <table class="table pj" width="100%">
                    <tbody>
                        <tr>
                            <th>{{ 'PAGES.BUREAU_ORDRE.NUMERO' | translate }} :</th>
                            <td class="donnee_show">{{detailscourrier.numero?detailscourrier.numero:"-"}}
                            </td>
                            <th>{{ 'PAGES.BUREAU_ORDRE.REFERENCE' | translate }} :</th>
                            <td class="donnee_show">{{detailscourrier.reference}}
                            </td>

                        </tr>
                        <tr>
                            <th>{{ 'PAGES.BUREAU_ORDRE.OBJET' | translate }} :</th>
                            <td colspan="4" class="donnee_show">{{detailscourrier.objet?detailscourrier.objet:"-"}}</td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.BUREAU_ORDRE.DATE_RECEPTION' | translate }} :</th>
                            <td class="donnee_show">
                                {{(detailscourrier.dateReception != null)?(detailscourrier.dateReception |
                                date:'dd/MM/yyyy'):"-"}}
                            </td>
                            <th>{{ 'PAGES.BUREAU_ORDRE.RESPONSABLE_DISPATCHING' | translate }} :</th>
                            <td class="donnee_show">
                                <span *ngIf="language=='fr'">Directeur Général des départements communales</span>
                                <span
                                    *ngIf="language=='ar'">{{detailscourrier.responsableDispatching?detailscourrier.responsableDispatching:"-"}}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.BUREAU_ORDRE.ISPRESIDENT' | translate }} :</th>
                            <div *ngIf="detailscourrier.president!=null">
                                <div *ngIf="detailscourrier.president; else elseBlock">
                                    <td colspan="4" class="donnee_show">
                                        {{ 'PAGES.BUREAU_ORDRE.BOOLEAN_YES' | translate }}</td>
                                </div>
                                <ng-template #elseBlock>
                                    <td colspan="4" class="donnee_show">
                                        {{ 'PAGES.BUREAU_ORDRE.BOOLEAN_NO' | translate }}</td>
                                </ng-template>
                            </div>
                        </tr>
                        <tr>
                            <th>{{ 'PAGES.BUREAU_ORDRE.PRIORITE' | translate }} :</th>
                            <td *ngIf="detailscourrier.criticiteCourrier!=null">
                                <span *ngIf="detailscourrier.criticiteCourrier.id==1; else elseBlock">
                                    <span
                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide"
                                        style="background-color: rgb(248, 35, 35) !important;"
                                        *ngIf="language=='fr' && detailscourrier.criticiteCourrier.libelle=='مستعجل'">Urgent</span>

                                    <span
                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide"
                                        style="background-color: rgb(248, 35, 35) !important;"
                                        *ngIf="language=='ar' && detailscourrier.criticiteCourrier.libelle=='مستعجل'">مستعجل</span>

                                </span>
                                <ng-template #elseBlock>
                                    <span
                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide"
                                        style="background-color: rgba(2, 160, 120, 0.767) !important;"
                                        *ngIf="language=='fr' && detailscourrier.criticiteCourrier.libelle=='عادي'">Normal</span>

                                    <span
                                        class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide"
                                        style="background-color: rgba(2, 160, 120, 0.767) !important;"
                                        *ngIf="language=='ar' && detailscourrier.criticiteCourrier.libelle=='عادي'">عادي</span>
                                </ng-template>
                            </td>
                            <th>{{ 'PAGES.BUREAU_ORDRE.TYPE_COURRIER' | translate }} :</th>
                            <td class="donnee_show">
                                <span *ngIf="language=='fr' && detailscourrier.typeCourrier=='البريد المضمون'">Courrier recommandé</span>
                                    <span *ngIf="language=='fr' && detailscourrier.typeCourrier=='البريد العادي'">Courrier régulier</span>
                                    <span *ngIf="language=='fr' && detailscourrier.typeCourrier=='إيداع مادي'">Dépôt financier</span>
                                    
                                    <span *ngIf="language=='ar' && detailscourrier.typeCourrier=='البريد المضمون'">البريد المضمون</span>
                                    <span *ngIf="language=='ar' && detailscourrier.typeCourrier=='البريد العادي'">البريد العادي</span>
                                    <span *ngIf="language=='ar' && detailscourrier.typeCourrier=='إيداع مادي'">إيداع مادي</span>
                            </td>
                        </tr>
                        <tr>
                            <th> {{ 'PAGES.BUREAU_ORDRE.COURRIER_INTERNE_EXTERNE' | translate }} :</th>
                            <div *ngIf="detailscourrier.typeOrigine!=null">
                                <div *ngIf="detailscourrier.typeOrigine=='out'; else elseBlock">
                                    <td class="donnee_show">
                                        {{ 'PAGES.BUREAU_ORDRE.ORIGINE_OUT' | translate }}</td>
                                </div>
                                <ng-template #elseBlock>
                                    <td class="donnee_show">
                                        {{ 'PAGES.BUREAU_ORDRE.ORIGINE_IN' | translate }}</td>
                                </ng-template>
                            </div>
                            <th>{{ 'PAGES.BUREAU_ORDRE.STATUT' | translate }} :</th>
                            <div *ngIf="detailscourrier?.statut.length>10; else elseBlock">
                                <td style="color: coral;" class="donnee_show"><i class="far fa-clock"></i>
                                    {{detailscourrier.statut}}
                                </td>
                            </div>
                            <ng-template #elseBlock>
                                <td style="color: rgb(5, 223, 41);" class="donnee_show"><i class="fa fa-check"></i>
                                    {{detailscourrier.statut}}
                                </td>
                            </ng-template>
                        </tr>
                        <tr *ngIf="detailscourrier?.typeOrigine=='out'">
                            <th>
                                {{ 'PAGES.BUREAU_ORDRE.PARTENAIRE' | translate }} :</th>
                            <td colspan="4" class="donnee_show">
                                {{ detailscourrier.origineCourierEntrant }}</td>
                        </tr>
                        <tr *ngIf="detailscourrier?.typeOrigine=='out'">
                            <th>{{ 'PAGES.BUREAU_ORDRE.COURRIER_ENTRANT.REF_ORIGINE' | translate }} :</th>
                            <td class="donnee_show">{{ detailscourrier.refOrigine?detailscourrier.refOrigine:"-" }}</td>
                            <th>{{ 'PAGES.BUREAU_ORDRE.COURRIER_ENTRANT.DATE_EMISSION' | translate }} :</th>
                            <td class="donnee_show">
                                {{ (detailscourrier.dateEmissionOrigine != null) ? (detailscourrier.dateEmissionOrigine
                                | date:'dd/MM/yyyy') : "-"}}
                            </td>
                        </tr>
                        <tr *ngIf="detailscourrier?.typeOrigine=='in'">
                            <th *ngIf="detailscourrier?.typeOrigine=='in'">
                                {{ 'PAGES.ORGANISATION.DIVISION' | translate }} :</th>
                            <td *ngIf="detailscourrier?.typeOrigine=='in'" class="donnee_show">
                                {{ detailscourrier?.division?detailscourrier.division:'---'}}</td>
                            <th>{{ 'PAGES.ORGANISATION.SERVICE' | translate }} :</th>
                            <td class="donnee_show">
                                {{ detailscourrier?.service?detailscourrier.service:'---'}}</td>
                        </tr>
                        <tr>
                            <th>{{'PAGES.BUREAU_ORDRE.DATE_LIMITE_TRAITEMENT' | translate}} :</th>
                            <td>{{detailscourrier.dateLimiteTraitement ? detailscourrier.dateLimiteTraitement : '-'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- begin:: Content  | id="destinataire" -->
<div class="kt-portlet" id="destinataire">
    <div class="kt-portlet__head kt-bg-portlet-4">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-users"></i>
            </span> &nbsp;
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.BUREAU_ORDRE.DESTINATAIRE_COURRIER.TITRE_INDEX' | translate }}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button _ngcontent-dkp-c41="" (click)="destinataireCourrierEntrant()"
                        *ngxPermissionsOnly="['canDispatchingCE']"
                        matTooltip="{{ 'PAGES.BUREAU_ORDRE.DISPATCH_ACTION_NO' | translate }}"
                        class="btn btn-primary tn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                        <i _ngcontent-dkp-c41="" class="icon la la-paper-plane"></i>
                        {{ 'PAGES.BUREAU_ORDRE.DISPATCH_ACTION_NO' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12 show_port">

                <table id="ExampleTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="idDivision">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.ORGANISATION.DIVISION' | translate }} </th>
                        <td mat-cell *matCellDef="let row">{{row?.division?row.division:'---'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="idService">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.ORGANISATION.SERVICE' | translate }} </th>
                        <td mat-cell *matCellDef="let row">{{row?.service?row.service:'---'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="idPersonne">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.PERSONNEL.PERSONNEL' | translate }} </th>
                        <td mat-cell *matCellDef="let row">
                            {{row?.personnelInterne?row.personnelInterne:'---'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="typeDestinataire">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.BUREAU_ORDRE.DESTINATAIRE_COURRIER.DESTINATAIRE' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row?.typeDestinataire?row.typeDestinataire:'---'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.BUREAU_ORDRE.DESTINATAIRE_COURRIER.DESIGNATION' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row?.designation?row.designation:'---'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="comment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'PAGES.BUREAU_ORDRE.DESTINATAIRE_COURRIER.COMMENT' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row?.comment?row.comment:'---'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="dataSource.data.length == 0 && isLoading == false"
                    style="display: flex;justify-content: center;padding: 2%;color: orangered;">
                    {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
                </div>
                <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                    </mat-progress-spinner>
                </mat-card>
                <mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined "
                    [length]="dataSource.data.length" [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,20]"
                    showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- begin:: Content -->
<div class="kt-portlet" *ngIf="detailscourrier">
    <div class="kt-portlet__head kt-bg-portlet-5">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-attachment"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.INTERVENTION_RAPIDE.PJ' | translate }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12 show_port">
                <table *ngIf="files" class="table pj" width="100%">
                    <thead>
                        <tr>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TYPE' | translate }}</td>
                            <td class="title_td" width="25%">{{ 'PAGES.ATTCHEMENTS.FICHIER' | translate }}
                            </td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.DATE_DISPATCHING' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TAILLE_FICHIER' | translate }}</td>
                            <td class="title_td"></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of files | async">
                            <td><img class="file_icon" src="./assets/media/files/{{FileExtension(item.name)}}"
                                    matTooltip="{{FileName(item.name)}}"></td>
                            <td> {{FileName(item.name) | slice:0:20}}</td>
                            <td style="direction: initial;">{{item.dateFile | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td style="direction: initial;">{{getFormattedFileSize(item.fSize)}}</td>
                            <td>
                                <button type="button" (click)="onClickPjName(item.idAlfresco,item.id)"
                                    class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download"
                                    matTooltip="{{ 'PAGES.ATTCHEMENTS.TELECHARGER' | translate }}"><i
                                        class="flaticon-download-1"></i></button>

                                <!-- *** pdf viewer action *** -->
                                <button type="button" (click)="openDialog(item.idAlfresco,detailscourrier.numero)"
                                    class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md"
                                    matTooltip="{{ 'PAGES.ATTCHEMENTS.VISUALISER' | translate }}"><i
                                        class="fas fa-eye"></i></button>

                                <!-- *** end action pdf viewer *** -->


                                <!--   <button mat-button (click)="openDialog(item.idAlfresco,detailscourrier.numero)"
                                    class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                                        class="fas fa-arrows-alt"></i></button>
                                <button  type="button"
                                    (click)="openDoc(item.idAlfresco)"
                                    class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md" matTooltip="View"><i
                                        class="fas fa-eye"></i></button>  -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="start">
                    <p class="wait_text_bar">{{ 'PAGES.ATTCHEMENTS.WAIT_MSG' | translate }}</p>
                    <mat-progress-bar class="progress_bar" mode='query'></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- begin:: Content -->
<div class="kt-portlet" *ngIf="detailscourrier">
    <div class="kt-portlet__head kt-bg-portlet-5">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-attachment"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.INTERVENTION_RAPIDE.REPONSES' | translate }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-12 show_port">
                <table *ngIf="files" class="table pj" width="100%">
                    <thead>
                        <tr>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.RESPONSABLE_DISPATCHING' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.MOTIF' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TYPE' | translate }}</td>
                            <td class="title_td" width="25%">{{ 'PAGES.ATTCHEMENTS.FICHIER' | translate }}
                            </td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.DATE_DISPATCHING' | translate }}</td>
                            <td class="title_td">{{ 'PAGES.ATTCHEMENTS.TAILLE_FICHIER' | translate }}</td>
                            <td class="title_td"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fileHistorique | async">
                            <td> {{item.userName }}</td>
                            <td> {{item.motif}} </td>
                            <td><img class="file_icon" src="./assets/media/files/{{FileExtension(item.name)}}"
                                    matTooltip="{{FileName(item.name)}}"></td>
                            <td> {{FileName(item.name) | slice:0:20}}</td>
                            <td style="direction: initial;">{{item.dateFile | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td style="direction: initial;">{{getFormattedFileSize(item.fSize)}}</td>
                            <td>
                                <button type="button" (click)="onClickPjName1(item.idAlfresco,item.id)"
                                    class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_download"
                                    matTooltip="{{ 'PAGES.ATTCHEMENTS.TELECHARGER' | translate }}"><i
                                        class="flaticon-download-1"></i></button>




                                <button mat-button (click)="openDialog1(item.idAlfresco,detailscourrier.numero)"
                                    class="btn btn-sm btn-clean btn-icon btn-icon-md"><i
                                        class="fas fa-eye"></i></button>
                                <button mat-button (click)="delete(item.id)" *ngxPermissionsOnly="['canDispatchingCE']"
                                    class="btn btn-sm btn-danger btn-icon btn-icon-md"><i
                                        class="icon la la-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="start">
                    <p class="wait_text_bar">{{ 'PAGES.ATTCHEMENTS.WAIT_MSG' | translate }}</p>
                    <mat-progress-bar class="progress_bar" mode='query'></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- begin:: Content -->
<div class="kt-portlet">
    <div class="kt-portlet__head kt-bg-portlet-5">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-attachment"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                {{ 'PAGES.ATTCHEMENTS.TT' | translate }}
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-4 show_port input-group" style="display: grid;">
                <label style="display:flex">
                    <span> {{ 'PAGES.ATTCHEMENTS.MOTIF' | translate }}
                    </span>
                </label>

                <input type="text" class="form-control" style="width: 100%;" (keyup)="keyup($event)">
            </div>
            <div class="col-md-6 show_port input-group" style="margin-top: 20px;">
                <label class="input-group-btn">
                    <span class="btn btn-info"> {{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}
                        <input type="file" (change)="save($event)" id="customFile" style="display: none;">
                    </span>
                </label>
                <input id="test" type="text" class="form-control" readonly>
            </div>
            <div class="col-md-2 show_port input-group" style="margin-top: 20px;">
                <button type="button" class="btn btn-success btn-md btn-tall btn-wide" (click)="saveinAlfreco()">
                    <span> {{ 'PAGES.ATTCHEMENTS.SAVE' | translate }} </span>
                </button>

            </div>
        </div>

    </div>
    <!-- end:: Content -->
    <!-- begin :: Action -->
    <div class="kt-portlet__head" *ngIf="detailscourrier">
        <div class="kt-portlet__head-label" align="right">
            <!-- <button type="button" (click)="printGenerator()" _ngcontent-dkp-c41=""
			matTooltip="{{ 'PAGES.GENERAL.PRINT' | translate }}"-->
            <button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.EXIT' | translate }}"
                class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
                (click)="back()">
                <i _ngcontent-dkp-c41="" class="icon la la-list"></i>
                {{ 'PAGES.GENERAL.EXIT' | translate }}</button>
        </div>
        <div class="espace_bloc"></div>
    </div>