.btn_table_send i {
    color: #3d94fb !important;
}

.btn_table_dispatching i {
    color: hsl(120, 97%, 59%) !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
}

.fixe {
    text-align: right !important;
}

.btn-export {
    color: #ffffff !important;
    background-color: #3875e7 !important;
    padding: 5px 20px !important;
}

.export-align {
    margin-left: 2% !important;
}

// .objet {
// 	width: 23% !important;
// }
.numAo {
    width: 10% !important;
    //padding-left: 9px !important;
    padding: 0 5px 0 5px !important;
}

.objet {
    width: 34% !important;
    padding: 0 5px 0 5px !important;
}

.budgetEstimatif {
    width: 14% !important;
    padding: 0 5px 0 5px !important;
}

.typeMarche {
    width: 10% !important;
    padding: 0 5px 0 5px !important;
}

.statutAo {
    width: 16% !important;
    padding: 0 5px 0 5px !important;
}

.actions {
    width: 16% !important;
    padding: 0 5px 0 5px !important;
}
