.prestataire {
    padding-left: 2px;
    width: 30%;
}

.tel {
    padding-left: 10px;
}

.mail {
    padding-left: 10px;
    width: 15%;
}

.rc {
    padding-left: 10px;
}

.ice {
    padding-left: 10px;
}

.idFisc {
    padding-left: 10px;
}

.adresse {
    padding-left: 20px;
}