label {
    font-weight: 600;
}

.mat-column-checkbox,
.mat-column-id {
    flex: 0 0 113px !important;
}

.table-prix {
    text-align: center;
    color: #ffffff;
    background-color: #2a5599;
    padding: 7px;
    font-size: inherit;
}

.num {
    width: 8%;
}

.objet {
    width: 25%;
}

.unite {
    width: 10%;
}

.tva {
    width: 5%;
}

.prixU {
    width: 13%;
}

.qte {
    width: 5%;
}

.total {
    width: 15%;
}

.action {
    width: 15%;
}