table {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 18px 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  