<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				Ajout du tableau de bord
			</h2>
		</div>

	</div>
	<div class="   ">
		<form action="" class="row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
			<div class=""></div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.ORIENTATIONS_STRATEGIQUES" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" (selectionChange)="OrientationStarategiqueSelect($event.value)" formControlName="orientationStrategique" (selectionChange)="addItemOrientationStrategique($event.value)" [(ngModel)]="selectedOptionsORS">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>

							<mat-option *ngFor="let item of orientationStrategique" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.OBJECTIFS_OPERATIONNELS" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="objectifOperationnel" (selectionChange)="addItemObjectifOperationnel($event.value)" [(ngModel)]="selectedOptionsOP">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of objectifOperationnel" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.OBJECTIFS_STRATEGIQUES" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="objectifStrategique" (selectionChange)="addItemObjectifStrategique($event.value)" [(ngModel)]="selectedOptionsOS">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of objectifStrategique" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.AXE" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="axe" (selectionChange)="addItemAxe($event.value)" [(ngModel)]="selectedOptionsA">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of axe" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.PROJET" | translate }} :</mat-label>
						<input type="text" class="form-control-solid form-control-lg" formControlName="nameProjet" matInput />
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<mat-form-field class="example-full-width">
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NIVEAU' | translate }} :" formControlName="niveau" [(ngModel)]="selectedOptionsN" (selectionChange)="addItemNiveau($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option value="proximité">Proximité</mat-option>
							<mat-option value="structurant">Structurant</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.MAITRE_OUVRAGE" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="maitreOuvrage" [(ngModel)]="selectedOptionsMO" (selectionChange)="addItemMaitreOuvrage($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of maitreOuvrage" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

            <div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.MAITRE_OUVRAGE_DELEGUE" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="maitreOuvrageDelegue" [(ngModel)]="selectedOptionsMOD" (selectionChange)="addItemMaitreOuvrageDelegue($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of maitreOuvrageDelegue" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.ANNEE" | translate }} :</mat-label>
						<input matInput class="form-control" [matDatepicker]="picker5" placeholder="{{ 'PAGES.PROGRAMME.ANNEE' | translate }} :" formControlName="date" />
						<mat-datepicker-toggle matSuffix matSuffix [for]="picker5">
							<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i> </mat-icon>
						</mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #picker5></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.NATURE_PROJET" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="nature" [(ngModel)]="selectedOptionsNP" (selectionChange)="addItemNature($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of natures" [value]="item">
								<div *ngIf="checkLang=='fr'">
									{{ item.libelleFrancais }}
									</div>
									<div *ngIf="checkLang=='ar'">
										{{ item.libelleArab }}
									</div>							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-select multiple class="form-control-lg" placeholder="{{ 'PAGES.PROGRAMME.CODE_ORIENTATION' | translate }} :" formControlName="codeOrientation" [(ngModel)]="selectedOptionsCO" (selectionChange)="addItemCodeOrientation($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of codes" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.NUMERO_PROJET" | translate }} :</mat-label>
						<input type="text" class="form-control-solid form-control-lg" formControlName="numProjet" matInput />
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.CODE_PROJET" | translate }} :</mat-label>
						<input type="text" class="form-control-solid form-control-lg" formControlName="codeProjet" matInput />
					</mat-form-field>
				</div>
			</div>

            <div class="col-md-3">
                <div class="form-group fv-plugins-icon-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ "PAGES.PROGRAMME.CHEF_PROJET" | translate }} :</mat-label>
                        <mat-select multiple class="form-control-lg" (selectionChange)="addItemChefProjet($event.value)"
                            placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :"
                            formControlName="chefProjet" [(ngModel)]="selectedOptionsCP">
                            <mat-option  value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                            <mat-option *ngFor="let item of chefProjets" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group fv-plugins-icon-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ "PAGES.PROGRAMME.LIEU" | translate }} :</mat-label>
                        <mat-select multiple class="form-control-lg"
                            placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="lieu"
                            [(ngModel)]="selectedOptionsL" (selectionChange)="addItemLieu($event.value)">
                            <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                            <mat-option *ngFor="let item of localisation" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group fv-plugins-icon-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ "PAGES.PROGRAMME.ANNEE_DEBUT" | translate }} :</mat-label>
                        <input type="number" class="form-control-solid form-control-lg" formControlName="anneeDebut"
                            matInput />
                    </mat-form-field>
                </div>
            </div>
			
		
            <div class="col-md-3">
                <div class="form-group fv-plugins-icon-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ "PAGES.PROGRAMME.ANNEE_FIN" | translate }} :</mat-label>
                        <input type="number" class="form-control-solid form-control-lg" formControlName="anneeFin"
                            matInput />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group fv-plugins-icoan-container">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ "PAGES.PROGRAMME.ETAT_AVANCEMENT_PROJET" | translate }} :</mat-label>
                        <mat-select multiple class="form-control" formControlName="etatAvancement" [(ngModel)]="selectedOptionsEA" (selectionChange)="addItemEtatAvancement($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                            <mat-option [value]="'NON_LANCES'">{{ "PAGES.PROGRAMME.NON_LANCES" | translate }}
                            </mat-option>
                            <mat-option [value]="'ACHEVES'">{{ "PAGES.PROGRAMME.ACHEVES" | translate }}
                            </mat-option>
                            <mat-option [value]="'EN_COURS'">{{ "PAGES.PROGRAMME.EN_COURS" | translate }}</mat-option>
                            <mat-option [value]="'EN_ARRET'">{{ "PAGES.PROGRAMME.EN_ARRET" | translate }}</mat-option>
							<mat-option [value]="'ANNULE'">{{ "PAGES.PROGRAMME.ANNULE" | translate }} </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
			<div class="col-md-3">
				
						<div class="form-group fv-plugins-icoan-container">
							<mat-form-field class="example-full-width">
								<mat-label>{{ 'PAGES.PROGRAMME.CONVENTION' | translate }} :</mat-label>

								<mat-select class="form-control" 
									 multiple formControlName="convention" [(ngModel)]="selectedOptionsConvention" (selectionChange)="ConventionChange($event.value)">
									 <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>

									<mat-option *ngFor="let item of listConvention" [value]="item" >
										<span *ngIf="checkLang == 'fr'">
											{{ item?.object }}
										</span>
										<span *ngIf="checkLang == 'ar'">
											{{ item?.objectAr }}
										</span>
									</mat-option>
								</mat-select>
							</mat-form-field>
						
				</div>
			</div>
            <div class="col-md-3" style="margin-top: 15px;;">
            </div>
			<div class="col-md-3" style="margin-top: 15px;;">
            </div>
            <div class="col-md-3" style="margin-top: 15px;;">
               
            </div>   <div class="col-md-3" style="margin-top: 15px;;">
               
            </div>
            <div class="col-md-3" style="margin-top: 15px;;">
                <button  _ngcontent-dkp-c41=""
                    class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                    <i _ngcontent-dlp-c41 class="icon la "></i>
                    Ajouter
                </button>
            </div>
           



        </form>

    </div>
   
</div> 
