<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">
					<span *ngIf="isUpdate">Modification Partie Preneur</span>
					 <span *ngIf="!isUpdate">Ajouter Partie Preneur</span>
				</h2>
			</div>
		</div>
	</div>
	<form [formGroup]="formPP" (ngSubmit)="onSubmit()">
	<div class="col-xl-12 col-xxl-6">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						
						<mat-label>Nom</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							matInput
							formControlName="nom"
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Prenom</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							name="address1"
							formControlName="prenom"
							matInput
						/>
					</mat-form-field>

					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Email</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							formControlName="email"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>tel</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							formControlName="tel"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
            <div class="col-md-6">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>organisme</mat-label>
						<input
							type="text"
							class="form-control form-control-solid form-control-lg"
							formControlName="organisme"
							matInput
						/>
					</mat-form-field>
					<div class="fv-plugins-message-container"></div>

					<div class="fv-plugins-message-container"></div>
				</div>
			</div>
		</div>

		<div class="kt-portlet__heads">
			<div class="kt-portlet__head-label text-right">
				<button
					href="javascript:; "
					(click)="RetourEmbalages()"
					_ngcontent-dkp-c41=""
					class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
					Retour
				</button>
				<button
					_ngcontent-dkp-c41=""
					class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
				>
					<i _ngcontent-dlp-c41 class="icon la la-floppy-o"></i>
					ENREGISTRER
				</button>
			</div>
		</div>
		<div class="espace_bloc"></div>
	</div>
	</form>
</div>

