<div class="kt-portlet__body">
    <div *ngIf="showForm">
        <form *ngxPermissionsOnly="['canCreateEchantillon']" class="kt-form" autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" [matDatepicker]="picker" name="delais" [(ngModel)]="formData.delais" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.DELAIS' | translate }} ">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <input matInput class="form-control" [matDatepicker]="picker2" name="dateExamen" [(ngModel)]="formData.dateExamen" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.DATE_EXAMEN' | translate }} ">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8  my-auto"><label>{{ 'PAGES.MARCHE.ECHANTILLONS.HEURE' | translate }} : </label></div>
                            <div class="col-md-4  my-auto">
                                <div class="example-full-width">
                                    <ngb-timepicker [(ngModel)]="heureExam" name="time">
                                    </ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-select class="form-control" (selectionChange)="onChangeDivision($event)" name="divisionAo" [(ngModel)]="formData.division" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.DIVISION' | translate }}">
                                <mat-option *ngFor="let item of divisions" value="{{item.id}}">
                                    {{checkLang=='ar'?item.libelle:item.libelleFR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-select class="form-control" name="criticiterec" [(ngModel)]="formData.service" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.SERVICE' | translate }} ">
                                <mat-option *ngFor="let item of services" value="{{item.id}}">
                                    {{checkLang=='ar'?item.libelle:item.libelleFR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-select class="form-control" name="crit" [(ngModel)]="formData.responsable" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.RESPONSABLE' | translate }}">
                                <mat-option *ngFor="let item of personnels" value="{{item.id}}">
                                    {{item.nom}} {{item.prenom}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="espace_bloc"></div>
            <!-- begin:: card section 1 -->
            <div class="card text-cente">
                <div class="card-header" style="text-align: justify;">
                    <div class="row">
                        <button class="btn btn-label-primary" type="button" (click)="addItem()" style="margin-right: 5px;"> <i
								class="la la-plus"></i>{{ 'PAGES.MARCHE.ECHANTILLONS.TITRE_NEW' | translate }} </button>
                    </div>
                </div>
                <!-- begin:: card ech form -->
                <div class="card-body">
                    <div *ngIf="showAddechantillon" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.LIBELLE' | translate }}  :" [(ngModel)]="formDataSymbole.libelle" name="nompp" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.QTE' | translate }}:" [(ngModel)]="formDataSymbole.qte" name="nompp" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.EXEMPLAIRE' | translate }}:" [(ngModel)]="formDataSymbole.format" name="nompp" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="{{ 'PAGES.MARCHE.ECHANTILLONS.ADRESSE' | translate }}:" [(ngModel)]="formDataSymbole.adresse" name="nompp" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button style="position: absolute;right: 0px; bottom: 40%;" class="btn btn-primary" (click)="validerEchantillon()"><i class="fas fa-check"></i>
								{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
                        </div>
                    </div>
                    <div *ngIf="dataSource1" class="example-container mat-elevation-z8">
                        <table id="exportData" mat-table [dataSource]="dataSource1" class="mat-elevation-z8" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="libelle" style="font-size: 11px !important;">
                                <th mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
                                    {{ 'PAGES.MARCHE.ECHANTILLONS.ECHANTILLONS' | translate }}
                                </th>
                                <td mat-cell *matCellDef="let row" class="chikaya_td"> {{row.libelle}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="qte" style="font-size: 11px !important;">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'PAGES.MARCHE.ECHANTILLONS.QTE' | translate }} </th>
                                <td mat-cell *matCellDef="let row"> {{row.qte}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="format" style="font-size: 11px !important;">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'PAGES.MARCHE.ECHANTILLONS.EXEMPLAIRE' | translate }} </th>
                                <td mat-cell *matCellDef="let row"> {{row.format}} </td>
                            </ng-container>

                            <ng-container matColumnDef="adresse" style="font-size: 11px !important;">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{ 'PAGES.MARCHE.ECHANTILLONS.ADRESSE' | translate }} </th>
                                <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- end:: card ech form -->
            </div>
            <!-- end:: card section 2 -->
            <div class="espace_bloc"></div>
            <hr>
            <!--Action Section :: begin-->
            <div class="kt-portlet__head-label" align="right">
                <button type="submit" class="btn btn-success " matTooltip="{{ 'PAGES.GENERAL.SAVE' | translate }}">
					<i class="icon la la-floppy-o"></i>{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
                <button _ngcontent-dkp-c41="" class="btn btn-info btn-md" type="reset" (click)="back()">
					<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
					{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
            </div>
            <!--Action Section :: end-->
            <hr>
            <div class="espace_bloc"></div>
        </form>
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div *ngIf="dataSource" class="example-container mat-elevation-z8">
            <table id="exportData2" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="division">
                    <th mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
                        {{ 'PAGES.MARCHE.ECHANTILLONS.DIVISION' | translate }} </th>
                    <td mat-cell *matCellDef="let row" class="chikaya_td"> {{libelleDivision?libelleDivision:"-"}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="service">
                    <th mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
                        {{ 'PAGES.MARCHE.ECHANTILLONS.SERVICE' | translate }} </th>
                    <td mat-cell *matCellDef="let row" class="chikaya_td"> {{libelleService?libelleService:"-"}} </td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="responsable">
                    <th mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
                        {{ 'PAGES.MARCHE.ECHANTILLONS.RESPONSABLE' | translate }} </th>
                    <td mat-cell *matCellDef="let row" class="chikaya_td"> {{libellePersonnel?libellePersonnel:"-"}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="delais">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'PAGES.MARCHE.ECHANTILLONS.DELAIS' | translate }}</th>
                    <td mat-cell *matCellDef="let row"> {{(row.delais != null)?(row.delais |date: 'dd/MM/yyyy'):"-"}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="dateExamen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{ 'PAGES.MARCHE.ECHANTILLONS.DATE_EXAMEN' | translate }}</th>
                    <td mat-cell *matCellDef="let row"> {{(row.dateExamen != null)?(row.dateExamen |date: 'dd/MM/yyyy'):"-"}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                        <a href="javascript:;" (click)="showchantillon()" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i class="la la-search-plus"></i></a>
                        <a href="javascript:;" *ngxPermissionsOnly="['canCreateEchantillon']" (click)="editEchantillonFormDialog(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
                        <a href="javascript:;" *ngxPermissionsOnly="['canCreateEchantillon']" (click)="deleteChantillon(row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    </div>
</div>
