// .btn-export{
// 	color: #ffffff !important;
// 	background-color: #1d94f5 !important;
// }
.btn_table_show i{
	color: #1dc9b7 !important;
}

.btn_table_send i{
	color: #3d94fb !important;
}

.btn_table_send i:hover{
	color: #3d94fb !important;
}

.btn_table_dispatching i{
	color: hsl(120, 97%, 59%) !important;
	pointer-events: none !important;
	cursor: not-allowed !important;
}
.fixe{
	text-align: right !important;
}
.btn-export{
	color: #ffffff !important;
	background-color: #3875e7 !important;
	padding: 5px 20px !important;
}

.btn-export:hover{
	color: #3875e7 !important;
	//background-color: #3875e7 !important;
	//padding: 5px 20px !important;
}
.export-align{
	margin-left: 2% !important;
}
