<div class="main-content container">
    <div class="breadcrumb">
      <h1 class="mr-2">Position de la vignette</h1>
    </div>
    <!-- card of depot -->
    <div class="row">

    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">

            <div class="mr-6 ml-6 mt-3 mb-4 p-4 background-color-light border-grey br-10">
              <div class="body">
                <div class="form-group row justify-content-center mb-1">
                  <div class="col-md-3 form-group ">
                    <label>Code barre vignette :</label>
                    <input class="form-control" type="text" placeholder="Code barre vignette">
                  </div>
                  <div class="col-md-2 col-lg-2 form-group">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary font-weight-bold btn-block" type="submit"><i class="nav-icon i-Magnifi-Glass1 mr-2 font-weight-bold"></i>Rechercher</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3 my-4">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">
                    
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>Caisse principal :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Convention :</label>
                        <label class="col-sm-2 col-form-label f-s-13">C 1</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3 my-4">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>Caisse Carburant :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Convention :</label>
                        <label class="col-sm-2 col-form-label f-s-13">C 1</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3 my-4">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>Caisse Reparation :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Convention :</label>
                        <label class="col-sm-2 col-form-label f-s-13">C 1</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3 my-4">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>Caisse VTT :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Convention :</label>
                        <label class="col-sm-2 col-form-label f-s-13">C 1</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3 my-4">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>FOSE :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Convention :</label>
                        <label class="col-sm-2 col-form-label f-s-13">C 1</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <div class="row justify-content-center pl-3 pr-3">
              <div class="col-md-12 col-lg-12 col-sm-12 br-10 border-grey background-color-light">
                <form class="pl-3 pr-3 pt-3">
                  <div class="form-group row mb-0">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h3>Consommation :</h3>
                      <div class="row">
                        <label class="col-sm-4 col-form-label text-dark font-weight-bold f-s-13">Date :</label>
                        <label class="col-sm-2 col-form-label f-s-13">2021-11-15</label>
          
                        <label class="col-sm-2 col-form-label text-dark font-weight-bold f-s-13">Nature :</label>
                        <label class="col-sm-1 col-form-label f-s-13">0</label>

                        <label class="col-sm-2 col-form-label text-dark font-weight-bold f-s-13">Detail :</label>
                        <label class="col-sm-1 col-form-label f-s-13">0</label>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

  </div>
</div>