<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="">
                            رقم الشكاية : {{reclamation.reclamation.id}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-label">
                        <h3 class="">
                            وضع الشكاية : {{reclamation.reclamation.statutReclamation.libelle}} <span class="kt-font-brand kt-font-bold"></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- begin:: Content section 2 -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="kt-portlet portlet-1">
                <div class="kt-portlet__head kt-bg-portlet-1">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-file-2 kt-font-inverse-brand"></i>
                        </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            نوع الشكاية
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <form class="example-form">
                                <div class="row">
                                    <div class="col-md-12 show_port">
                                        <div class="row">
                                            <div class="col-md-2 my-auto">
                                                الخطورة
                                            </div>
                                            <div class="col-md-4 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select name="severiterec" [(ngModel)]="reclamation.reclamation.severite.id" matInput class="form-control">
                                                            <mat-option *ngFor="let item of severiteAll" [value]="item.id">{{item.libelle}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-2 my-auto">
                                                الحرجية
                                            </div>
                                            <div class="col-md-4 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select name="criticiterec" [(ngModel)]="reclamation.reclamation.criticite.id" matInput class="form-control">
                                                            <mat-option *ngFor="let item of criticiteAll" [value]="item.id">{{item.libelle}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <!--begin::Divider-->
                                        <mat-divider></mat-divider>
                                        <!--end::Divider-->
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <div class="col-md-2 my-auto">
                                                النوع
                                            </div>
                                            <div class="col-md-4 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select name="typerec" [(ngModel)]="reclamation.reclamation.typeReclamation.id" (selectionChange)="onChangeofOptionsType($event)" matInput class="form-control">
                                                            <mat-option *ngFor="let item of typeAll" [value]="item.id">{{item.libelle}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-2 my-auto">
                                                النوع الفرعي
                                            </div>
                                            <div class="col-md-4 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select name="soustyperec" [(ngModel)]="reclamation.reclamation.soustypeReclamation.id" matInput class="form-control">
                                                            <mat-option *ngFor="let item of sousTypeAll" [value]="item.id">{{item.libelle}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <!--end::Divider-->
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="espace_bloc"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-2">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-avatar"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            معلومات عن مقدم الطلب
                        </h3>
                    </div>
                    <!----<div class="kt-portlet__head-toolbar">
						<div class="kt-portlet__head-actions">
							<a routerLink="/personne-physique/personne-physique-form" id ="btnAddpp" style="display:none" href="#" class="btn btn-success btn_rec">
								<i class="flaticon2-add-1"></i>إضافة
							</a>
							<a id ="btnChangepp" (click)="editpp(reclamation.pps.id)" style="display:none"  class="btn btn-warning btn_rec">
								<i class="flaticon-edit"></i>تغيير
              </a>
              <a id ="btnAddpm"  routerLink="/personne-morale/personne-morale-form" style="display:none" href="#" class="btn btn-success btn_rec">
								<i class="flaticon2-add-1"></i>إضافة
							</a>
							<a id ="btnChangepm"  (click)="editpp(reclamation.pms.id)"style="display:none" href="#" class="btn btn-warning btn_rec">
								<i class="flaticon-edit"></i>تغيير
							</a>
						</div>
					</div>-->
                    <!-- <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            <a routerLink="/PersonnePhysiqueForm" id="btnAddpp" style="display:none" href="#"
                                class="btn btn-success btn_rec">
                                <i class="flaticon2-add-1"></i>إضافة
                            </a>
                            <a id="btnChangepp" (click)="editpp(reclamation.pps.id)" style="display:none"
                                class="btn btn-warning btn_rec">
                                <i class="flaticon-edit"></i>تغيير
                            </a>
                            <a id="btnAddpm" routerLink="/PersonneMoraleForm" style="display:none" href="#"
                                class="btn btn-success btn_rec">
                                <i class="flaticon2-add-1"></i>إضافة
                            </a>
                            <a id="btnChangepm" (click)="editpp(reclamation.pms.id)" style="display:none" href="#"
                                class="btn btn-warning btn_rec">
                                <i class="flaticon-edit"></i>تغيير
                            </a>
                        </div>
                    </div> -->
                </div>

                <div class="kt-portlet__body">

                    <div class="row">
                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%" id="pppp" style="display:none">
                                <tbody>
                                    <tr>
                                        <th>الاسم : </th>
                                        <td class="kt-font-bold">
                                            {{reclamation.pps.prenom}}
                                        </td>
                                        <th>النسب : </th>
                                        <td class="kt-font-bold">
                                            {{reclamation.pps.nom}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>البطاقة الوطنية : </th>
                                        <td class="kt-font-bold">{{reclamation.pps.cin}}</td>
                                        <th>الهاتف المحمول : </th>
                                        <td class="kt-font-bold">
                                            {{reclamation.pps.telephoneGsm}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table pj" width="100%" id="pmmm" style="display:none">
                                <tbody>
                                    <tr>
                                        <th>
                                            معرف الضريبة:
                                        </th>
                                        <td>
                                            {{reclamation.pms.rc}}
                                        </td>
                                        <th>
                                            السجل التجاري:
                                        </th>
                                        <td>
                                            {{reclamation.pms.identifiantFiscal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Numero Patente:
                                        </th>
                                        <td>{{reclamation.pms.numeroPatente}}</td>
                                        <th>الهاتف المحمول : </th>
                                        <td>
                                            {{reclamation.pms.teleGsm}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div align="right">
                                <!---  <button id="btnDetailpp" (click)="showpp(reclamation.pps.id)" style="display:none"
                                    type="button" class="btn btn-brand">التفاصيل</button>
                                <button id="btnDetailpm" (click)="showpm(reclamation.pms.id)" style="display:none"
                                    type="button" class="btn btn-brand">التفاصيل</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- begin:: Content section 3 -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-3">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon2-checking kt-font-inverse-brand"></i>
                        </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            معلومات الشكاية
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <form class="example-form">
                                <div class="row">
                                    <div class="col-md-12 show_port">
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                قناة الشكاية
                                            </div>
                                            <div class="col-md-9 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select name="canalrec" [(ngModel)]="reclamation.reclamation.canal.id" matInput class="form-control">
                                                            <mat-option *ngFor="let item of canalAll" [value]="item.id">{{item.libelle}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <!--begin::Divider-->
                                        <mat-divider></mat-divider>
                                        <!--end::Divider-->
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                وصف قصير
                                            </div>
                                            <div class="col-md-9 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <textarea name="descCourte" [(ngModel)]="reclamation.reclamation.descriptionCourte" matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10">{{reclamation.reclamation.descriptionCourte}}</textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                وصف طويل
                                            </div>
                                            <div class="col-md-9 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <textarea name="descLongue" matInput [(ngModel)]="reclamation.reclamation.descriptionLongue" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10">{{reclamation.reclamation.descriptionLongue}}</textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <!--end::Divider-->
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                تاريخ تسجيل الشكاية
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput class="form-control" [(ngModel)]="reclamation.reclamation.dateDepot" [matDatepicker]="picker4" [formControl]="serializedDate"> {{reclamation.reclamation.dateDepot | date: 'dd/MM/yyyy
                                                        '}}
                                                        <mat-datepicker-toggle matSuffix [for]="picker4">
                                                            <mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i></mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker touchUi="true" #picker4></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                ساعة تسجيل الشكاية
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <ngb-timepicker [(ngModel)]="time" name="time"></ngb-timepicker>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="espace_bloc"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet" style="
            height: 540px;
        ">
                <div class="kt-portlet__head kt-bg-portlet-4">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-information kt-font-inverse-brand"></i>
                        </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            معلومات المعالجة
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%">
                                <tbody>
                                    <tr>
                                        <th> الوضع : {{reclamation.reclamation.statutReclamation.libelle}} </th>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <th>تاريخ بدء المعالجة : {{reclamation.reclamation.dateDebutTraitement |date: 'dd/MM/yyyy '}}</th>
                                        <td></td>
                                        <th>
                                            ساعة بدء المعالجة : {{reclamation.reclamation.dateDebutTraitement |date: 'HH:mm'}}</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>تاريخ الانتهاء : {{reclamation.reclamation.dateFinTraitement |date: 'dd/MM/yyyy '}}</th>
                                        <td>
                                        </td>
                                        <th>
                                            ساعةالانتهاء : {{reclamation.reclamation.dateFinTraitement |date: ' HH:mm'}}</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>تاريخ الإغلاق : {{reclamation.reclamation.cloture |date: 'dd/MM/yyyy '}}</th>
                                        <td>
                                        </td>
                                        <th>
                                            ساعة الإغلاق : {{reclamation.reclamation.cloture |date: 'HH:mm'}}</th>
                                        <td>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>قناة الإجابة : {{reclamation.reclamation.canalreponse.libelle}}</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ملاحظات : {{reclamation.reclamation.observations}}</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="espace_bloc"></div>
                            <!--<form class="example-form">
                                <div class="row">
                                    <div class="col-md-12 show_port">
                                        <div class="row">
                                            <div class="col-md-6 my-auto">
                                                الوضع
                                            </div>
                                            <div class="col-md-6 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <mat-select matInput class="form-control">
                                                            <mat-option [value]="1">1</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                تاريخ بدء المعالجة
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput class="form-control" [matDatepicker]="picker"
                                                            [formControl]="serializedDate">
                                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                                            <mat-icon matDatepickerToggleIcon><i
                                                                    class="far fa-calendar-alt"></i></mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                ساعة بدء المعالجة
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <ngb-timepicker [(ngModel)]="time" name="time"></ngb-timepicker>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                تاريخ الانتهاء
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput class="form-control" [matDatepicker]="picker1"
                                                            [formControl]="serializedDate2">
                                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                                            <mat-icon matDatepickerToggleIcon><i
                                                                    class="far fa-calendar-alt"></i></mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                ساعةالانتهاء
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <ngb-timepicker [(ngModel)]="time2" name="time2"></ngb-timepicker>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>>
                                        <div class="row">
                                            <div class="col-md-3 my-auto">
                                                تاريخ الإغلاق
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput class="form-control" [matDatepicker]="picker2"
                                                            [formControl]="serializedDate3">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                                            <mat-icon matDatepickerToggleIcon><i
                                                                    class="far fa-calendar-alt"></i></mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                ساعة الإغلاق
                                            </div>
                                            <div class="col-md-3 my-auto">
                                                <ngb-timepicker [(ngModel)]="time4" name="time4"></ngb-timepicker>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <div class="col-md-6 my-auto">
                                                ملاحظات
                                            </div>
                                            <div class="col-md-6 my-auto">
                                                <div class="form-group">
                                                    <mat-form-field class="example-full-width">
                                                        <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                                                            matAutosizeMaxRows="10"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-5">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="flaticon-attachment"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            الوثائق المرفقة
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <div class="input-group">
                            <form>
                                <label class="input-group-btn">
                                <span class="btn btn-brand">
                                    اختيار الوثائق المرفقة <input type="file" (change)="save($event)" style="display: none;" multiple>
                                </span>
                            </label>
                                <input type="text" class="form-control" readonly>
                            </form>
                        </div>
                    </div>
                    <!---  <div id="psj">
                        <form>
                          <label class="custom-file-upload">
                            <input type="file" (change)="save($event)" multiple="multiple">
                            <i class="fa fa-cloud-upload"></i>إضافة وثائق مرفقة
                        </label>

                          <br>

                        </form>  </div>-->
                    <!--- <div class="row">
                            <ul >
                            <li *ngFor="let item of pjs ; index as i" >
                           {{item.name}} <a  (click)="onClickDeletePj(item.id,i)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="la la-trash"></i></a>
                          </li>
                          </ul>
                        </div>-->

                    <div class="row">

                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%">
                                <thead>
                                    <tr>
                                        <td width="50%">الوثائق المرفقة</td>
                                        <td>التحميل</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pjs ; index as i">
                                        <td> {{item.name}}</td>
                                        <td>
                                            <button type="button" class="btn btn_piecejoint_down" (click)="onClickPjName(item.idAlfresco,item.id)"><i
                                                    class="icon la la-cloud-download"></i></button>
                                            <!----   <button type="button" class="btn btn_piecejoint_down"
                                                (click)="onClickDeletePj(item.id,i)"><i
                                                    class="la la-remove
                                                    "></i></button>-->

                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" align="right">
                        <button type="button" (click)="onSubmit()" class="btn btn-success"><i class="far fa-save"></i>حفظ</button>
                        <!---- <button type="button" class="btn btn-info"><i class="fa fa-print"></i> الطبع</button>-->
                        <button *ngxPermissionsOnly="['accessToIndexReclamation']" type="button" class="btn btn-label-dark" routerLink="/reclamations/reclamation-detail"><i
                                class="flaticon2-list-2"></i> لائحة الشكايات</button>
                    </div>
                    <div class="espace_bloc"></div>
                </div>
            </div>
        </div>
    </div>
</div>