<!-- end section attachements-->
<div class="kt-portlet">
	<div class="kt-portlet__head kt-bg-portlet-5">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="flaticon-attachment"></i>
			</span>
			&nbsp;
			<h3 class="kt-portlet__head-title">
				{{ 'PAGES.ASSOCIATION.DOCUMENTS_ADMINISTRATIF' | translate }}
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="row">
			<div class="col-md-6 show_port input-group">
				<form enctype="multipart/form-data" method="POST" [formGroup]="addFileForm"
					style="display: -webkit-inline-box;margin-inline-start: 98px;">
					<label class="input-group-btn">
						<span class="btn btn-info">
							{{ 'PAGES.ATTCHEMENTS.SELECT_FILE' | translate }}<input type="file" name="file"
								(change)="fileChange($event)" formControlName="_file" id="customFile"
								style="display: none;" multiple>
						</span>
					</label>
					<input type="text" class="form-control" readonly>
					<mat-error *ngIf="isControlHasError('_file','required')">
						<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
					</mat-error>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End attachement section-->

<!--Action Section :: begin-->
<div class="kt-portlet__head">
	<div class="kt-portlet__head-label" align="right">
		<button _ngcontent-dkp-c41="" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			(click)="onSubmit()">
			<i _ngcontent-dkp-c41="" class="icon la la-floppy-o"></i>
			حفظ</button>
		<button _ngcontent-dkp-c41="" class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
			type="reset" (click)="back()">
			<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
			القائمة</button>
	</div>
	<div class="espace_bloc"></div>
</div>
<!--Action Section :: end-->
