/* EXPORT OPTIONS */

.fixe {
	text-align: right !important;
}

.btn-export {
	color: #ffffff !important;
	background-color: #3875e7 !important;
	padding: 5px 20px !important;
}

.export-align {
	margin-left: 4% !important;
}

.agence {
	width: 15% !important;
}

.actionsBtn {
	width: 15% !important;
	padding: 0 10px 0 0;
}

/* Pading row table*/

.action {
	width: 16% !important;
}


.dashed-line {
    border: 2px dashed #000; /* Adjust the width and color as needed */
    height: 0; /* Adjust the height of the element */
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse,
  }

  /* Dotted line style */
  .dotted-line {
    border: 2px dotted #000; /* Adjust the width and color as needed */
    width: 300px; /* Adjust the width of the element */
    height: 0; /* Adjust the height of the element */
    margin: 10px 0; /* Adjust margin as needed */
  }
