<div class="kt-content kt-grid__item kt-grid__item--fluid">
	<!--Begin::Section-->
	<div class="row">
		<div class="col-xl-12">
			<div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile">
				<div class="
						kt-portlet__head
						kt-portlet__head--lg
						kt-portlet__head--noborder
						kt-portlet__head--break-sm
					">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="far fa-newspaper"></i>
						</span>
						&nbsp;
						<h3 class="kt-portlet__head-title">
							Liste des qualifications
						</h3>

					</div>
					<div class="kt-portlet__head-toolbar">
						<div class="kt-portlet__head-wrapper">
							<div class="kt-portlet__head-actions">
								&nbsp;
								<button (click)="exportTable()" type="button" class="
										btn
										btn-sm
										btn-clean
										btn-icon
										btn-success
										btn-icon-md
										btn_table_show
									" matTooltip="{{
										'PAGES.GENERAL.DOWNLOAD' | translate
									}}&nbsp;{{
										'PAGES.MARCHE.AO.TITRE_INDEX_BC'
											| translate
									}}">
									<i class="flaticon2-download text-success"></i>
								</button>
								<a href="javascript:; " (click)="nouvelleao()"
									class="	btn btn-success btn-elevate btn-icon-sm	">
									<i class="la la-plus"></i>
									Ajouter qualification
								</a>
							</div>
						</div>
					</div>
				</div>
			

				<div class="kt-portlet__body">


					<div class="kt-portlet__body kt-portlet__body--fit">
						<div class="example-header col-md-4">
							<i class="
									flaticon-search-magnifier-interface-symbol
									text-dark
								"></i>&nbsp;
							<mat-form-field>
								<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{
										'PAGES.GENERAL.FILTER' | translate
									}}" />
							</mat-form-field>
						</div>
						<div class="example-container mat-elevation-z8">
								<table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8"
									matSort>
							

									<!-- OBJET -->
									<ng-container matColumnDef="id">
										<th mat-header-cell *matHeaderCellDef mat-sort-header class="objet">
											ID
										</th>
										<td mat-cell class="objet" *matCellDef="let row">
											{{
											row.id
											? row.id
											: "-"
											}} 
										
										</td>
									</ng-container>

									<!-- bordereauPrix -->
									<ng-container matColumnDef="lib">
										<th mat-header-cell *matHeaderCellDef mat-sort-header class="budgetEstimatif">
											Libellé
										</th>
										<td mat-cell class="budgetEstimatif" *matCellDef="let row">
											{{
												row.libelle
												? row.libelle
												: "-"
												}} 
										</td>
									</ng-container>							
									<ng-container matColumnDef="actions">
										<th mat-header-cell *matHeaderCellDef> {{
											"PAGES.PROGRAMME.ACTIONS" | translate }}</th>
										<td mat-cell *matCellDef="let row">
											<a href="javascript:;" (click)="show(row.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"><i
												class="la la-search-plus"></i></a>
												<a href="javascript:;" (click)="edit(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
												<a href="javascript:;" (click)="delete(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="la la-trash"></i></a>
											</td>
									</ng-container>
									<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
									<tr mat-row *matRowDef="
										let row;
										columns: displayedColumns
									"></tr>
								</table>
						
							<div *ngIf="sizeData == 0 && isLoading2 == false" style="
									display: flex;
									justify-content: center;
									padding: 2%;
									color: orangered;
								">
								{{ "PAGES.GENERAL.NO_RECORDS" | translate }}
							</div>
							<!-- <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
							<mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
							</mat-progress-spinner>
						</mat-card> -->

							<mat-paginator [length]="sizeData2" [pageSize]="5" [pageIndex]="0"
								[pageSizeOptions]="[5, 10, 50]" (page)="handlePageEvent($event)"
								showFirstLastButtons></mat-paginator>
							<hr />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>