<!-- begin:: Content -->
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="">
                        {{ 'PAGES.GENERAL.MAGASIN_SHOW' | translate }}
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-actions">

                        <a (click)="update()" class="btn btn-warning btn-sm btn-bold">
                            <i class="fas fa-edit"></i> {{ 'PAGES.GENERAL.EDIT' | translate }}
                        </a>
                        <a (click)="magasinDelete(magasin?.id)" class="btn btn-danger btn-sm btn-bold">
                            <i class="fas fa-times"></i> {{ 'PAGES.GENERAL.DELETE' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- begin:: Content section  -->
<div *ngIf="magasin">
    <div class="row">
        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-1">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                                <i class="fas fa-address-card kt-font-inverse-brand"></i>
                            </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            {{ 'PAGES.GENERAL.MAGASIN_FICHE' | translate }}
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%">
                                <tbody>
                                    <tr>
                                        <th>{{ 'PAGES.GENERAL.NUM_MAGASIN' | translate }} :</th>
                                        <td colspan="3">{{magasin.numMagasin}}</td>
                                        <th>{{ 'PAGES.GENERAL.SITUATION' | translate }} :</th>
                                        <td>{{ magasin.situation}}</td>
                                    </tr>

                                    <tr>

                                        <th>{{ 'PAGES.GENERAL.SUPERFICIE' | translate }} :</th>
                                        <td>{{ magasin.superficie}}</td>
                                        <th>{{ 'PAGES.GENERAL.DESTINATION_ECO' | translate }} :</th>
                                        <td>{{magasin.destinationEco?.libelle}}</td>

                                    </tr>


                                    <!-- <tr>
                                                <th>{{ 'PAGES.GENERAL.CONTENANCE' | translate }} :</th>
                                                <td>{{magasin.contenance}}</td>
                                            </tr> -->
                                </tbody>
                            </table>
                            <div class="espace_bloc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-3">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                                <i class="fas fa-home kt-font-inverse-brand"></i>
                            </span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">

                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%">
                                <tbody>
                                    <tr>
                                        <th>{{ 'PAGES.GENERAL.DATE_DEBUT_EXPLOITATION' | translate }} :</th>
                                        <td>{{magasin.debutExploitation|date:'dd/MM/yyyy'}}</td>
                                        <th>{{ 'PAGES.GENERAL.DATE_FIN_EXPLOITATION' | translate }} :</th>
                                        <td>{{magasin.finExploitation|date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'PAGES.GENERAL.DUREE_EXPLOITATION' | translate }} :</th>
                                        <td>{{magasin.dureeExploitation}}</td>
                                        <th>{{ 'PAGES.GENERAL.DATE_DERNIERCHG' | translate }} :</th>
                                        <td>{{magasin.dateDernierChg|date:'dd/MM/yyyy'}}</td>

                                    </tr>

                                    <tr>

                                        <th>{{ 'PAGES.GENERAL.OBSERVATION' | translate }} :</th>
                                        <td>{{magasin.observation}}</td>

                                    </tr>


                                </tbody>
                            </table>
                            <div class="espace_bloc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="magasin">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head kt-bg-portlet-4">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            {{ 'PAGES.GENERAL.MVML' | translate }}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            <a (click)="newMvmL(magasin.id)" class="btn btn-outline-success btn-bold btn-sm">
                                <i class="fas fa-plus"></i> {{ 'PAGES.GENERAL.AJOUTER_LOYER' | translate }}
                            </a>

                        </div>
                    </div>
                </div>
                <mat-tab-group dynamicHeight [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab *ngFor="let tab of asyncTabs | async">
                        <ng-template mat-tab-label>{{tab.label | translate }}</ng-template>
                        <!-- {{tab.content}} -->

                        <!-- PRESENCE TAB -->
                        <div *ngIf="tab.content == 1">
                            <div *ngIf="selected.value==0">
                                <kt-tab-loyer></kt-tab-loyer>
                            </div>
                        </div>

                        <!-- PERMANENCE TAB -->
                        <!-- <div *ngIf="tab.content == 2">
                    <div *ngIf="selected.value==1">
                            <kt-tab-mvmtransaction></kt-tab-mvmtransaction>
                    </div>
                </div> -->



                    </mat-tab>
                    <!-- <mat-tab label="Grid View">
              </mat-tab> -->
                </mat-tab-group>
                <!-- <div *ngIf="magasin.loyers" class="kt-portlet__body">
                                <div class="row">
                                        <div class="kt-section tab_content">
                                            <div class="kt-section__content">
                                                <ngb-tabset class="vue_globale">
                                                    <ngb-tab matTooltip="{{ 'PAGES.GENERAL.MVML' | translate }}">
                                                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-12 show_port">
                                        <table class="table" width="100%">
                                                <thead>
                                                    <tr>
                                                            <th>#</th>
                                                            <th>{{ 'PAGES.GENERAL.NUM_ACTE_LOCATION' | translate }}</th>
                                                            <th>{{ 'PAGES.GENERAL.DATE_ACTE' | translate }}</th>
                                                            <th>{{ 'PAGES.GENERAL.MONTANT_LOYER' | translate }}</th>
                                                            <th>{{ 'PAGES.GENERAL.LOCATAIRE' | translate }} </th>
                                                           
                                                            <th> </th>
                                                           
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="magasin.loyers">
                                                    <tr *ngFor="let loyer of magasin.loyers">
                                                            <td>{{loyer.id}}</td>
                                                       <td>{{loyer.numActeLocation}}</td>
                                                       <td>{{loyer.dateActe|date:'dd/MM/yyyy'}}</td>
                                                       <td>{{loyer.montantLoyer}}</td>
                                                       <td>{{loyer.locataire?.nom}} {{loyer.locataire?.prenom}}</td>
                                                     
                                                       <td>
                                                            <button routerLink="/marche/loyer-show/{{loyer.id}}" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"><i class="icon la la-search-plus"></i></button>
                                                            <button  class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"><i class="icon la la-edit"></i></button>
                                       
                                                             <button class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"><i class="icon la la-trash"></i></button>
                                                       </td>
                                                       
                                                    </tr>
                                                   
                                                   
                                                </tbody>
                                            </table>
                                            <div class="espace_bloc"></div>
                                            <a routerLink="/marche/{{magasin.id}}/loyer-new" class="btn btn-outline-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                                    <i class="fas fa-plus"></i> {{ 'PAGES.GENERAL.AJOUTER_MVML' | translate }}
                                            </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab> -->

                <!-- *************************Photos********************* -->
                <!-- <ngb-tab matTooltip="{{ 'PAGES.GENERAL.MARCHE_PHOTOS' | translate }}">
        <ng-template ngbTabContent>
<div class="row">
<div class="col-md-12 show_port">
<table class="table pj" width="100%">
<thead>
    <tr>
        <td width= "50%">{{ 'PAGES.GENERAL.MARCHE_PHOTOS' | translate }}</td>
        <td>{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}</td>
    </tr>
</thead>
    <tbody *ngIf="photos"> 
        <tr *ngFor="let item of photos">
            <td> {{item.name}}</td>
            <td>
                    <button type="button" class="btn btn_piecejoint_down" (click)="onClickPhotoName(item.idAlfresco,item.id)"><i class="icon la la-cloud-download"></i></button>
            </td>
        </tr>
    </tbody>
</table>

</div>
</div>
</ng-template>
</ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
                        </div> -->
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label" align="right">
                    <!--  <button type="button" class="btn btn-info"><i class="fa fa-print"></i> {{ 'PAGES.GENERAL.PRINT' | translate }}</button> -->
                    <button (click)=showMarche(magasin.marche.id) class="btn btn-brand btn-md btn-tall btn-wide"> {{ 'PAGES.GENERAL.EXIT' | translate }} <i class="fas fa-undo-alt"></i></button>
                </div>
                <div class="espace_bloc"></div>
            </div>
        </div>
    </div>
</div>