<!-- begin:: Content section 2 -->
<form class="kt-form" autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
	<div class="row">
		<div class="col-lg-12 col-md-offset-2">
			<div class="kt-portlet portlet-3">
				<div class="kt-portlet__head kt-bg-portlet-3">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="fas fa-box kt-font-inverse-brand"></i>
						</span>
						<h3 class="kt-portlet__head-title kt-font-inverse-brand">
							إضافة
							غرض
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" class="form-control" name="prepp"
										[(ngModel)]="formData.numRef" placeholder="الرقم المرجعي :" required>
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<input matInput type="text" class="form-control" placeholder="التسمية  :"
										[(ngModel)]="formData.libelle" name="nompp" required>
									<mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
									<!--- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<mat-form-field class="example-full-width">
									<textarea matInput type="text" class="form-control" name="cinpp"
										[(ngModel)]="formData.description" placeholder="الوصف:"></textarea>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Action Section :: begin-->
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label" align="right">
			<button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="submit">
				<i class="icon la la-floppy-o"></i>
				{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
			<button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset">
				<i class="la la-recycle"></i>
				{{ 'PAGES.GENERAL.RESET' | translate }}</button>
			<button class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset"
				(click)="backList()">
				<i class="icon la la-list"></i>
				{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
		</div>
		<div class="espace_bloc"></div>
	</div>
	<!--Action Section :: end-->
</form>
