<div class="kt-portlet">
    <div class="kt-portlet__head kt-bg-portlet-3">
        <div class="kt-portlet__head-label">
            <h2 class="kt-portlet__head-title">
                Liste des factures
            </h2>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button  type="button"
                        class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"
                        matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}&nbsp;{{ 'PAGES.AFFAIRE.TITRE_INDEX' | translate }}">
                        <i class="flaticon2-download text-success"></i>
                    </button>
                    <a href="javascript:; " (click)="addFacture()" class="btn btn-success btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i> Ajouter une facture
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="example-header  col-md-4">
        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'TRANSLATOR.SEARCHE' | translate }}">
        </mat-form-field>
    </div>

    <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2" matSort>
        <ng-container matColumnDef="numFacture">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="numFacture">Numéro de la facture
            </th>
            <td mat-cell *matCellDef="let row" class="numFacture">
                {{ row.id }}
            </td>
        </ng-container>
        <ng-container matColumnDef="espece">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="espece">Numéro de la facture
            </th>
            <td mat-cell *matCellDef="let row" class="espece">
				<span *ngFor="let item of row.especeFactures">
					<span>{{item.espece.espece}}</span><br>
				</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="montantTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="montantTotal">Montant total
            </th>
            <td mat-cell *matCellDef="let row" class="montantTotal">
                {{row.montanttotal}}
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="action"> {{ 'PAGES.GESTION_JOURNEE.ACTIONS' | translate }}</th>
            <td mat-cell *matCellDef="let row" class="actionsBtn action">

                <button type="button" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"
                    matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"> <a href="javascript:; "
                        (click)="updateFacture(row.id)">
                        <i class="icon la la-edit"></i>
                    </a></button>
                <button type="button" (click)="delete(row.id)"
                    class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"
                    matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource.data.length == 0 && isLoading == false"
        style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>
    <mat-paginator [pageSizeOptions]="[5,10,20,50]" [showFirstLastButtons]="true"></mat-paginator>    
    <hr>
</div>