<div class="main-content container">
  <div class="breadcrumb">
      <h1 class="mr-2">État Réparation</h1>
  </div>
  <!-- card of depot -->
  <div class="row">
      <div class="col-md-12 mb-4">
          <div class="card text-left">
              <div class="card-body">
                  <div class="tab-content" id="myIconTabContent">

                    <data-table 
                            [datasource]="listReparation" 
                            [headers]="headerData" 
                            [titleTable]="' Journal Centralisateur (Réparation)'">
                    </data-table>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

