<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-search-magnifier-interface-symbol"></i>
            </span>
            <div class="col-md-4">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
                </mat-form-field>
            </div>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <button *ngIf="dataSource.data.length > 0" (click)="exportTable()" type="button" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }}&nbsp;{{ 'PAGES.SUBVENTION.TITRE_INDEX' | translate }}">
                        <i class="flaticon2-download text-success"></i>
                    </button>
                    <a href="javascript:; " (click)="addSubvention()" *ngxPermissionsOnly="['canCreateSubvention']" class="btn btn-success btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i> {{ 'PAGES.SUBVENTION.TITRE_NEW' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <table id="exportDataSub" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- note Column -->
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.SUBVENTION.NOTE' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{row.note?row.note:"-"}} </td>
        </ng-container>
        <!-- dateSubvention  Column -->
        <ng-container matColumnDef="dateSubvention">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.SUBVENTION.DATE_SUB' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{row.anneeSubvention?row.anneeSubvention:"-"}}</td>
        </ng-container>
        <!-- dateSortSubvention  Column -->
        <ng-container matColumnDef="dateSortSubvention">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.SUBVENTION.DATE_SORT' | translate }}</th>
            <td mat-cell *matCellDef="let row">
                {{(row.dateSortSubvention != null)?(row.dateSortSubvention | date:'dd/MM/yyyy') : "-"}}</td>
        </ng-container>
        <!-- montantSubvention  Column -->
        <ng-container matColumnDef="montantSubvention">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.SUBVENTION.MONTANT' | translate }}</th>
            <td mat-cell *matCellDef="let row">
                {{(row.montantSubvention != null)?(row.montantSubvention | dirhamsCurrency) : "-"}} </td>
        </ng-container>
        <!-- etatSubvention  Column -->
        <ng-container matColumnDef="etatSubvention">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.SUBVENTION.ETAT_SUBV' | translate }}</th>
            <td mat-cell *matCellDef="let row"> {{row.etatSubvention.libelle?row.etatSubvention.libelle:"-"}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
                <button type="button" routerLink="/subventions/show-subventions/{{row.id}}" *ngxPermissionsOnly="['canShowSubvention']" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
                        class="icon la la-search-plus"></i></button>
                <button type="button" (click)="editSubvention(row)" *ngxPermissionsOnly="['canUpdateSubvention']" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="icon la la-edit"></i></button>
                <button type="button" (click)="deleteSubvention(row.id)" *ngxPermissionsOnly="['canDeleteSubvention']" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="icon la la-trash"></i></button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div *ngIf="dataSource.data.length == 0 && isLoading == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
        {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
    </div>
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
        </mat-progress-spinner>
    </mat-card>

    <mat-paginator *ngIf="dataSource != undefined &&  dataSource.data != undefined " [length]="dataSource.data.length"  [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5,10,50]" showFirstLastButtons></mat-paginator>
    <hr>
</div>
