<div class="kt-portlet__body">
    <div class="kt-section">
        <div class="example-header">
            <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>
                <!-- nom Column -->
                <ng-container matColumnDef="annee">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.GENERAL.ANNEE' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.anneeLoyer}} </mat-cell>
                </ng-container>
                <!-- num Column -->
                <ng-container matColumnDef="mois">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.GENERAL.MOIS_BENIFIC' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{mois[row.moisLoyer].libelle}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="montant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.GENERAL.MONTANT_BENIFIC' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.loyer.montantLoyer|macurrency}} </mat-cell>
                </ng-container>
                <!-- nbMagasins Column -->
                <ng-container matColumnDef="etat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.GENERAL.ETAT_REGLEMENT' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.etatReglement=='false'?'غير مدفوع': 'مدفوع'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numRecu">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGES.GENERAL.NUM_RECU' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.numRecu?row.numRecu:'-'}} </mat-cell>
                </ng-container>


                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button (click)="show(row.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show"><i class="icon la la-search-plus"></i></button>
                        <button (click)="update(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit"><i class="icon la la-edit"></i></button>
                        <!-- <button class="btn btn-sm btn-clean btn-icon btn-brand btn-icon-md btn_table_print"><i class="icon la la-print"></i></button> -->
                        <button (click)="delete(row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete"><i class="icon la la-trash"></i></button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>


    </div>
</div>