.nature{
    margin-top: -4px;
    width: 838px;
    margin-left: 10px;
}
.adresse{
    margin-top: -19px;
   
}
.tel{
    margin-top: -17px;
}
.arrondissement{
    margin-top: -20px;
}
button{
    margin-top: -254px;
}