.title-style{
	text-align: center;
    color: #ffffff;
    background-color: #2a5599;
    padding: 7px;
    font-size: inherit;
}

.title-style2{
	text-align: center;
    color: #ffffff;
    background-color: #4d4b4ed0;
    padding: 7px;
    font-size: inherit;
}

.objet {
	width: 20% !important;
	padding: 0 10px 0 5px !important;
}

.duree {
    width: 10% !important;
    padding: 0 5px 0 0px !important;
}

.tauxPhase {
    width: 10% !important;
    padding: 0 5px 0 0px !important;
}

.dateDebut {
	width: 10% !important;
	padding: 0 5px 0 0px !important;
}

.dateEffet {
	width: 10% !important;
	padding: 0 5px 0 0px !important;
}

.observation {
	width: 20% !important;
	padding: 0 5px 0 0px !important;
}

.statut {
	width: 8% !important;
	padding: 0 5px 0 0px !important;
}

.actions {
	width: 15% !important;
}