<div class="kt-content kt-grid__item kt-grid__item--fluid">

    <!--Begin::Dashboard 5-->

    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            الشكايات
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div *ngxPermissionsOnly="['canCreateReclamation']" class="kt-portlet__head-actions">
                                &nbsp;
                                <a href="javascript:; " (click)=" nouvelleReclamation()" class="btn btn-success btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i> إضافة شكاية
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="kt-portlet__body kt-portlet__body--fit">

                    <div class="example-header">
                        <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
                        </mat-form-field>
                    </div>

                    <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>

                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header> رقم الشكاية </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="chikaya_td"> {{row[0]}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="statut">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> الوضع </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[1]}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="severite">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> الخطورة </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[2]}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    النوع </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[3]}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="sousType">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    النوع الفرعي </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[4]}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="criticite">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    الحرجية </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[5]}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="dateDepot">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    تاريخ تسجيل الشكاية </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row[6] | date: 'dd/MM/yyyy '}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <a href="javascript:;" *ngxPermissionsOnly="['canShowReclamation']" (click)="showReclamation(row[0])" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i class="la la-search-plus"></i></a>
                                    <a href="javascript:;" *ngxPermissionsOnly="['canUpdateReclamation']" (click)="editReclamation(row[0])" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i class="la la-edit"></i></a>
                                    <a href="javascript:;" *ngxPermissionsOnly="['canProcessReclamation']" (click)="traiterReclamation(row[0])" class="btn btn-sm btn-clean btn-icon btn-primary btn-icon-md btn_table_print" title="traitement"><i class="fas fa-file-invoice"></i></a>
                                    <a href="javascript:;" *ngxPermissionsOnly="['canDeleteReclamation']" (click)="deleteReclamation(row[0])" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i class="la la-trash"></i></a>
                                </mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                            <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                            </mat-progress-spinner>
                        </mat-card>

                        <mat-paginator [pageSizeOptions]="[3,5, 10, 25]"></mat-paginator>
                    </div>

                </div>




            </div>
        </div>

        <!--End::Section-->

        <!--End::Dashboard 5-->
    </div>




    <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->