<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="details" class="kt-portlet portlet-1">
                <div class="kt-portlet__head kt-bg-portlet-2">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
							<i class="flaticon-home-2"></i>
						</span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            معلومات عن المقر
                        </h3>
                    </div>
                </div>
                <!-- *ngIf="details" -->
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 show_port">
                            <table class="table pj" width="100%">
                                <tbody>
                                    <tr>
                                        <th>إسم المقر :</th>
                                        <td class="donnee_show">{{details.designation}}</td>
                                        <th>المصلحة :</th>
                                        <td class="donnee_show">{{details.libelle}}</td>
                                    </tr>
                                    <tr>
                                        <th>وصف :</th>
                                        <td class="donnee_show" colspan="4">{{details.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- begin :: Action -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" align="right">
                        <button _ngcontent-dkp-c41="" matTooltip="{{ 'PAGES.GENERAL.EXIT' | translate }}" class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="reset" (click)="back()">
							<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
							{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
                    </div>
                    <div class="espace_bloc"></div>
                </div>
            </div>
        </div>
    </div>
</div>