.designation{
	width: 24% !important; 
    padding: 0 5px 0 0 !important;
}
.num-marche {
	width: 17% !important;
	padding-right: 5px !important;
}
.date-debut-prevue {
	width: 14% !important;
	padding: 0 5px 0 0 !important;
}
.date-fin-prevue {
	width: 12% !important;
	padding: 0 5px 0 0 !important;
}
.budget {
	width: 13% !important;
	padding: 0 5px 0 0 !important;
}
.actions {
	width: 20% !important;
}