<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title">
				{{ "PAGES.PROGRAMME.RETROPLANNING_PROJET" | translate }}
			</h2>
		</div>
	</div>
	<div class="   ">
		<form action="" class=" row" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
			<div class="">
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.NATURE_PROJET" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg"
							placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :" formControlName="nature"
							[(ngModel)]="selectedOptionsNP" (selectionChange)="addItemNature($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of natures" [value]="item.id">
								<div *ngIf="checkLang=='fr'">
									{{ item.libelleFrancais }}
								</div>
								<div *ngIf="checkLang=='ar'">
									{{ item.libelleArab }}
								</div>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group  fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Thème :</mat-label>

						<mat-select class="form-control-lg" multiple [(ngModel)]="selectedOptionsTheme"
							placeholder="Thème :" formControlName="theme" (selectionChange)="ThemeChange($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>

							<mat-option *ngFor="let item of listeTheme" [value]="item.id">
								<div *ngIf="checkLang=='fr'">
									{{ item.libelleFrancais }}
								</div>
								<div *ngIf="checkLang=='ar'">
									{{ item.libelleArab }}
								</div>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>Sous-thème :</mat-label>

						<mat-select class="form-control-lg" multiple [(ngModel)]="selectedOptionsSousTheme"
							(selectionChange)="addItemSousTheme($event.value)" placeholder="Sous-thème :"
							formControlName="sousTheme">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>

							<mat-option *ngFor="let item of listeSousTheme" [value]="item.id">
								<div *ngIf="checkLang=='fr'">
									{{ item.libelleFrancais }}
								</div>
								<div *ngIf="checkLang=='ar'">
									{{ item.libelleArab }}
								</div>
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.PROJET" | translate }} :</mat-label>
						<input type="text" class="form-control-solid form-control-lg" formControlName="nameProjet"
							matInput />
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">

				<div class="form-group fv-plugins-icoan-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ 'PAGES.PROGRAMME.CONVENTION' | translate }} :</mat-label>

						<mat-select class="form-control" multiple formControlName="convention"
							[(ngModel)]="selectedOptionsConvention" (selectionChange)="ConventionChange($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>

							<mat-option *ngFor="let item of listConvention" [value]="item">
								<span *ngIf="checkLang == 'fr'">
									{{ item?.object }}
								</span>
								<span *ngIf="checkLang == 'ar'">
									{{ item?.objectAr }}
								</span>
							</mat-option>
						</mat-select>
					</mat-form-field>

				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.DATE_DEBUT" | translate }} :</mat-label>
						<input type="date" class="form-control-solid form-control-lg" formControlName="dateDebut"
							matInput />
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.DATE_FIN" | translate }} :</mat-label>
						<input type="date" class="form-control-solid form-control-lg" formControlName="dateFin"
							matInput />
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.MAITRE_OUVRAGE_DELEGUE" | translate }} :</mat-label>
						<mat-select multiple class="form-control-lg"
							placeholder="{{ 'PAGES.PROGRAMME.NATURE_PROJET' | translate }} :"
							formControlName="maitreOuvrageDelegue" [(ngModel)]="selectedOptionsMOD"
							(selectionChange)="addItemMaitreOuvrageDelegue($event.value)">
							<mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
							<mat-option *ngFor="let item of maitreOuvrageDelegue" [value]="item">{{ item }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group fv-plugins-icon-container">
					<mat-form-field class="example-full-width">
						<mat-label>{{ "PAGES.PROGRAMME.ANNEE" | translate }} :</mat-label>
						<input matInput class="form-control" [matDatepicker]="picker5"
							placeholder="{{ 'PAGES.PROGRAMME.ANNEE' | translate }} :" formControlName="date" />
						<mat-datepicker-toggle matSuffix matSuffix [for]="picker5">
							<mat-icon matDatepickerToggleIcon><i class="far fa-calendar-alt"></i> </mat-icon>
						</mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #picker5></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<div class="col-md-9" style="margin-top: 15px;;">
			</div>
			<div class="col-md-3" style="margin-top: 15px;;">
				<button _ngcontent-dkp-c41=""
					class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
					<i _ngcontent-dlp-c41 class=" la la-search-plus"></i>
					{{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
				</button>
			</div>
			<div class="col-md-3" style="margin-top: 15px;;">
				<button (click)="initForm()" _ngcontent-dkp-c41=""
					class="btn btn-warning btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
					<i _ngcontent-dlp-c41 class="icon la "></i>
					{{ "PAGES.PROGRAMME.REINITIALISER" | translate }}
				</button>
			</div>
			<div class="col-md-3" style="margin-top: 15px;;">

				<button style="background-color: #7174cc;" (click)="exportTable()" type="button" class="btn btn-export"
					matTooltip="{{ 'PAGES.GENERAL.DOWNLOAD' | translate }} ">
					<i style="color: #ffffff;" _ngcontent-clk-c12="" class="icon la la-file-excel-o"></i><span
						style="color: #ffffff;">{{ 'PAGES.GENERAL.DOWNLOAD' | translate
						}}</span>
				</button>
			</div>



		</form>

	</div><br>
	<table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
		<ng-container matColumnDef="nature">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Nature</th>
			<td mat-cell *matCellDef="let row" class="num">{{row.sousTheme?.theme[0]?.nature[0]?.libelleFrancais ?
				row.sousTheme?.theme[0]?.nature[0]?.libelleFrancais : "-"}}</td>
		</ng-container>
		<ng-container matColumnDef="theme">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Théme</th>
			<td mat-cell *matCellDef="let row" class="num">{{row.sousTheme?.theme[0]?.libelleFrancais ?
				row.sousTheme?.theme[0]?.libelleFrancais : "-"}}</td>
		</ng-container>
		<ng-container matColumnDef="Soustheme">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Sous théme</th>
			<td mat-cell *matCellDef="let row" class="num">{{row.sousTheme?.libelleFrancais ?
				row.sousTheme?.libelleFrancais : "-"}}</td>
		</ng-container>

		<ng-container matColumnDef="codeProjet">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Code Projet</th>
			<td mat-cell *matCellDef="let row" class="num">{{row.codeProjet ? row.codeProjet : "-"}}</td>
		</ng-container>
		<ng-container matColumnDef="projet">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Projet</th>
			<td mat-cell *matCellDef="let row" class="num">{{row.nameProjet ? row.nameProjet : "-"}}</td>
		</ng-container>
		<ng-container matColumnDef="numSP">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Numéro Sous Projet</th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.numero ? item.numero : "-"}}</span><br>
				</span>
			</td>
		</ng-container>


		<ng-container matColumnDef="SP">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Sous Projet</th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.object ? item.object : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="MOD">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.PROGRAMME.MAITRE_OUVRAGE_DELEGUE" | translate }} </th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.maitreOuvrageDelegue ? item.maitreOuvrageDelegue : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="convention">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				convention </th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span *ngIf="checkLang == 'fr'">
						{{ item?.convention?.object }}
					</span>
					<span *ngIf="checkLang == 'ar'">
						{{ item?.convention?.objectAr }}
					</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="etatAvancement">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.PROGRAMME.ETAT_AVANCEMENT_PROJET" | translate }} </th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.etatAvancement ? item.etatAvancement : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="cout">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.PROGRAMME.COUTP" | translate }}</th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.constibutionC ? item.constibutionC : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="dateDebut">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.PROGRAMME.DATE_DEBUT" | translate }}</th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.dateDebut ? item.dateDebut : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="dateFin">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "PAGES.PROGRAMME.DATE_FIN" | translate }} </th>
			<td mat-cell *matCellDef="let row" class="num">
				<span *ngFor="let item of row.sousProjets">
					<span>{{item.dateFine ? item.dateFine : "-"}}</span><br>
				</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="action"> {{ "PAGES.PROGRAMME.ACTIONS" |
				translate }}</th>
			<td mat-cell *matCellDef="let row" class="actionsBtn action">
				<button type="button" routerLink="/parametrages/add-type-fichier"
					class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" (click)="Details(row)"
					matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
						class="icon la la-search-plus"></i></button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<div *ngIf="dataSource.data.length == 0 && isLoading == false"
		style="display: flex;justify-content: center;padding: 2%;color: orangered;">
		{{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
	</div>
	<mat-paginator [length]="sizeData" [pageSize]="5" [pageIndex]="0" [pageSizeOptions]="[5, 10, 50]"
		showFirstLastButtons (page)="handlePageEvent($event)"></mat-paginator>
	<hr>
</div>