<form class="kt-form" autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <!-- begin:: Content section 2 -->
    <div class="row">
        <div class="col-lg-12 col-md-offset-2">
            <div class="kt-portlet portlet-3">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
							<i class="fas fa-address-card kt-font-inverse-brand"></i>
						</span>
                        <h3 class="kt-portlet__head-title kt-font-inverse-brand">
                            تحديث شخص معنوي
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="إسم الهيئة / المؤسسة :" name="nom" [(ngModel)]="formData.nom" required>
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="العنوان :" name="adressepp" [(ngModel)]="formData.adresse">
                                    <mat-icon matSuffix><i class="fas fa-map-marked-alt"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" name="prenompp" placeholder="السجل التجاري :" [(ngModel)]="formData.rc">
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="  معرف الضريبة :" name="nompp" [(ngModel)]="formData.identifiantFiscal">
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                    <!--- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" name="cinpp" [(ngModel)]="formData.numeroPatente" placeholder=" رقم التعريف الضريبي :">
                                    <mat-icon matSuffix><i class="far fa-address-card"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="الهاتف الثابت :" name="teleFixpp" [(ngModel)]="formData.teleFixe">
                                    <mat-icon matSuffix><i class="fas fa-phone-alt"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="الهاتف المحمول :" name="teleGsmpp" [(ngModel)]="formData.teleGsm">
                                    <mat-icon matSuffix><i class="fas fa-mobile-alt"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="الفاكس :" name="faxpp" [(ngModel)]="formData.fax">
                                    <mat-icon matSuffix><i class="fas fa-fax"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" name="prenompp" placeholder="السجل التجاري :" [(ngModel)]="formData.rc">
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="معرف الضريبة :" name="nompp" [(ngModel)]="formData.identifiantFiscal">
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                    <!--- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" name="cinpp" [(ngModel)]="formData.numeroPatente" placeholder=" رقم التعريف الضريبي :">
                                    <mat-icon matSuffix><i class="far fa-keyboard"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="email" class="form-control" placeholder="البريد الإلكتروني :" name="emailpp" [(ngModel)]="formData.eMail">
                                    <mat-icon matSuffix><i class="fas fa-at"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="email" class="form-control" placeholder="الموقع الإلكتروني :" name="sitewebpm" [(ngModel)]="formData.siteWeb">
                                    <mat-icon matSuffix><i class="fab fa-google"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" class="form-control" placeholder="اتصال :" name="contactpm" [(ngModel)]="formData.contact">
                                    <mat-icon matSuffix><i class="
											fas fa-user-tie"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Action Section :: begin-->
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label" align="right">
            <button type="submit" class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
				<i class="icon la la-floppy-o"></i>
				{{ 'PAGES.GENERAL.SAVE' | translate }}</button>
            <button class="btn btn-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" type="button" (click)="back()">
				<i _ngcontent-dkp-c41="" class="icon la la-list"></i>
				{{ 'PAGES.GENERAL.EXIT' | translate }}</button>
        </div>
        <div class="espace_bloc"></div>
    </div>
    <!--Action Section :: end-->
</form>