<div novalidate autocomplete="off">
	<!-- {{addForm.value |json}} -->
	<div class="kt-portlet portlet-3">
		<div class="kt-portlet__head kt-bg-portlet-3">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title kt-font-inverse-brand">Ajouter Véhicule:</h2>
			</div>
		</div>
	</div>

    <form [formGroup]="ajoutForm" action="">
        <div class="row">
		<div class="col-md-12">
			<div class="form-group fv-plugins-icon-container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Matricule :</mat-label>
								<input formControlName="matricule" type="text" class="form-control-solid form-control-lg" name="matricule" matInput />
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Type véhicule :</mat-label>
								<mat-select
                                formControlName="vehicule"
									matNativeControl
									class="form-control"
								>
                                <mat-option *ngFor="let v of vehicule" [value]="v">{{v.libelle}}</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Couleur :</mat-label>
								<input formControlName="couleur" type="text" class="form-control-solid form-control-lg" name="address1" matInput />
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
                    <div class="col-md-6">
						<div class="form-group fv-plugins-icon-container">
							<mat-form-field class="example-full-width">
								<mat-label>Organisme :</mat-label>
								<mat-select
                                formControlName="organisme"
									matNativeControl
									class="form-control"
								>
                                <mat-option *ngFor="let o of organisme" [value]="o">{{o.type.libelle}}</mat-option>
								</mat-select>
							</mat-form-field>
							<div class="fv-plugins-message-container"></div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div  data-wizard-type="step-content">
						<h4 class=" font-weight-bold text-dark"></h4>
						<div class="kt-portlet">
							<div class="kt-portlet__body">
								<div class="row">
									<div class="col-md-12 show_port input-group">
										<form enctype="multipart/form-data" method="POST" style="display: -webkit-inline-box; margin-inline-start: 98px">
											<label class="input-group-btn">
												Pièce jointe
												<span class="btn btn-info">
													Sélectionner un fichier
													<input (change)="onPcJChange($event)" type="file" name="file" formControlName="_file" id="customFile" style="display: none" multiple />
												</span>
											</label>
											<input type="text" class="form-control" readonly />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row aa">
					<div class="col-md-12">
						<div class="form-group fv-plugins-icon-container">
							<div class="kt-portlet__heads">
								<div class="kt-portlet__head-label text-right">
									<button href="javascript:; " (click)="RetourEmbalages()" _ngcontent-dkp-c41="" class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
										<i _ngcontent-dkp-c41="" class="la la-recycle"></i>
										Retour
									</button>
									<button _ngcontent-tvp-c13="" (click)="ajouter()"  _ngcontent-dkp-c41="" class="btn btn-success btn-tall btn-wide kt-font-bold kt-font-transform-u" href="javascript:; "> ENREGISTRERs</button>
								</div>
							</div>
							<div class="espace_bloc"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>
	
</div>
