<div class="kt-content kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
							<i class="flaticon-layer"></i>
						</span> &nbsp;
                        <h3 class="kt-portlet__head-title">
                            التراخيص
                        </h3>
                    </div>
                    
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                &nbsp;
                                <button (click)="exportTable()" type="button" class="
                                btn
                                btn-sm
                                btn-clean
                                btn-icon
                                btn-success
                                btn-icon-md
                                btn_table_show
                            " matTooltip="{{
                                'PAGES.GENERAL.DOWNLOAD' | translate
                            }}&nbsp;{{
                                'PAGES.MARCHE.AO.TITRE_INDEX_BC'
                                    | translate
                            }}">
                            <i class="flaticon2-download text-success"></i>
                        </button>
                                <a href="javascript:; " *ngxPermissionsOnly="['canCreateAutorisation']" (click)=" nouvellepp()" class="btn btn-success btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i> إضافة ترخيص
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <div class="example-header">
                        <form action="" class="row" [formGroup]="formGroup" >
                            <div class="col-md-4">
                                <div class="form-group fv-plugins-icon-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>نوع الممتلك :</mat-label>
                                        <mat-select multiple class="form-control-lg" placeholder="نوع الممتلك:" formControlName="typeobj" (selectionChange)="addItemTypeBien($event.value)" [(ngModel)]="selectedOptionsTypeBien">
                                            <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                                            <mat-option *ngFor="let item of typeBien" [value]="item">
                                                {{item.typeObjetAutorisation}}</mat-option>                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fv-plugins-icon-container">

                                    <mat-form-field class="example-full-width">
                                        <mat-select class="form-control" name="typelll" formControlName="cin1" 
                                        (selectionChange)="onChangeofOptions1($event)"
                                            placeholder="البطاقة الوطنية">
                                            <div class="cursor">
                                                <input class="form-control" name="srch"formControlName="cin" 
                                                    (keyup)="onKey($event.target.value)" autofocus>
                                                <i></i>
                                            </div>

                                            <mat-option *ngFor="let item of dataArray" value="{{item}}">
                                                {{item}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- <mat-form-field class="example-full-width">
                                        <mat-label>البطاقة الوطنية :</mat-label>
                                        <mat-select multiple class="form-control-lg" placeholder="البطاقة الوطنية :" formControlName="cin" (selectionChange)="addItemCin($event.value)" [(ngModel)]="selectedOptionsCin">
                                            <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                                            <mat-option *ngFor="let item of cins" [value]="item">{{ item }}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fv-plugins-icon-container">
                                    <mat-form-field class="example-full-width">
                                        <mat-select class="form-control" name="rcSearch"  formControlName="rc1"
                                            (selectionChange)="onChangeofOptionsrc($event)"
                                            placeholder=" السجل التجاري">
                                            <div class="cursor">
                                                <input class="form-control" name="srch1"formControlName="rc"
                                                    (keyup)="onKeyRc($event.target.value)" autofocus>
                                                <i></i>
                                            </div>
                                            <mat-option *ngFor="let item of dataArrayRc" value="{{item}}">
                                                {{item}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-form-field class="example-full-width">
                                        <mat-label> السجل التجاري :</mat-label>
                                        <mat-select multiple class="form-control-lg" placeholder=" السجل التجاري :" formControlName="rc" (selectionChange)="addItemRc($event.value)" [(ngModel)]="selectedOptionsRc">
                                            <mat-option value="ALL">{{ 'PAGES.ASSOCIATION.SELECT_ALL' | translate }}</mat-option>
                                            <mat-option *ngFor="let item of rcs" [value]="item">{{ item }}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </div>
                            </div>
                            
                          
                           
                            <div class="col-md-3" style="margin-top: 15px;;">
                                <button _ngcontent-dkp-c41="" (click)="onSubmit()"
                                    class="btn btn-primary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                    <i _ngcontent-dlp-c41 class=" la la-search-plus"></i>
                                    {{ "PAGES.PROGRAMME.RECHERCHER" | translate }}
                                </button>
                            </div>
                            <div class="col-md-3" style="margin-top: 15px;;">
                                <button (click)="initForm()" _ngcontent-dkp-c41=""
                                    class="btn btn-warning btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u">
                                    <i _ngcontent-dlp-c41 class="icon la "></i>
                                    {{ "PAGES.PROGRAMME.REINITIALISER" | translate }}
                                </button>
                            </div>
                       
                
                
                
                        </form>
                        <!-- <i class="flaticon-search-magnifier-interface-symbol text-dark"></i>&nbsp;
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'PAGES.GENERAL.FILTER' | translate }}">
                        </mat-form-field> -->
                    </div>
                    <div class="example-container mat-elevation-z8">
                        <table id="exportData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell class="firt_column chikaya_th" *matHeaderCellDef mat-sort-header>
                                    رقم الترخيص </th>
                                <td mat-cell *matCellDef="let row" class="chikaya_td"> {{row.numAutorisation?row.numAutorisation:"-"}} </td>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="typeAut">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع الترخيص </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.typeAutorisation?row.typeAutorisation.typeAutorisation:"-"}} </td>
                            </ng-container>

                            <ng-container matColumnDef="statut">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    الوضع
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.statutdemandeautorisation?row.statutdemandeautorisation.libelle:"-"}}
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="dateDebut">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ البداية </th>
                                <td mat-cell *matCellDef="let row">
                                    {{(row.dateDebut != null)?(row.dateDebut | date: 'dd/MM/yyyy '):"-"}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="dateFin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    تاريخ النهاية </th>
                                <td mat-cell *matCellDef="let row">
                                    {{(row.dateFin != null)?(row.dateFin | date: 'dd/MM/yyyy '):"-"}}</td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="objet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    ممتلك الجماعة </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.objetdemandeautorisation?row.objetdemandeautorisation.objetDemandeAutorisation:"-"}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="typeObjet">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    نوع ممتلك الجماعة </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.typeobj?row.typeobj.typeObjetAutorisation:"-"}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let row">
                                    <a href="javascript:;" *ngxPermissionsOnly="['canShowAutorisation']" (click)="showAutorisation(row.id)" class="btn btn-sm btn-clean btn-icon btn-success btn-icon-md btn_table_show" matTooltip="{{ 'PAGES.GENERAL.DETAILS' | translate }}"><i
											class="la la-search-plus"></i></a>
                                    <a href="javascript:;" *ngxPermissionsOnly="['canUpdateAutorisation']" (click)="editAutorisation(row.id)" class="btn btn-sm btn-clean btn-icon btn-warning btn-icon-md btn_table_edit" matTooltip="{{ 'PAGES.GENERAL.EDIT' | translate }}"><i
											class="la la-edit"></i></a>
                                    <a href="javascript:;" *ngxPermissionsOnly="['canProcessAutorisation']" (click)="traiterAutorisation(row.id)" class="btn btn-sm btn-clean btn-icon btn-primary btn-icon-md btn_table_print" matTooltip="{{ 'PAGES.GENERAL.TRAITEMENT' | translate }}"><i
											class="fas fa-file-invoice"></i></a>
                                    <!---   <a href="javascript:;"(click)=" printReclamation(reclamation)"  class="btn btn-sm btn-clean btn-icon btn-brand btn-icon-md btn_table_print" title="Print"><i class="la la-print"></i></a>		-->
                                    <a href="javascript:;" *ngxPermissionsOnly="['canDeleteAutorisation']" (click)=" deleteAutorisation(row.id)" class="btn btn-sm btn-clean btn-icon btn-danger btn-icon-md btn_table_delete" matTooltip="{{ 'PAGES.GENERAL.DELETE' | translate }}"><i
											class="la la-trash"></i></a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>

                        <div *ngIf="datasize == 0 && isLoading == false" style="display: flex;justify-content: center;padding: 2%;color: orangered;">
                            {{ 'PAGES.GENERAL.NO_RECORDS' | translate }}
                        </div>
                        <!-- <kt-custom-pagination [page]="page" (nextPageEvent)="getNextPage()" (previousPageEvent)="getPreviousPage()" (pageSizeEvent)="getPageInNewSize($event)">
                        </kt-custom-pagination> -->
                        <mat-paginator [length]="datasize" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 50]"
		showFirstLastButtons (page)="handlePageEvent($event)"></mat-paginator>
                        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                            <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
                            </mat-progress-spinner>
                        </mat-card>
                   
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>